email/v3.0 — Email Newsletter Automation.json
{
  "name": "HowTo-Genie v3.0 — Email Newsletter Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "📬 Webhook: New Subscriber",
      "type": "n8n-nodes-base.webhook",
      "position": [-800, 176],
      "id": "6bba4810-096f-4fa4-8b5e-060f86239205",
      "typeVersion": 1,
      "webhookId": "newsletter-signup-hook",
      "notes": "Embed this webhook URL in your WordPress opt-in forms, popups, and lead magnets."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_CONFIG_LOADER_ID",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "email-04-load-config",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-640, 176],
      "notes": "Runs core/01_Config_Loader.json for EMAIL_NEWSLETTER_ENABLED, EMAIL_PROVIDER, CONVERTKIT_*, MAILERLITE_*, GOOGLE_SHEET_ID. Replace workflowId if using a different n8n instance. Single-provider (convertkit|mailerlite) from config; ESP sends first welcome and sequence."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('⚙️ Load Config').item.json;\nconst raw = cfg.EMAIL_NEWSLETTER_ENABLED;\nconst enabled = raw === true || String(raw).toLowerCase() === 'true';\nreturn [{ json: { EMAIL_NEWSLETTER_ENABLED: enabled, config: cfg } }];"
      },
      "id": "email-04-normalize-enable",
      "name": "🔧 Normalize Enable Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 176]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.EMAIL_NEWSLETTER_ENABLED }}",
              "value2": true
            }
          ]
        }
      },
      "name": "📧 Newsletter Enabled?",
      "type": "n8n-nodes-base.if",
      "position": [-320, 176],
      "id": "email-04-if-enabled",
      "typeVersion": 1,
      "notes": "When false: respond 200 and stop (no ESP add). When true: continue to Validate & Tag."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Thanks for signing up.' }) }}",
        "options": {}
      },
      "name": "📧 Respond (Newsletter Disabled)",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [-320, 340],
      "id": "email-04-respond-disabled",
      "typeVersion": 1,
      "notes": "Webhook responds 200 when EMAIL_NEWSLETTER_ENABLED is false; subscriber is not added to ESP."
    },
    {
      "parameters": {
        "jsCode": "// Validate and enrich subscriber data\nconst body = $input.first().json.body || $input.first().json;\n\nconst email = (body.email || '').toLowerCase().trim();\nconst name = (body.name || body.first_name || 'Friend').trim();\nconst source = body.source || body.utm_source || 'website';\nconst leadMagnet = body.lead_magnet || body.offer || 'free-guide';\nconst articleSlug = body.article_slug || '';\nconst tags = [];\n\n// Auto-tag based on source\nif (source.includes('facebook')) tags.push('source:facebook');\nif (source.includes('instagram')) tags.push('source:instagram');\nif (source.includes('organic')) tags.push('source:organic');\nif (articleSlug) tags.push('content:blog-reader');\nif (leadMagnet) tags.push(`magnet:${leadMagnet}`);\ntags.push('status:new-subscriber');\n\n// Email validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  return [{ json: { valid: false, error: 'Invalid email', original: body }}];\n}\n\n// Determine welcome sequence based on entry point\nlet sequence = 'general';\nif (articleSlug.includes('affiliate')) sequence = 'affiliate';\nelse if (articleSlug.includes('seo') || articleSlug.includes('blog')) sequence = 'blogging';\nelse if (articleSlug.includes('business')) sequence = 'business';\nelse if (articleSlug.includes('tech') || articleSlug.includes('tool')) sequence = 'tech';\n\nconst subscriber = {\n  valid: true,\n  email,\n  first_name: name.split(' ')[0],\n  full_name: name,\n  source,\n  lead_magnet: leadMagnet,\n  article_slug: articleSlug,\n  tags,\n  sequence,\n  subscribed_at: new Date().toISOString(),\n  ip: $input.first().json.headers?.['x-forwarded-for'] || 'unknown'\n};\n\nreturn [{ json: subscriber }];"
      },
      "name": "🔍 Validate & Tag Subscriber",
      "type": "n8n-nodes-base.code",
      "position": [-160, 176],
      "id": "c0970dea-ab80-4416-835d-924d3d89f86b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "name": "✅ Valid Email?",
      "type": "n8n-nodes-base.if",
      "position": [0, 176],
      "id": "d0be8f72-5d81-4988-b8b2-38949774cebd",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-provider",
              "leftValue": "={{ String($('🔧 Normalize Enable Flag').item.json.config.EMAIL_PROVIDER || '').toLowerCase() }}",
              "rightValue": "convertkit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "email-04-which-provider",
      "name": "📧 Which Provider?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [160, 176],
      "notes": "Single provider per run from config EMAIL_PROVIDER (convertkit | mailerlite). ESP sends first welcome and sequence on schedule."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.convertkit.com/v3/forms/{{ $('🔧 Normalize Enable Flag').item.json.config.CONVERTKIT_FORM_ID }}/subscribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $credentials.convertKitApi.apiKey }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"fields\": {\n    \"source\": \"{{ $json.source }}\",\n    \"sequence\": \"{{ $json.sequence }}\",\n    \"subscribed_at\": \"{{ $json.subscribed_at }}\"\n  }\n}",
        "options": {}
      },
      "name": "📧 Add to ConvertKit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [320, 80],
      "id": "9aef49b8-86dc-46df-931a-923d586e5281",
      "typeVersion": 4.1,
      "credentials": {
        "convertKitApi": {
          "id": "CONVERTKIT_CREDENTIAL_ID",
          "name": "ConvertKit API"
        }
      },
      "notes": "Adds subscriber to ConvertKit form/sequence. CONVERTKIT_FORM_ID or CONVERTKIT_SEQUENCE_ID from config. ESP sends first welcome and sequence (e.g. 0, 2, 5 days)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailerlite.com/api/v2/subscribers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-MailerLite-ApiKey",
              "value": "={{ $credentials.mailerLiteApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"name\": \"{{ $json.full_name }}\",\n  \"fields\": {\n    \"source\": \"{{ $json.source }}\",\n    \"sequence\": \"{{ $json.sequence }}\"\n  },\n  \"groups\": [\"{{ $('🔧 Normalize Enable Flag').item.json.config.MAILERLITE_GROUP_ID || '' }\"],\n  \"status\": \"active\"\n}",
        "options": {}
      },
      "name": "📧 Add to MailerLite",
      "type": "n8n-nodes-base.httpRequest",
      "position": [320, 272],
      "id": "56de0e85-711d-429c-ad85-3f3fca530eb7",
      "typeVersion": 4.1,
      "credentials": {
        "mailerLiteApi": {
          "id": "MAILERLITE_CREDENTIAL_ID",
          "name": "MailerLite API"
        }
      },
      "notes": "Adds subscriber to MailerLite group. MAILERLITE_GROUP_ID from config. Set automation on 'subscriber_joins_group' so ESP sends first welcome."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $('🔧 Normalize Enable Flag').item.json.config.GOOGLE_SHEET_ID || $('🔧 Normalize Enable Flag').item.json.config.SPREADSHEET_ID }}",
        "sheetName": "={{ $('🔧 Normalize Enable Flag').item.json.config.NEWSLETTER_SUBSCRIBERS_TAB || 'Subscribers' }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('🔍 Validate & Tag Subscriber').item.json.subscribed_at }}",
            "Email": "={{ $('🔍 Validate & Tag Subscriber').item.json.email }}",
            "Name": "={{ $('🔍 Validate & Tag Subscriber').item.json.full_name }}",
            "Source": "={{ $('🔍 Validate & Tag Subscriber').item.json.source }}",
            "Sequence": "={{ $('🔍 Validate & Tag Subscriber').item.json.sequence }}",
            "Tags": "={{ $('🔍 Validate & Tag Subscriber').item.json.tags.join(', ') }}",
            "Lead Magnet": "={{ $('🔍 Validate & Tag Subscriber').item.json.lead_magnet }}",
            "Status": "Active"
          }
        },
        "options": {}
      },
      "name": "📊 Log Subscriber to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [480, 176],
      "id": "d84e5a78-c574-43bb-a3a9-0d82d59082e4",
      "typeVersion": 4,
      "notes": "Optional. Sheet ID and tab from config (GOOGLE_SHEET_ID, NEWSLETTER_SUBSCRIBERS_TAB)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Welcome! Check your inbox.', subscriber: $('🔍 Validate & Tag Subscriber').item.json.email }) }}",
        "options": {}
      },
      "name": "✅ Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [640, 176],
      "id": "bd2fc6d9-c0dc-46b7-bb50-39393678afda",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 2"
            }
          ]
        }
      },
      "name": "📅 Weekly Digest Trigger (Tuesdays 9AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-800, 576],
      "id": "9507e3b1-d287-4caf-801b-228f2b281070",
      "typeVersion": 1,
      "notes": "Fires every Tuesday at 9AM for the weekly digest newsletter."
    },
    {
      "parameters": {
        "url": "https://your-blog.com/wp-json/wp/v2/posts?per_page=5&orderby=date&order=desc&status=publish",
        "options": {}
      },
      "name": "📰 Fetch Latest 5 Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-608, 576],
      "id": "5539ceca-1ec5-4e16-8b6b-af22a096d294",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.8
        }
      },
      "name": "🤖 AI: Write Weekly Digest",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [-400, 576],
      "id": "ff722df9-bed3-4fd9-9bd3-1c3641e8586f",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.convertkit.com/v3/broadcasts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_secret\": \"{{ $credentials.convertKitApi.apiSecret }}\",\n  \"subject\": \"{{ JSON.parse($json.response.match(/\\{[\\s\\S]*\\}/)[0]).subject }}\",\n  \"content\": \"{{ JSON.parse($json.response.match(/\\{[\\s\\S]*\\}/)[0]).body_html }}\",\n  \"published_at\": \"{{ $now.toISOString() }}\",\n  \"send_at\": \"{{ $now.toISOString() }}\"\n}",
        "options": {}
      },
      "name": "📤 Send Weekly Digest via ConvertKit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-208, 576],
      "id": "b6a2379a-a461-403b-8911-accd59824e63",
      "typeVersion": 4.1
    }
  ],
  "pinData": {},
  "connections": {
    "📬 Webhook: New Subscriber": {
      "main": [[{ "node": "⚙️ Load Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Load Config": {
      "main": [[{ "node": "🔧 Normalize Enable Flag", "type": "main", "index": 0 }]]
    },
    "🔧 Normalize Enable Flag": {
      "main": [[{ "node": "📧 Newsletter Enabled?", "type": "main", "index": 0 }]]
    },
    "📧 Newsletter Enabled?": {
      "main": [
        [{ "node": "🔍 Validate & Tag Subscriber", "type": "main", "index": 0 }],
        [{ "node": "📧 Respond (Newsletter Disabled)", "type": "main", "index": 0 }]
      ]
    },
    "🔍 Validate & Tag Subscriber": {
      "main": [[{ "node": "✅ Valid Email?", "type": "main", "index": 0 }]]
    },
    "✅ Valid Email?": {
      "main": [
        [{ "node": "📧 Which Provider?", "type": "main", "index": 0 }]
      ]
    },
    "📧 Which Provider?": {
      "main": [
        [{ "node": "📧 Add to ConvertKit", "type": "main", "index": 0 }],
        [{ "node": "📧 Add to MailerLite", "type": "main", "index": 0 }]
      ]
    },
    "📧 Add to ConvertKit": {
      "main": [[{ "node": "📊 Log Subscriber to Sheets", "type": "main", "index": 0 }]]
    },
    "📧 Add to MailerLite": {
      "main": [[{ "node": "📊 Log Subscriber to Sheets", "type": "main", "index": 0 }]]
    },
    "📊 Log Subscriber to Sheets": {
      "main": [[{ "node": "✅ Send Success Response", "type": "main", "index": 0 }]]
    },
    "📅 Weekly Digest Trigger (Tuesdays 9AM)": {
      "main": [[{ "node": "📰 Fetch Latest 5 Posts", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-04-02-email-refactor-20260312",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "Q1tHAOgWW9fmGJwu",
  "tags": []
}
