HowTo-Genie — Ollama Agent (Central).json
{
  "name": "HowTo-Genie — Ollama Agent (Central)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "user_message" },
            { "name": "system_message", "type": "string" },
            { "name": "model", "type": "string" },
            { "name": "temperature", "type": "number" },
            { "name": "num_predict", "type": "number" }
          ]
        }
      },
      "id": "ollama-central-start",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [200, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "={{ $json.system_message || 'You are a helpful assistant. Be concise and accurate.' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [440, 300],
      "id": "ollama-central-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "={{ $json.model || 'llama3.2:latest' }}",
        "options": {
          "temperature": "={{ $json.temperature ?? 0.7 }}",
          "keepAlive": "5m",
          "numCtx": "={{ $json.num_predict ?? 4096 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [440, 480],
      "id": "ollama-central-ollama",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "YOUR_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": { "contextWindowLength": 3 },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [440, 120],
      "id": "ollama-central-memory",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst content = item.output ?? item.text ?? item.message?.content ?? (typeof item === 'string' ? item : JSON.stringify(item));\nreturn [{ json: { message: { content } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "ollama-central-normalize",
      "name": "Normalize Output"
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Normalize Output", "type": "main", "index": 0 }]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {},
  "settings": { "executionOrder": "v1" },
  "tags": []
}
