HowTo-Genie — Content Writer (Ollama Agent).json
{
    "name": "HowTo-Genie — Content Writer (Ollama Agent)",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              { "name": "writer_instructions" },
              { "name": "topic" },
              { "name": "primary_keyword" },
              { "name": "content_outline" },
              { "name": "word_count_target", "type": "number" },
              { "name": "model", "type": "string" },
              { "name": "temperature", "type": "number" },
              { "name": "num_predict", "type": "number" }
            ]
          }
        },
        "id": "content-writer-start-001",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [200, 300]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.writer_instructions }}\n\nTOPIC: {{ $json.topic }}\nPRIMARY KEYWORD: {{ $json.primary_keyword }}\nCONTENT OUTLINE: {{ $json.content_outline }}\nTARGET WORDS: {{ $json.word_count_target }}\n\nWrite the complete article now. Use HTML formatting (h1, h2, h3, p, ul, ol, strong). Return the full article HTML. No JSON wrapper, just the raw HTML article.",
          "options": {
            "systemMessage": "You are an expert how-to content writer. Output only valid HTML with no markdown or code fences."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [440, 300],
        "id": "content-writer-agent-001",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "={{ $json.model }}",
          "options": {
            "temperature": "={{ $json.temperature }}",
            "keepAlive": "5m",
            "numCtx": "={{ $json.num_predict }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [440, 480],
        "id": "content-writer-ollama-001",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "YOUR_OLLAMA_CREDENTIAL_ID",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 5
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [440, 120],
        "id": "content-writer-memory-001",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          []
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {},
    "settings": { "executionOrder": "v1" },
    "tags": []
  }