content/v3.0 — Content Repurposing Engine.json
{
  "name": "HowTo-Genie v3.0 — Content Repurposing Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      },
      "name": "⚙️ Repurposing Trigger (Noon Daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -928,
        224
      ],
      "id": "686655db-38a6-4b15-86fc-5e1b9aefb4d5",
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultName": "⚙️ Config Loader",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-rep0-loadconfig",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -720,
        224
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_LOG_TAB || 'Content Log' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📄 Get Today's Post Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -512,
        224
      ],
      "id": "c23188f1-b490-438c-af5f-0438bd923f3b",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst rows = $input.all().map(i => i.json);\nconst dateKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date') || 'date';\nconst statusKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'status') || 'status';\nconst urlKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase().includes('url') || k === 'WP URL') || 'wp_url';\nconst valid = rows.filter(r => {\n  const d = (r[dateKey] || r.date || '').toString().slice(0, 10);\n  const s = (r[statusKey] || r.status || '').toLowerCase();\n  return d === today && s !== 'publish_failed';\n});\nif (valid.length === 0) return [{ json: { noPostToday: true } }];\nconst latest = valid[valid.length - 1];\nconst wpUrl = latest[urlKey] || latest.wp_url || '';\nconst slug = wpUrl.split('/').filter(Boolean).pop() || '';\nreturn [{ json: { ...latest, slug, noPostToday: false } }];"
      },
      "name": "Filter today's post",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        224
      ],
      "id": "b2c3d4e5-f6a7-8901-rep0-filter",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-no-post",
              "leftValue": "={{ $json.noPostToday }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "No post today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -96,
        224
      ],
      "id": "c3d4e5f6-a7b8-9012-rep0-nopost"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.REPURPOSED_CONTENT_TAB || 'Repurposed Content' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read Repurposed Content",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        8,
        224
      ],
      "id": "d4e5f6a7-b8c9-0123-rep0-readrep",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst filterRow = $('Filter today\\'s post').item.json;\nconst slug = filterRow.slug || (filterRow['WP URL'] || '').split('/').filter(Boolean).pop() || '';\nconst contentDate = (filterRow.date || filterRow.Date || '').toString().slice(0, 10) || new Date().toLocaleDateString('en-CA', { timeZone: config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC' });\nconst key = `${slug}|${contentDate}`;\nconst rows = $input.all().map(i => i.json);\nconst dateCol = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date') || 'Date';\nconst urlCol = Object.keys(rows[0] || {}).find(k => k.toLowerCase().includes('url') || k === 'Source URL') || 'Source URL';\nconst already = rows.some(r => {\n  const rSlug = (r[urlCol] || r['Source URL'] || '').split('/').filter(Boolean).pop();\n  const rDate = String(r[dateCol] || r['Date'] || '').slice(0, 10);\n  return `${rSlug}|${rDate}` === key;\n});\nreturn [{ json: { alreadyRepurposed: already, slug, contentDate, ...filterRow } }];"
      },
      "name": "Already repurposed?",
      "type": "n8n-nodes-base.code",
      "position": [
        120,
        224
      ],
      "id": "e5f6a7b8-c9d0-1234-rep0-already",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-already",
              "leftValue": "={{ $json.alreadyRepurposed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Skip if already repurposed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        232,
        224
      ],
      "id": "f6a7b8c9-d0e1-2345-rep0-ifrep",
      "notes": "True = skip append; False = continue to Fetch"
    },
    {
      "parameters": {
        "url": "={{ ($('⚙️ Load Config').item.json.WORDPRESS_URL || '').replace(/\\/$/, '') }}/wp-json/wp/v2/posts?slug={{ $json.slug }}",
        "options": {}
      },
      "name": "📥 Fetch Full Article",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        344,
        224
      ],
      "id": "25b9bde3-6226-49c8-8dd3-75a6a50959c6",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Clean and prepare article for repurposing\nconst post = $input.first().json[0] || $input.first().json;\nconst rawContent = post?.content?.rendered || post?.content || '';\n\n// Strip HTML tags\nconst cleanContent = rawContent\n  .replace(/<[^>]*>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Extract key sections\nconst title = post?.title?.rendered || 'Article';\nconst url = post?.link || 'https://howtogenie.com';\nconst excerpt = post?.excerpt?.rendered?.replace(/<[^>]*>/g,'').trim() || cleanContent.substring(0,200);\nconst wordCount = cleanContent.split(' ').length;\n\n// Extract headings for structure\nconst headingMatches = rawContent.match(/<h[23][^>]*>(.*?)<\\/h[23]>/gi) || [];\nconst headings = headingMatches.map(h => h.replace(/<[^>]*>/g,'').trim());\n\nreturn [{ json: {\n  title,\n  url,\n  excerpt,\n  clean_content: cleanContent.substring(0, 5000), // Limit for AI context\n  word_count: wordCount,\n  headings,\n  post_id: post?.id,\n  categories: post?.categories || [],\n  tags: post?.tags || []\n}}];"
      },
      "name": "🧹 Clean & Extract Article",
      "type": "n8n-nodes-base.code",
      "position": [
        536,
        224
      ],
      "id": "ecc120ac-199b-4914-894a-3b7334cbdaa5",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const article = $input.first().json;\nconst config = $('⚙️ Load Config').item.json;\nconst raw = (config.REPURPOSE_FORMATS || 'twitter,linkedin,ig_carousel,podcast,community').toString().trim();\nconst enabledFormats = raw ? raw.split(',').map(s => s.trim()).filter(Boolean) : [];\nconst allFormats = ['twitter','linkedin','ig_carousel','podcast','community'];\nreturn allFormats.map(f => ({ json: { format: f, skip: !enabledFormats.includes(f), ...article } }));"
      },
      "name": "Build format list",
      "type": "n8n-nodes-base.code",
      "position": [656, 224],
      "id": "rep02-build-format-list",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "twitter", "operator": { "type": "string", "operation": "equals" } }] },
            { "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "linkedin", "operator": { "type": "string", "operation": "equals" } }] },
            { "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "ig_carousel", "operator": { "type": "string", "operation": "equals" } }] },
            { "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "podcast", "operator": { "type": "string", "operation": "equals" } }] },
            { "conditions": [{ "leftValue": "={{ $json.format }}", "rightValue": "community", "operator": { "type": "string", "operation": "equals" } }] }
          ]
        },
        "options": {}
      },
      "name": "Switch format",
      "type": "n8n-nodes-base.switch",
      "position": [768, 224],
      "id": "rep02-switch-format",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || $input.first().json.message?.content || '';\nlet parsed;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  parsed = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (parsed.success === false) parsed = { success: false, data: null, error: parsed.error || { code: '', message: '' } };\n  else if (!parsed.data && parsed.success !== false) parsed = { success: true, data: parsed, error: null };\n} catch (e) {\n  parsed = { success: false, data: null, error: { code: 'parse_error', message: String(e.message) } };\n}\nreturn [{ json: { ...parsed, format: 'twitter' } }];"
      },
      "name": "Parse & Validate Twitter",
      "type": "n8n-nodes-base.code",
      "position": [960, -80],
      "id": "rep02-parse-twitter",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || $input.first().json.message?.content || '';\nlet parsed;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  parsed = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (parsed.success === false) parsed = { success: false, data: null, error: parsed.error || { code: '', message: '' } };\n  else if (!parsed.data && parsed.success !== false) parsed = { success: true, data: parsed, error: null };\n} catch (e) {\n  parsed = { success: false, data: null, error: { code: 'parse_error', message: String(e.message) } };\n}\nreturn [{ json: { ...parsed, format: 'twitter' } }];"
      },
      "name": "Parse & Validate LinkedIn",
      "type": "n8n-nodes-base.code",
      "position": [960, 80],
      "id": "rep02-parse-linkedin",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || $input.first().json.message?.content || '';\nlet parsed;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  parsed = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (parsed.success === false) parsed = { success: false, data: null, error: parsed.error || { code: '', message: '' } };\n  else if (!parsed.data && parsed.success !== false) parsed = { success: true, data: parsed, error: null };\n} catch (e) {\n  parsed = { success: false, data: null, error: { code: 'parse_error', message: String(e.message) } };\n}\nreturn [{ json: { ...parsed, format: 'linkedin' } }];"
      },
      "name": "Parse & Validate IG Carousel",
      "type": "n8n-nodes-base.code",
      "position": [960, 224],
      "id": "rep02-parse-ig",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || $input.first().json.message?.content || '';\nlet parsed;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  parsed = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (parsed.success === false) parsed = { success: false, data: null, error: parsed.error || { code: '', message: '' } };\n  else if (!parsed.data && parsed.success !== false) parsed = { success: true, data: parsed, error: null };\n} catch (e) {\n  parsed = { success: false, data: null, error: { code: 'parse_error', message: String(e.message) } };\n}\nreturn [{ json: { ...parsed, format: 'podcast' } }];"
      },
      "name": "Parse & Validate Podcast",
      "type": "n8n-nodes-base.code",
      "position": [960, 384],
      "id": "rep02-parse-podcast",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || $input.first().json.message?.content || '';\nlet parsed;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  parsed = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (parsed.success === false) parsed = { success: false, data: null, error: parsed.error || { code: '', message: '' } };\n  else if (!parsed.data && parsed.success !== false) parsed = { success: true, data: parsed, error: null };\n} catch (e) {\n  parsed = { success: false, data: null, error: { code: 'parse_error', message: String(e.message) } };\n}\nreturn [{ json: { ...parsed, format: 'community' } }];"
      },
      "name": "Parse & Validate Community",
      "type": "n8n-nodes-base.code",
      "position": [960, 528],
      "id": "rep02-parse-community",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Skip this format?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, -80],
      "id": "rep02-if-skip-twitter"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Skip this format? (LinkedIn)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, 80],
      "id": "rep02-if-skip-linkedin"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Skip this format? (IG)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, 224],
      "id": "rep02-if-skip-ig"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Skip this format? (Podcast)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, 384],
      "id": "rep02-if-skip-podcast"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Skip this format? (Community)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [848, 528],
      "id": "rep02-if-skip-community"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst format = item.format;\nreturn [{ json: { format, success: false, data: null, error: { code: 'skipped', message: 'Format not in REPURPOSE_FORMATS' } } }];"
      },
      "name": "Placeholder Twitter",
      "type": "n8n-nodes-base.code",
      "position": [960, -160],
      "id": "rep02-placeholder-twitter",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst format = item.format;\nreturn [{ json: { format, success: false, data: null, error: { code: 'skipped', message: 'Format not in REPURPOSE_FORMATS' } } }];"
      },
      "name": "Placeholder LinkedIn",
      "type": "n8n-nodes-base.code",
      "position": [960, 0],
      "id": "rep02-placeholder-linkedin",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst format = item.format;\nreturn [{ json: { format, success: false, data: null, error: { code: 'skipped', message: 'Format not in REPURPOSE_FORMATS' } } }];"
      },
      "name": "Placeholder IG",
      "type": "n8n-nodes-base.code",
      "position": [960, 144],
      "id": "rep02-placeholder-ig",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst format = item.format;\nreturn [{ json: { format, success: false, data: null, error: { code: 'skipped', message: 'Format not in REPURPOSE_FORMATS' } } }];"
      },
      "name": "Placeholder Podcast",
      "type": "n8n-nodes-base.code",
      "position": [960, 304],
      "id": "rep02-placeholder-podcast",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst format = item.format;\nreturn [{ json: { format, success: false, data: null, error: { code: 'skipped', message: 'Format not in REPURPOSE_FORMATS' } } }];"
      },
      "name": "Placeholder Community",
      "type": "n8n-nodes-base.code",
      "position": [960, 448],
      "id": "rep02-placeholder-community",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 5,
        "options": {}
      },
      "name": "Merge format outputs",
      "type": "n8n-nodes-base.merge",
      "position": [1160, 224],
      "id": "rep02-merge-outputs",
      "typeVersion": 3
    },
    {
      "parameters": { "mode": "append", "options": {} },
      "name": "Merge Twitter branch",
      "type": "n8n-nodes-base.merge",
      "position": [1080, -120],
      "id": "rep02-merge-tw",
      "typeVersion": 3
    },
    {
      "parameters": { "mode": "append", "options": {} },
      "name": "Merge LinkedIn branch",
      "type": "n8n-nodes-base.merge",
      "position": [1080, 40],
      "id": "rep02-merge-li",
      "typeVersion": 3
    },
    {
      "parameters": { "mode": "append", "options": {} },
      "name": "Merge IG branch",
      "type": "n8n-nodes-base.merge",
      "position": [1080, 184],
      "id": "rep02-merge-ig",
      "typeVersion": 3
    },
    {
      "parameters": { "mode": "append", "options": {} },
      "name": "Merge Podcast branch",
      "type": "n8n-nodes-base.merge",
      "position": [1080, 344],
      "id": "rep02-merge-pod",
      "typeVersion": 3
    },
    {
      "parameters": { "mode": "append", "options": {} },
      "name": "Merge Community branch",
      "type": "n8n-nodes-base.merge",
      "position": [1080, 488],
      "id": "rep02-merge-com",
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.85
        }
      },
      "name": "🐦 AI: Create Twitter Thread",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -128,
        -80
      ],
      "id": "19f44fe2-2512-4265-8f6d-ec9a1c3ed30f",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.75
        }
      },
      "name": "💼 AI: Create LinkedIn Article",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -128,
        80
      ],
      "id": "46d9a2fe-df1b-42d0-8781-3f4ffebaf0d3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.8
        }
      },
      "name": "📸 AI: Create IG Carousel",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -128,
        224
      ],
      "id": "4dd81d8a-bde2-4ea9-8309-f247ba9c9dc4",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.75
        }
      },
      "name": "🎙️ AI: Create Podcast Script",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -128,
        384
      ],
      "id": "4a6ac655-4823-4c44-97ed-86a4a01a75a0",
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.8
        }
      },
      "name": "🌐 AI: Create Community Content",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -128,
        528
      ],
      "id": "ac4f48bb-b9c5-4f91-9569-6625c7c56e79",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// One row per post: Source URL, Date (content day), per-format columns, Timestamp. Column contract: Source URL, Date, Timestamp, twitter_text, linkedin_text, ig_carousel_json, podcast_script, community_text.\nconst config = $('⚙️ Load Config').item.json;\nconst filterRow = $('Filter today\\'s post').item.json;\nconst mergeItems = $input.all().map(i => i.json);\nconst sourceUrl = filterRow['WP URL'] || filterRow.wp_url || filterRow.url || '';\nconst contentDate = (filterRow.date || filterRow.Date || '').toString().slice(0, 10);\nconst timestamp = new Date().toISOString();\nconst row = { 'Source URL': sourceUrl, 'Date': contentDate, 'Timestamp': timestamp };\nfor (const item of mergeItems) {\n  const f = item.format;\n  if (f === 'twitter') row.twitter_text = item.success && item.data ? (item.data.tweets ? item.data.tweets.map(t => (t.text || t)).join('\\n') : JSON.stringify(item.data)) : (item.error?.message || '');\n  else if (f === 'linkedin') row.linkedin_text = item.success && item.data ? (item.data.article_body || item.data.body || JSON.stringify(item.data)) : (item.error?.message || '');\n  else if (f === 'ig_carousel') row.ig_carousel_json = item.success && item.data ? JSON.stringify(item.data) : (item.error?.message || '');\n  else if (f === 'podcast') row.podcast_script = item.success && item.data ? (item.data.full_script || item.data.script || JSON.stringify(item.data)) : (item.error?.message || '');\n  else if (f === 'community') row.community_text = item.success && item.data ? JSON.stringify(item.data) : (item.error?.message || '');\n}\nreturn [{ json: row }];"
      },
      "name": "📦 Assemble repurposed payload",
      "type": "n8n-nodes-base.code",
      "position": [
        728,
        224
      ],
      "id": "2408a97d-c71a-4858-aa20-c7d880b72211",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.REPURPOSED_CONTENT_TAB || 'Repurposed Content' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source URL": "={{ $json['Source URL'] }}",
            "Date": "={{ $json['Date'] }}",
            "Timestamp": "={{ $json['Timestamp'] }}",
            "twitter_text": "={{ $json.twitter_text || '' }}",
            "linkedin_text": "={{ $json.linkedin_text || '' }}",
            "ig_carousel_json": "={{ $json.ig_carousel_json || '' }}",
            "podcast_script": "={{ $json.podcast_script || '' }}",
            "community_text": "={{ $json.community_text || '' }}"
          }
        },
        "options": {}
      },
      "name": "📊 Log to Repurposed Content Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        920,
        224
      ],
      "id": "67d529eb-9e72-48ca-8f5f-ea03b715114f",
      "typeVersion": 4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.TWITTER_QUEUE_TAB || '' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json['Date'] }}",
            "Source URL": "={{ $json['Source URL'] }}",
            "Tweet 1 (Hook)": "={{ ($json.twitter_text || '').split('\\n')[0] }}",
            "Tweet 2": "={{ ($json.twitter_text || '').split('\\n')[1] || '' }}",
            "Tweet 3": "={{ ($json.twitter_text || '').split('\\n')[2] || '' }}",
            "Status": "Ready to Post"
          }
        },
        "options": {}
      },
      "name": "🐦 Save Twitter Thread Queue",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        920,
        80
      ],
      "id": "f6a04420-216a-43b5-aea4-f01453afaaa5",
      "typeVersion": 4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.PODCAST_QUEUE_TAB || '' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json['Date'] }}",
            "Source URL": "={{ $json['Source URL'] }}",
            "Script Preview": "={{ ($json.podcast_script || '').substring(0, 500) }}",
            "Status": "Script Ready — Record Now"
          }
        },
        "options": {}
      },
      "name": "🎙️ Save Podcast Queue",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        920,
        384
      ],
      "id": "e2b49d79-8323-434c-ba3f-b7e0a3503249",
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has", "leftValue": "={{ ($('⚙️ Load Config').item.json.TWITTER_QUEUE_TAB || '').toString().trim() }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Twitter Queue Tab?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 80],
      "id": "rep02-if-twitter-tab"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has", "leftValue": "={{ ($('⚙️ Load Config').item.json.PODCAST_QUEUE_TAB || '').toString().trim() }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Podcast Queue Tab?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 384],
      "id": "rep02-if-podcast-tab"
    }
  ],
  "pinData": {},
  "connections": {
    "⚙️ Repurposing Trigger (Noon Daily)": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "📄 Get Today's Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Get Today's Post Data": {
      "main": [
        [
          {
            "node": "Filter today's post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter today's post": {
      "main": [
        [
          {
            "node": "No post today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No post today?": {
      "main": [
        [],
        [
          {
            "node": "Read Repurposed Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Repurposed Content": {
      "main": [
        [
          {
            "node": "Already repurposed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already repurposed?": {
      "main": [
        [
          {
            "node": "Skip if already repurposed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if already repurposed?": {
      "main": [
        [],
        [
          {
            "node": "📥 Fetch Full Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch Full Article": {
      "main": [[{ "node": "🧹 Clean & Extract Article", "type": "main", "index": 0 }]]
    },
    "🧹 Clean & Extract Article": {
      "main": [[{ "node": "Build format list", "type": "main", "index": 0 }]]
    },
    "Build format list": {
      "main": [[{ "node": "Switch format", "type": "main", "index": 0 }]]
    },
    "Switch format": {
      "main": [
        [{ "node": "Skip this format?", "type": "main", "index": 0 }],
        [{ "node": "Skip this format? (LinkedIn)", "type": "main", "index": 0 }],
        [{ "node": "Skip this format? (IG)", "type": "main", "index": 0 }],
        [{ "node": "Skip this format? (Podcast)", "type": "main", "index": 0 }],
        [{ "node": "Skip this format? (Community)", "type": "main", "index": 0 }]
      ]
    },
    "Skip this format?": {
      "main": [
        [{ "node": "Placeholder Twitter", "type": "main", "index": 0 }],
        [{ "node": "🐦 AI: Create Twitter Thread", "type": "main", "index": 0 }]
      ]
    },
    "Skip this format? (LinkedIn)": {
      "main": [
        [{ "node": "Placeholder LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "💼 AI: Create LinkedIn Article", "type": "main", "index": 0 }]
      ]
    },
    "Skip this format? (IG)": {
      "main": [
        [{ "node": "Placeholder IG", "type": "main", "index": 0 }],
        [{ "node": "📸 AI: Create IG Carousel", "type": "main", "index": 0 }]
      ]
    },
    "Skip this format? (Podcast)": {
      "main": [
        [{ "node": "Placeholder Podcast", "type": "main", "index": 0 }],
        [{ "node": "🎙️ AI: Create Podcast Script", "type": "main", "index": 0 }]
      ]
    },
    "Skip this format? (Community)": {
      "main": [
        [{ "node": "Placeholder Community", "type": "main", "index": 0 }],
        [{ "node": "🌐 AI: Create Community Content", "type": "main", "index": 0 }]
      ]
    },
    "Placeholder Twitter": { "main": [[{ "node": "Merge Twitter branch", "type": "main", "index": 0 }]] },
    "Placeholder LinkedIn": { "main": [[{ "node": "Merge LinkedIn branch", "type": "main", "index": 0 }]] },
    "Placeholder IG": { "main": [[{ "node": "Merge IG branch", "type": "main", "index": 0 }]] },
    "Placeholder Podcast": { "main": [[{ "node": "Merge Podcast branch", "type": "main", "index": 0 }]] },
    "Placeholder Community": { "main": [[{ "node": "Merge Community branch", "type": "main", "index": 0 }]] },
    "Parse & Validate Twitter": { "main": [[{ "node": "Merge Twitter branch", "type": "main", "index": 1 }]] },
    "Parse & Validate LinkedIn": { "main": [[{ "node": "Merge LinkedIn branch", "type": "main", "index": 1 }]] },
    "Parse & Validate IG Carousel": { "main": [[{ "node": "Merge IG branch", "type": "main", "index": 1 }]] },
    "Parse & Validate Podcast": { "main": [[{ "node": "Merge Podcast branch", "type": "main", "index": 1 }]] },
    "Parse & Validate Community": { "main": [[{ "node": "Merge Community branch", "type": "main", "index": 1 }]] },
    "Merge Twitter branch": { "main": [[{ "node": "Merge format outputs", "type": "main", "index": 0 }]] },
    "Merge LinkedIn branch": { "main": [[{ "node": "Merge format outputs", "type": "main", "index": 1 }]] },
    "Merge IG branch": { "main": [[{ "node": "Merge format outputs", "type": "main", "index": 2 }]] },
    "Merge Podcast branch": { "main": [[{ "node": "Merge format outputs", "type": "main", "index": 3 }]] },
    "Merge Community branch": { "main": [[{ "node": "Merge format outputs", "type": "main", "index": 4 }]] },
    "🐦 AI: Create Twitter Thread": { "main": [[{ "node": "Parse & Validate Twitter", "type": "main", "index": 0 }]] },
    "💼 AI: Create LinkedIn Article": { "main": [[{ "node": "Parse & Validate LinkedIn", "type": "main", "index": 0 }]] },
    "📸 AI: Create IG Carousel": { "main": [[{ "node": "Parse & Validate IG Carousel", "type": "main", "index": 0 }]] },
    "🎙️ AI: Create Podcast Script": { "main": [[{ "node": "Parse & Validate Podcast", "type": "main", "index": 0 }]] },
    "🌐 AI: Create Community Content": { "main": [[{ "node": "Parse & Validate Community", "type": "main", "index": 0 }]] },
    "Merge format outputs": {
      "main": [[{ "node": "📦 Assemble repurposed payload", "type": "main", "index": 0 }]]
    },
    "📦 Assemble repurposed payload": {
      "main": [
        [
          { "node": "📊 Log to Repurposed Content Sheet", "type": "main", "index": 0 },
          { "node": "Has Twitter Queue Tab?", "type": "main", "index": 0 },
          { "node": "Has Podcast Queue Tab?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Twitter Queue Tab?": {
      "main": [
        [],
        [{ "node": "🐦 Save Twitter Thread Queue", "type": "main", "index": 0 }]
      ]
    },
    "Has Podcast Queue Tab?": {
      "main": [
        [],
        [{ "node": "🎙️ Save Podcast Queue", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c7ea02d8-9cd4-4ee3-9ae3-961fb9449554",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "L0LWCdVwb5wqBkBL",
  "tags": []
}