monitoring/Alert_Handler.json
{
  "name": "Alert Handler",
  "nodes": [
    {
      "parameters": {},
      "name": "📥 When Called by Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -64
      ],
      "id": "019d2611-2a00-4d7a-ab47-9f146a80d3c7"
    },
    {
      "parameters": {
        "jsCode": "// Format Telegram alert message\nconst d = $input.first().json;\nconst level = d.level || 'ERROR';\nconst emoji = { 'ERROR': '🚨', 'WARNING': '⚠️', 'SUCCESS': '✅', 'INFO': 'ℹ️' }[level] || '🔔';\nconst ts = new Date().toLocaleString('en-MY', { timeZone: 'Asia/Kuala_Lumpur', hour12: false });\n\nconst msg = `${emoji} *HowTo-Genie ${level}*\n\n*Workflow:* ${d.workflow_name || 'Unknown'}\n*Node:* ${d.node_name || 'N/A'}\n*Message:* ${d.error_message || 'No details'}\n*Time (KL):* ${ts}\n\n_Check: ` + $input.first().json.YOUR_N8N_URL + `_`;\n\nreturn [{ json: {\n  message: msg,\n  level,\n  workflow_name: d.workflow_name,\n  node_name: d.node_name,\n  error_message: d.error_message,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "name": "📝 Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -64
      ],
      "id": "824fbc0a-0b6f-484d-9d12-f3558a9ff49a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('⚙️ Config').item.json.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('⚙️ Config').item.json.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"{{ $json.message.replace(/\"/g, '\\\\\"') }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "📱 Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        576,
        -64
      ],
      "id": "eaead968-6258-4c62-a4a4-d185dcccacdb"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Config').item.json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Config').item.json.ERROR_LOG_TAB }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "📊 Log to Error Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        784,
        -64
      ],
      "id": "3731df52-b690-494e-991d-f413660b3b23",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo-Genie - Google Sheets account"
        }
      },
      "notes": "Add 'Error Log' tab to your Google Sheet with columns: Timestamp, Level, Workflow, Node, Message, Resolved"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG",
          "cachedResultName": "⚙️ Config Loader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        -64
      ],
      "id": "6fe0f2ae-123a-484b-8bbb-449f6825efde",
      "name": "⚙️ Config"
    }
  ],
  "connections": {
    "📥 When Called by Workflow": {
      "main": [
        [
          {
            "node": "⚙️ Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Format Alert Message": {
      "main": [
        [
          {
            "node": "📱 Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Send Telegram Alert": {
      "main": [
        [
          {
            "node": "📊 Log to Error Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Config": {
      "main": [
        [
          {
            "node": "📝 Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  }
}