core/08_Orchestrator_v3.json
{
  "name": "🤖 HowTo-Genie Orchestrator v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "🕗 Daily Trigger 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4384,
        400
      ],
      "id": "75d7c9e3-7444-4f75-bab2-9372b5c0bbb1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.BLOG_IDEA_TAB }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📡 Load Existing Topics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3936,
        400
      ],
      "id": "2403de6d-f4fb-40ce-9f54-48224c855feb",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      },
      "notes": "Reads all published topics so Agent 1 can avoid duplicates."
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/Entrepreneur+productivity+personalfinance+webdev/hot.json?limit=15&t=day",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "HowToGenie/1.0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "name": "📡 Fetch Reddit Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3936,
        208
      ],
      "id": "830c30af-7298-4a6c-a439-f47f9f89eb5c",
      "notes": "Pulls real trending posts from Reddit. Change subreddits to match your niche."
    },
    {
      "parameters": {
        "jsCode": "// Build context for Agent 0 and Agent 1\nconst redditData = $('📡 Fetch Reddit Trending').item.json;\nconst sheetsData = $('📡 Load Existing Topics').item.json;\n\n// Extract reddit titles and scores\nconst posts = redditData?.data?.children || [];\nconst trendingTopics = posts\n  .filter(p => p?.data?.score > 10)\n  .slice(0, 10)\n  .map(p => `- \"${p.data.title}\" (upvotes: ${p.data.score}, subreddit: r/${p.data.subreddit})`)\n  .join('\\n');\n\n// Extract existing keywords from content log\nconst rows = Array.isArray(sheetsData) ? sheetsData.slice(1) : [];\nconst existingKeywords = rows\n  .map(r => r['Keyword'] || r[2] || '')\n  .filter(Boolean)\n  .slice(0, 50)\n  .join(', ');\n\nreturn [{ json: {\n  reddit_context: trendingTopics || 'No trending data available - use your research',\n  existing_keywords: existingKeywords || 'None yet',\n  today: new Date().toLocaleDateString('en-MY', { timeZone: 'Asia/Kuala_Lumpur' }),\n  total_existing: rows.length\n}}];"
      },
      "name": "🔧 Build Research Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3712,
        304
      ],
      "id": "8538bf46-452e-43f7-8a99-764d47f632bc"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.response || '';\nlet pkg;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  pkg = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  // Fallback prompt package\n  pkg = {\n    research_context: \"Find the single best trending how-to topic today with high search intent and affiliate potential. Return as JSON with: topic, primary_keyword, secondary_keywords, affiliate_angle, content_outline (7-9 H2 sections).\",\n    writer_instructions: \"Write a comprehensive 2800+ word how-to article in HTML format. Include compelling H1, intro with problem hook, 7-9 H2 sections with steps, expert tips, FAQ (5 questions), conclusion with CTA.\",\n    humanizer_instructions: \"Rewrite this article to sound like a genuine expert blogger. Add personal voice, vary sentences, remove corporate language. Keep all HTML and facts.\",\n    seo_instructions: \"Optimize for SEO. Add affiliate disclosure at top, meta title (60 chars), meta description (155 chars), focus keyword, tags (10), and 3 affiliate CTAs naturally integrated.\",\n    qc_rubric: \"Score 1-10 on: word_count (min 2800), readability, seo_compliance, affiliate_disclosure_present, reader_value. Approve if all >= 6.\",\n    social_instructions: \"Create: Facebook caption, Instagram caption + 10 hashtags, Pinterest pin title + description, YouTube Short script (60 sec), TikTok script (60 sec).\",\n    parse_error: e.message\n  };\n}\nreturn [{ json: pkg }];"
      },
      "name": "📋 Parse Prompt Package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3040,
        304
      ],
      "id": "b30defa8-11e2-4477-83f2-b2b5495afdcf"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_SMART || 'llama3.2:latest' }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA || 'You are a helpful assistant. Return only valid JSON.' }}",
            "user_message": "={{ $('📋 Parse Prompt Package').item.json.research_context }}\n\nREAL TRENDING DATA FROM REDDIT (use this to select topics):\n{{ $('💉 Inject Approved Topic').item.json.reddit_context }}\n\nEXISTING PUBLISHED TOPICS (DO NOT REPEAT THESE):\n{{ $('💉 Inject Approved Topic').item.json.existing_keywords }}\n\nSelect the SINGLE best topic to write about today. Return JSON:\n{\n  \"topic\": \"exact article title\",\n  \"primary_keyword\": \"main SEO keyword\",\n  \"secondary_keywords\": [\"kw1\", \"kw2\", \"kw3\"],\n  \"search_intent\": \"informational|transactional|navigational\",\n  \"affiliate_angle\": \"which products could be recommended\",\n  \"content_outline\": [\"H2 section 1\", \"H2 section 2\", \"...7-9 total\"],\n  \"word_count_target\": 3000,\n  \"is_halal_compliant\": true,\n  \"not_duplicate\": true\n}\n\nReturn only valid JSON.",
            "temperature": 0.7,
            "num_predict": 4096
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "🔍 Agent 1: Research & Topic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2816,
        304
      ],
      "id": "cd72a478-9fc8-4294-b417-39235eb58dd5",
      "notes": "Uses real Reddit trending data + existing topics to pick a unique topic."
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.response || '';\nlet topic;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  topic = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (!topic.topic || !topic.primary_keyword) throw new Error('Missing fields');\n  topic.generated_at = new Date().toISOString();\n  topic.word_count_target = topic.word_count_target || 3000;\n  topic.parse_error = false;\n} catch(e) {\n  topic = {\n    topic: \"How to Build a Profitable Online Business in 2025\",\n    primary_keyword: \"build online business\",\n    secondary_keywords: [\"make money online\", \"online business ideas\"],\n    affiliate_angle: \"business tools and courses\",\n    content_outline: [\"Why Start an Online Business Now\",\"Choosing Your Business Model\",\"Setting Up Your Foundation\",\"Finding Your First Customers\",\"Scaling with Automation\",\"Common Mistakes to Avoid\",\"Your 30-Day Action Plan\"],\n    word_count_target: 3000,\n    is_halal_compliant: true,\n    not_duplicate: true,\n    generated_at: new Date().toISOString(),\n    status: \"fallback_topic\",\n    error: e.message,\n    parse_error: true\n  };\n}\nreturn [{ json: topic }];"
      },
      "name": "✅ Parse & Validate Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        304
      ],
      "id": "283c0dc1-908e-43ac-8a24-51e9c0684db5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_SMART || 'llama3.2:latest' }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA || 'You are a helpful assistant.' }}",
            "user_message": "={{ $('📋 Parse Prompt Package').item.json.writer_instructions }}\n\nTOPIC: {{ $('✅ Parse & Validate Topic').item.json.topic }}\nPRIMARY KEYWORD: {{ $('✅ Parse & Validate Topic').item.json.primary_keyword }}\nCONTENT OUTLINE: {{ $('✅ Parse & Validate Topic').item.json.content_outline }}\nTARGET WORDS: {{ $('✅ Parse & Validate Topic').item.json.word_count_target }}\n\nWrite the complete article now. Use HTML formatting (h1, h2, h3, p, ul, ol, strong).\nReturn the full article HTML. No JSON wrapper, just the raw HTML article.",
            "temperature": 0.8,
            "num_predict": 4096
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "✍️ Agent 2: Content Writer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2368,
        304
      ],
      "id": "c730964d-7ed3-4ae8-8a20-e476579317ab",
      "notes": "Writes full 2800+ word HTML article. Timeout set to 10 min for long generation."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_SMART || 'llama3.2:latest' }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA || 'You are a helpful assistant.' }}",
            "user_message": "={{ $('📋 Parse Prompt Package').item.json.humanizer_instructions }}\n\nARTICLE TO HUMANIZE:\n{{ $('✍️ Agent 2: Content Writer').item.json.message.content }}\n\nRewrite the entire article. Keep all HTML tags, structure, and factual content intact.\nReturn only the rewritten HTML article.",
            "temperature": 0.9,
            "num_predict": 4096
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "🫂 Agent 3: Humanizer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2144,
        304
      ],
      "id": "ad5255b2-1c26-4517-b13b-ec1d0132b821"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_SMART || 'llama3.2:latest' }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA || 'You are a helpful assistant. Return only valid JSON.' }}",
            "user_message": "={{ $('📋 Parse Prompt Package').item.json.seo_instructions }}\n\nARTICLE:\n{{ $('🫂 Agent 3: Humanizer').item.json.message.content }}\n\nTOPIC: {{ $('✅ Parse & Validate Topic').item.json.topic }}\nPRIMARY KEYWORD: {{ $('✅ Parse & Validate Topic').item.json.primary_keyword }}\nAFFILIATE ANGLE: {{ $('✅ Parse & Validate Topic').item.json.affiliate_angle }}\n\nIMPORTANT: You MUST add this exact disclosure at the very top of the article content, before the first paragraph:\n<p><em><strong>Disclosure:</strong> This article contains affiliate links. If you purchase through our links, we may earn a commission at no extra cost to you. We only recommend products we genuinely believe in.</em></p>\n\nReturn JSON:\n{\n  \"optimized_content\": \"full HTML article with disclosure at top and affiliate CTAs integrated\",\n  \"meta_title\": \"SEO title under 60 chars\",\n  \"meta_description\": \"compelling description under 155 chars\",\n  \"focus_keyword\": \"primary keyword\",\n  \"slug\": \"url-friendly-slug\",\n  \"tags\": [\"tag1\",\"tag2\",\"...up to 10\"],\n  \"categories\": [\"Main Category\"],\n  \"affiliate_ctas_added\": 3\n}",
            "temperature": 0.4,
            "num_predict": 4096
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "🎯 Agent 4: SEO & Monetization",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1920,
        304
      ],
      "id": "de007ca2-9941-473c-8050-7ee1d6b38529",
      "notes": "Adds affiliate disclosure, meta fields, and affiliate CTAs. Returns JSON."
    },
    {
      "parameters": {
        "jsCode": "const raw = $('🎯 Agent 4: SEO & Monetization').item.json.message?.content || '';\nlet seo;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/s);\n  seo = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  // Fallback: use humanized content directly\n  seo = {\n    optimized_content: $('🫂 Agent 3: Humanizer').item.json.message?.content || '',\n    meta_title: $('✅ Parse & Validate Topic').item.json.topic,\n    meta_description: 'A comprehensive how-to guide. Read the full article for step-by-step instructions.',\n    focus_keyword: $('✅ Parse & Validate Topic').item.json.primary_keyword,\n    slug: $('✅ Parse & Validate Topic').item.json.primary_keyword?.replace(/\\s+/g, '-').toLowerCase(),\n    tags: $('✅ Parse & Validate Topic').item.json.secondary_keywords || [],\n    categories: ['How-To'],\n    affiliate_ctas_added: 0,\n    parse_error: e.message\n  };\n}\n\nconst content = seo.optimized_content || '';\nconst wordCount = content.replace(/<[^>]*>/g,' ').split(/\\s+/).filter(Boolean).length;\nconst excerpt = content.replace(/<[^>]*>/g,' ').substring(0, 200).trim() + '...';\n\nreturn [{ json: {\n  title: seo.meta_title || $('✅ Parse & Validate Topic').item.json.topic,\n  content,\n  word_count: wordCount,\n  excerpt,\n  slug: seo.slug || seo.meta_title?.replace(/\\s+/g,'-').toLowerCase(),\n  focus_keyword: seo.focus_keyword,\n  meta_description: seo.meta_description,\n  tags: seo.tags || [],\n  categories: seo.categories || ['How-To'],\n  affiliate_ctas: seo.affiliate_ctas_added || 0,\n  assembled_at: new Date().toISOString(),\n  parse_error: !!(seo.parse_error)\n}}];"
      },
      "name": "🔧 Assemble Final Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        304
      ],
      "id": "e7e5b6cb-86b6-4cf1-a331-4738ee078d66"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_SMART || 'llama3.2:latest' }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA || 'You are a helpful assistant. Return only valid JSON.' }}",
            "user_message": "={{ $('📋 Parse Prompt Package').item.json.qc_rubric }}\n\nARTICLE TO REVIEW:\n{{ $('🔧 Assemble Final Article').item.json.content.substring(0, 3000) }}...\n\nMETADATA:\n- Title: {{ $('🔧 Assemble Final Article').item.json.title }}\n- Word Count: {{ $('🔧 Assemble Final Article').item.json.word_count }}\n- Focus Keyword: {{ $('🔧 Assemble Final Article').item.json.focus_keyword }}\n\nReturn JSON:\n{\n  \"approved\": true,\n  \"scores\": {\n    \"word_count\": 8,\n    \"readability\": 7,\n    \"seo_compliance\": 8,\n    \"affiliate_disclosure\": 10,\n    \"factual_accuracy\": 8,\n    \"reader_value\": 9\n  },\n  \"average_score\": 8.3,\n  \"rejection_reason\": null,\n  \"suggestions\": [\"optional improvement notes\"]\n}",
            "temperature": 0.3,
            "num_predict": 4096
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "🛡️ Agent 5: Quality Control",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1472,
        304
      ],
      "id": "c2b91de7-a202-4397-b77a-08379fb82a6e"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.response || '';\nlet qc;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  qc = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (typeof qc.approved !== 'boolean') throw new Error('approved must be boolean');\n} catch(e) {\n  qc = { approved: false, average_score: 0, rejection_reason: 'QC parse failure', scores: {}, parse_error: true };\n}\nreturn [{ json: qc }];"
      },
      "name": "✅ Parse & Validate QC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        304
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "qc-cond-001",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "✅ QC Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1248,
        304
      ],
      "id": "d4652b0b-5677-46e6-816b-7d44f1504cc1"
    },
    {
      "parameters": {
        "jsCode": "const qc = $('✅ Parse & Validate QC').item.json;\nconst topic = $('✅ Parse & Validate Topic').item.json;\nconst assemble = $('🔧 Assemble Final Article').item.json;\nconst config = $('⚙️ Load Config').item.json;\nconst pkg = $('📋 Parse Prompt Package').item.json;\n\nconst fallbacks = [];\nif (pkg.parse_error) fallbacks.push('agent_0');\nif (topic.status === 'fallback_topic' || topic.error) fallbacks.push('agent_1');\nif (qc.parse_error) fallbacks.push('agent_5');\n\nconst rejectionReasons = qc.scores && Object.keys(qc.scores).length\n  ? JSON.stringify(qc.scores)\n  : (qc.rejection_reason || 'QC rejected');\nconst now = new Date();\nreturn [{ json: {\n  date: now.toISOString().slice(0, 10),\n  topic: topic.topic || '',\n  primary_keyword: topic.primary_keyword || '',\n  qc_score: qc.average_score != null ? qc.average_score : 0,\n  rejection_reasons: rejectionReasons,\n  word_count: assemble.word_count != null ? assemble.word_count : 0,\n  agent_fallbacks_used: JSON.stringify(fallbacks),\n  run_timestamp: now.toISOString()\n}}];"
      },
      "name": "📋 Build QC Rejection Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        400
      ],
      "id": "a7f1qc01-build-rejection-row",
      "notes": "Assembles rejection row from QC, Topic, Assemble, Config. agent_fallbacks_used from Parse Prompt Package, Topic, Parse & Validate QC."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.REJECTED_POSTS_TAB || 'Rejected Posts' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "topic": "={{ $json.topic }}",
            "primary_keyword": "={{ $json.primary_keyword }}",
            "qc_score": "={{ $json.qc_score }}",
            "rejection_reasons": "={{ $json.rejection_reasons }}",
            "word_count": "={{ $json.word_count }}",
            "agent_fallbacks_used": "={{ $json.agent_fallbacks_used }}",
            "run_timestamp": "={{ $json.run_timestamp }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "📊 Write to Rejected Posts Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        400
      ],
      "id": "a7f1qc02-write-rejected-sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      },
      "notes": "Appends one row per QC rejection. Tab name from config REJECTED_POSTS_TAB."
    },
    {
      "parameters": {
        "jsCode": "const topic = $('✅ Parse & Validate Topic').item.json;\nconst inject = $('💉 Inject Approved Topic').item.json;\nconst useApproved = inject.use_approved_topic === true;\nconst rowNum = topic._row != null ? topic._row : null;\nif (!useApproved || rowNum == null) {\n  return [{ json: { skip_backlog_update: true } }];\n}\nreturn [{ json: { Row_Number: rowNum, status: 'rejected', Status: 'rejected' } }];"
      },
      "name": "📋 Build Backlog Rejection Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        496
      ],
      "id": "a7f1qc03-build-backlog-rejection",
      "notes": "When topic came from backlog (_row), outputs Row_Number + status for Sheets update; else skip_backlog_update."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "backlog-cond-001",
              "leftValue": "={{ $json.skip_backlog_update }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Backlog Update Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        496
      ],
      "id": "a7f1qc04-if-backlog-update"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.BLOG_IDEA_TAB || 'Blog Idea Backlog' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row_Number": "={{ $json.Row_Number }}",
            "status": "={{ $json.status }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": ["Row_Number"],
          "schema": []
        },
        "options": {}
      },
      "name": "📊 Update Backlog Row (rejected)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        496
      ],
      "id": "a7f1qc05-sheets-update-backlog",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      },
      "notes": "Updates Blog Idea Backlog row to status=rejected when topic had _row."
    },
    {
      "parameters": {
        "chatId": "={{ $('⚙️ Load Config').item.json.TELEGRAM_CHAT_ID }}",
        "text": "=QC rejected: {{ $json.topic }} — score {{ $json.qc_score }}/10, reasons: {{ $json.rejection_reasons }}. Fresh topic tomorrow.",
        "additionalFields": {}
      },
      "name": "📱 Telegram: QC Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -800,
        592
      ],
      "id": "a7f1qc06-telegram-qc-rejected",
      "credentials": {
        "telegramApi": {
          "id": "qfA78oS3FSIahsbl",
          "name": "Telegram account"
        }
      },
      "notes": "Sends QC rejection alert with topic, score, reasons."
    },
    {
      "parameters": {
        "jsCode": "const topic = $('✅ Parse & Validate Topic').item.json;\nconst keyword = topic.primary_keyword || topic.topic || 'productivity';\nconst queries = [\n  keyword,\n  keyword.split(' ').slice(0,2).join(' '),\n  topic.secondary_keywords?.[0] || 'business success'\n];\nreturn [{ json: { queries, primary_query: queries[0] }}];"
      },
      "name": "🖼️ Build Image Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        208
      ],
      "id": "2c789c3e-01e3-47d6-85f8-ba04f32f3b27"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ encodeURIComponent($json.primary_query) }}&per_page=3&orientation=landscape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_PEXELS_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "name": "📸 Search Pexels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        112
      ],
      "id": "116b68ac-8aa1-440c-9db8-741c95b9ff79"
    },
    {
      "parameters": {
        "url": "=https://pixabay.com/api/?key=YOUR_PIXABAY_API_KEY&q={{ encodeURIComponent($('🖼️ Build Image Queries').item.json.primary_query) }}&image_type=photo&orientation=horizontal&per_page=3&safesearch=true",
        "options": {}
      },
      "name": "📸 Search Pixabay (Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        304
      ],
      "id": "8dd6b60f-365d-422e-91d8-0d82f71e247e"
    },
    {
      "parameters": {
        "jsCode": "let imageUrl = null;\nlet imageAlt = $('✅ Parse & Validate Topic').item.json.primary_keyword || 'article image';\n\n// Try Pexels first\ntry {\n  const pexels = $('📸 Search Pexels').item.json;\n  if (pexels.photos && pexels.photos.length > 0) {\n    imageUrl = pexels.photos[0].src.large || pexels.photos[0].src.original;\n  }\n} catch(e) {}\n\n// Fallback to Pixabay\nif (!imageUrl) {\n  try {\n    const pixabay = $('📸 Search Pixabay (Fallback)').item.json;\n    if (pixabay.hits && pixabay.hits.length > 0) {\n      imageUrl = pixabay.hits[0].largeImageURL || pixabay.hits[0].webformatURL;\n    }\n  } catch(e) {}\n}\n\nconst needsAI = !imageUrl;\nreturn [{ json: { image_url: imageUrl, image_alt: imageAlt, needs_ai_image: needsAI }}];"
      },
      "name": "🔀 Select Best Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        208
      ],
      "id": "d42b94d8-bb00-4653-a720-831388456a35"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "img-cond-001",
              "leftValue": "={{ $json.needs_ai_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "🤔 Need AI Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -352,
        208
      ],
      "id": "737a0de2-1187-41b5-a39a-5b1e7e0c56fa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:7860/sdapi/v1/txt2img",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={   \"prompt\": \"professional blog header image, {{ $('🖼️ Build Image Queries').item.json.primary_query }}, clean modern style, high quality, 1280x720\",   \"negative_prompt\": \"text, watermark, blurry, low quality\",   \"width\": 1280, \"height\": 720,   \"steps\": 20, \"cfg_scale\": 7 }",
        "options": {
          "timeout": 120000
        }
      },
      "name": "🎨 Generate Image (SD)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        144
      ],
      "id": "bc45f5cc-e341-4c82-b5fe-a08ba8d2ecef",
      "notes": "Requires AUTOMATIC1111 Stable Diffusion running locally: ./webui.sh --api --listen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://{{ $vars.WORDPRESS_URL | replace('https://', '') }}/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source_url\": \"{{ $('🔀 Select Best Image').item.json.image_url }}\", \"alt_text\": \"{{ $('🔀 Select Best Image').item.json.image_alt }}\", \"title\": \"{{ $('✅ Parse & Validate Topic').item.json.slug || 'article-image' }}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "📤 Upload Image to WP Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        208
      ],
      "id": "12e29637-272f-4128-a9a8-0e3e7452d75d",
      "notes": "Uploads image to WordPress Media Library. Returns media ID for featured image assignment."
    },
    {
      "parameters": {
        "jsCode": "const mediaResponse = $input.first().json;\n// WordPress returns the media object with id field\nconst mediaId = mediaResponse.id || null;\nconst mediaUrl = mediaResponse.source_url || mediaResponse.guid?.rendered || '';\nconst imageAlt = $('🔀 Select Best Image').item.json.image_alt || '';\n\nreturn [{ json: { media_id: mediaId, media_url: mediaUrl, image_alt: imageAlt }}];"
      },
      "name": "🔗 Capture Media ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        208
      ],
      "id": "8d309015-483f-4def-a1c7-0ab6dea67c9b"
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{ $('🔧 Assemble Final Article').item.json.title }}",
        "content": "={{ $('🔧 Assemble Final Article').item.json.content }}",
        "slug": "={{ $('🔧 Assemble Final Article').item.json.slug }}",
        "status": "publish",
        "additionalFields": {
          "excerpt": "={{ $('🔧 Assemble Final Article').item.json.excerpt }}",
          "featuredMediaId": "={{ $('🔗 Capture Media ID').item.json.media_id || 0 }}"
        }
      },
      "name": "📝 Publish to WordPress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        544,
        208
      ],
      "id": "d5cf0df3-5ae8-43e7-8c5f-3db1a9987726",
      "notes": "Native WordPress node with retry. Post goes live immediately.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "wordpressApi": {
          "id": "placeholder",
          "name": "wordpressApi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const $json = $input.first().json;\n  const id = $json.id != null ? $json.id : '';\n  const link = $json.link || $json.url || '';\n  return [{ json: { id, link, status: 'published' } }];\n} catch(e) {\n  return [{ json: { id: '', link: '', status: 'publish_failed' } }];\n}"
      },
      "name": "🔗 Capture WP Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        208
      ],
      "id": "a1b2c3d4-5e6f-7890-abcd-ef1234567890",
      "notes": "Normalizes WP node output to { id, link, status }. On error returns status publish_failed."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "pub-cond-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "publish_failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "🔀 Publish Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        992,
        208
      ],
      "id": "b2c3d4e5-6f78-9012-bcde-f12345678901",
      "notes": "True: run satellites (indexing, Blotato, Calendar, Telegram). False: 01-05 wires publish_failed log + Telegram."
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst topic = $('✅ Parse & Validate Topic').item.json;\nconst article = $('🔧 Assemble Final Article').item.json;\nconst qc = $('✅ Parse & Validate QC').item.json;\nlet wp = { id: '', link: '', url: '', status: 'publish_failed' };\ntry {\n  wp = $('🔗 Capture WP Post Data').item.json;\n} catch(e) {}\n\nconst errorAgents = [];\nif (pkg.parse_error) errorAgents.push('agent_0');\nif (topic.parse_error || topic.status === 'fallback_topic') errorAgents.push('agent_1');\nif (article.parse_error) errorAgents.push('agent_4');\nif (qc.parse_error) errorAgents.push('agent_5');\n\nconst wpUrl = wp.link || wp.url || '';\nconst wpId = wp.id != null ? String(wp.id) : '';\nconst publishFailed = !wpUrl && (wp.status === 'publish_failed' || !wp.id);\n\nconst now = new Date();\nconst row = {\n  date: now.toISOString().slice(0, 10),\n  title: article.title || topic.topic || '',\n  primary_keyword: topic.primary_keyword || '',\n  wp_url: wpUrl,\n  wp_post_id: wpId,\n  word_count: article.word_count || 0,\n  status: publishFailed ? 'publish_failed' : 'published',\n  parse_error: errorAgents.length > 0,\n  parse_error_agents: JSON.stringify(errorAgents),\n  qc_score: qc.average_score != null ? qc.average_score : '',\n  affiliate_ctas: article.affiliate_ctas != null ? article.affiliate_ctas : 0,\n  run_timestamp: now.toISOString()\n};\nreturn [{ json: row }];"
      },
      "name": "📋 Assemble Content Log Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 208],
      "id": "f1a2b3c4-d5e6-7890-abcd-111213141516",
      "notes": "Single row per run: success and publish_failed both funnel here. Includes parse_error, parse_error_agents, status."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://indexing.googleapis.com/v3/urlNotifications:publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={   \"url\": \"{{ $json.link }}\",   \"type\": \"URL_UPDATED\" }",
        "options": {
          "timeout": 10000
        }
      },
      "name": "🔍 Request Google Indexing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        304
      ],
      "id": "2463c8a5-63ea-4a04-aac8-e8a1565aaa85",
      "notes": "Requires Google API credential with Indexing API scope enabled. Requests immediate crawl of new post."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_LOG_TAB || 'Content Log' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "📊 Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        992,
        112
      ],
      "id": "03076a1b-c11c-47e6-8c66-0192df982fc3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UuyF6a4KyZpZ7jQ3",
          "mode": "list",
          "cachedResultUrl": "/workflow/UuyF6a4KyZpZ7jQ3",
          "cachedResultName": "Alert Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "name": "✅ Send Success Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1216,
        112
      ],
      "id": "61dab80f-588e-430c-88c5-791b96a1f015"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG",
          "cachedResultName": "⚙️ Config Loader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9c910180-f37e-44cc-a913-9fc813466386",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4160,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Called from Approval Poller: approved_topic may be passed in\n// Called standalone: approved_topic is absent, use Reddit data\nconst approved = $('⚡ Entry Override')?.item?.json?.approved_topic || null;\nconst context  = $('🔧 Build Research Context').item.json;\n\nreturn [{ json: {\n  ...context,\n  approved_topic:      approved,\n  use_approved_topic:  !!approved\n}}];\n"
      },
      "id": "d8a5b140-719e-46fe-a81f-f259025d5cbe",
      "name": "💉 Inject Approved Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        304
      ]
    },
    {
      "parameters": {},
      "id": "7532fa51-564a-4b45-8033-f06086f8f465",
      "name": "⚡ Entry Override",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -4384,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "teoK0nyEzTDNm6AG",
          "mode": "list",
          "cachedResultUrl": "/workflow/teoK0nyEzTDNm6AG",
          "cachedResultName": "🎨 Blotato: Queue Social Posts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "025862c1-1f14-4873-9baa-3e39821c464f",
      "name": "🎨 Queue via Blotato",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ssl.bing.com/webmaster/api.svc/json/SubmitUrl?apikey={{ $('⚙️ Load Config').item.json.BING_WEBMASTER_KEY || 'YOUR_BING_KEY' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"siteUrl\": \"{{ $(\"⚙️ Load Config\").item.json.WORDPRESS_URL || $vars.WORDPRESS_URL }}\", \"url\": \"{{ $json.link }}\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "043f162d-400d-4d9e-b6ec-32128665e662",
      "name": "🔍 Request Bing Indexing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://www.google.com/ping?sitemap={{ encodeURIComponent(($('⚙️ Load Config').item.json.WORDPRESS_URL || $vars.WORDPRESS_URL) + '/sitemap.xml') }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "417ef887-dc7b-4201-a86c-680d077ed80f",
      "name": "📡 Ping Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        -80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "num_predict": 4096,
            "model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_SMART || 'llama3.2:latest' }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA }}",
            "user_message": "=You are a master prompt engineer for a content automation system. \\nToday is {{ $now.format('dddd, MMMM D YYYY') }}. Niche: practical how-to guides.\\n\\nGenerate a JSON prompt package for today's content pipeline:\\n{\\n  \\\"research_context\\\": \\\"Instructions for finding 3 trending how-to topics with high search intent and affiliate potential. Prioritize topics with: clear actionable steps, product recommendations possible, large audience.\\\",\\n  \\\"writer_instructions\\\": \\\"Instructions for writing a 2800+ word expert how-to article. Must include: compelling H1, intro with problem hook, 7-9 H2 sections with numbered steps, expert tips callouts, FAQ section (5 questions), conclusion with CTA. Tone: conversational expert.\\\",\\n  \\\"humanizer_instructions\\\": \\\"Instructions for rewriting to sound like a genuine expert blogger sharing personal experience. Add first-person observations, vary sentence rhythm, remove generic phrases, keep all factual content.\\\",\\n  \\\"seo_instructions\\\": \\\"Instructions for SEO optimization. Must produce: meta_title (under 60 chars), meta_description (under 155 chars), focus_keyword, tags array (8-10), affiliate disclosure at article top, 3 naturally integrated affiliate CTAs.\\\",\\n  \\\"qc_rubric\\\": \\\"Scoring rubric: word_count (min 2800, max 5000), readability (plain English), seo_compliance, affiliate_disclosure_present, factual_accuracy, reader_value. Score each 1-10. Approved if all scores >= 6 and avg >= 7.\\\",\\n  \\\"social_instructions\\\": \\\"Instructions for creating platform posts from the article. Facebook: engaging caption with emoji. Instagram: caption + CTA + 10 relevant hashtags. Pinterest: pin title + 200 char description + board name. YouTube Short script: 60 sec, hook/problem/solution/CTA. Save TikTok as script only.\\\"\\n}\\n\\nReturn only valid JSON, no markdown.",
            "temperature": "0.4",
            "sessionId": "promptEngineer"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3264,
        304
      ],
      "id": "c3a1eae3-9229-4bee-894b-649c3e3a8c62",
      "name": "🧠 Agent 0: Prompt Engineer"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.BLOG_CALENDAR_TAB }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {}
          },
          "useAppend": true
        }
      },
      "id": "42cee905-5515-4d3a-9dc2-be51c9c8b989",
      "name": "📅 Write to Blog Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        768,
        688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.BLOG_CALENDAR_TAB }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dd8b8765-2b5b-4677-a668-72c661d97e7d",
      "name": "🔄 Update Calendar Status (PUBLISHED)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        976,
        688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_CALENDAR_WF_ID }}",
          "cachedResultName": "={{ $('⚙️ Load Config').item.json.CONTENT_CALENDAR_WF_ID }}"
        },
        "options": {}
      },
      "id": "111baca8-6a4f-4c21-998e-8f9b821a4c65",
      "name": "🚀 Trigger Content Calendar Manager",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1200,
        688
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('⚙️ Load Config').item.json.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Article published\n\n📝 {{ $('📅 Write to Blog Calendar').item.json.post_title }}\n🔗 {{ $('📅 Write to Blog Calendar').item.json.post_url }}\n🔑 Keyword: {{ $('📅 Write to Blog Calendar').item.json.target_keyword }}\n\n📱 Social posts are being scheduled...",
        "additionalFields": {}
      },
      "id": "0b8632b5-d14b-45a4-9441-79386fb1e2b8",
      "name": "📱 Telegram: Article Published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        688
      ],
      "webhookId": "a2e02ca7-fdd6-4ec7-aa40-60f7b1075a6d",
      "credentials": {
        "telegramApi": {
          "id": "qfA78oS3FSIahsbl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "status-cond-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "publish_failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "🔀 Status is publish_failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1104, 208],
      "id": "e2f3a4b5-c6d7-8901-2345-67890abcdef1",
      "notes": "After Log: route to Telegram Publish Failed or Send Success Alert."
    },
    {
      "parameters": {
        "chatId": "={{ $('⚙️ Load Config').item.json.TELEGRAM_CHAT_ID }}",
        "text": "=❌ Publish failed: {{ $json.title || 'Article' }}. Check logs.",
        "additionalFields": {}
      },
      "id": "b3c4d5e6-f7a8-9012-cdef-123456789012",
      "name": "📱 Telegram: Publish Failed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1328, 304],
      "credentials": {
        "telegramApi": {
          "id": "qfA78oS3FSIahsbl",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "🕗 Daily Trigger 8AM": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Load Existing Topics": {
      "main": [
        [
          {
            "node": "🔧 Build Research Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Fetch Reddit Trending": {
      "main": [
        [
          {
            "node": "🔧 Build Research Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build Research Context": {
      "main": [
        [
          {
            "node": "💉 Inject Approved Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse Prompt Package": {
      "main": [
        [
          {
            "node": "🔍 Agent 1: Research & Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Agent 1: Research & Topic": {
      "main": [
        [
          {
            "node": "✅ Parse & Validate Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Parse & Validate Topic": {
      "main": [
        [
          {
            "node": "✍️ Agent 2: Content Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Agent 2: Content Writer": {
      "main": [
        [
          {
            "node": "🫂 Agent 3: Humanizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🫂 Agent 3: Humanizer": {
      "main": [
        [
          {
            "node": "🎯 Agent 4: SEO & Monetization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Agent 4: SEO & Monetization": {
      "main": [
        [
          {
            "node": "🔧 Assemble Final Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Assemble Final Article": {
      "main": [
        [
          {
            "node": "🛡️ Agent 5: Quality Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Agent 5: Quality Control": {
      "main": [
        [
          {
            "node": "✅ Parse & Validate QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Parse & Validate QC": {
      "main": [
        [
          {
            "node": "✅ QC Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ QC Approved?": {
      "main": [
        [
          {
            "node": "🖼️ Build Image Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Build QC Rejection Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Build QC Rejection Row": {
      "main": [
        [
          {
            "node": "📊 Write to Rejected Posts Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Build Backlog Rejection Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "📱 Telegram: QC Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Build Backlog Rejection Update": {
      "main": [
        [
          {
            "node": "Backlog Update Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlog Update Needed?": {
      "main": [
        [
          {
            "node": "📊 Update Backlog Row (rejected)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "🖼️ Build Image Queries": {
      "main": [
        [
          {
            "node": "📸 Search Pexels",
            "type": "main",
            "index": 0
          },
          {
            "node": "📸 Search Pixabay (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Search Pexels": {
      "main": [
        [
          {
            "node": "🔀 Select Best Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Search Pixabay (Fallback)": {
      "main": [
        [
          {
            "node": "🔀 Select Best Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Select Best Image": {
      "main": [
        [
          {
            "node": "🤔 Need AI Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤔 Need AI Image?": {
      "main": [
        [
          {
            "node": "🎨 Generate Image (SD)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Upload Image to WP Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Generate Image (SD)": {
      "main": [
        [
          {
            "node": "📤 Upload Image to WP Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Upload Image to WP Media": {
      "main": [
        [
          {
            "node": "🔗 Capture Media ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Capture Media ID": {
      "main": [
        [
          {
            "node": "📝 Publish to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Publish to WordPress": {
      "main": [
        [
          {
            "node": "🔗 Capture WP Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Capture WP Post Data": {
      "main": [
        [
          {
            "node": "🔀 Publish Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Publish Succeeded?": {
      "main": [
        [
          {
            "node": "🔍 Request Google Indexing",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔍 Request Bing Indexing",
            "type": "main",
            "index": 0
          },
          {
            "node": "📡 Ping Sitemap",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎨 Queue via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "📅 Write to Blog Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Assemble Content Log Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Assemble Content Log Row": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Request Google Indexing": {
      "main": [
        [
          {
            "node": "📋 Assemble Content Log Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log to Google Sheets": {
      "main": [
        [
          {
            "node": "🔀 Status is publish_failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Status is publish_failed?": {
      "main": [
        [
          {
            "node": "📱 Telegram: Publish Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Send Success Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "📡 Load Existing Topics",
            "type": "main",
            "index": 0
          },
          {
            "node": "📡 Fetch Reddit Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💉 Inject Approved Topic": {
      "main": [
        [
          {
            "node": "🧠 Agent 0: Prompt Engineer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Entry Override": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Queue via Blotato": {
      "main": []
    },
    "🔍 Request Bing Indexing": {
      "main": []
    },
    "📡 Ping Sitemap": {
      "main": []
    },
    "🧠 Agent 0: Prompt Engineer": {
      "main": [
        [
          {
            "node": "📋 Parse Prompt Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Write to Blog Calendar": {
      "main": [
        [
          {
            "node": "🔄 Update Calendar Status (PUBLISHED)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Update Calendar Status (PUBLISHED)": {
      "main": [
        [
          {
            "node": "🚀 Trigger Content Calendar Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Trigger Content Calendar Manager": {
      "main": [
        [
          {
            "node": "📱 Telegram: Article Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  }
}