archive/02_Topic_Research_Engine.json
{
  "name": "🔍 Topic Research Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "bd1afc1f-f42c-4209-82a5-bffe25a5b83f",
      "name": "🕗 Daily 6AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG",
          "cachedResultName": "⚙️ Config Loader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "5cf639ae-6713-41ec-a3c6-0b41bd80cf5b",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        -96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.SEED_KEYWORDS_TAB }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e34bed0a-bba8-416d-944e-72449aaaadfc",
      "name": "📋 Load Seed Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Keyword",
        "options": {}
      },
      "id": "5328412c-2482-47fb-931d-7d66df57c296",
      "name": "✂️ Split by Keyword",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        -96
      ]
    },
    {
      "parameters": {
        "url": "=https://answer-the-public1.p.rapidapi.com/?q={{ encodeURIComponent($json.Keyword) }}&language={{ $('⚙️ Load Config').item.json.ATP_LANGUAGE || 'en' }}&region={{ $('⚙️ Load Config').item.json.ATP_REGION || 'us' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "={{ $('⚙️ Load Config').item.json.RAPIDAPI_KEY }}"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "answer-the-public1.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c86f4df0-e676-49d4-b6d0-12356407ae48",
      "name": "🔍 ATP via RapidAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst keyword = $('✂️ Split by Keyword').item.json.Keyword || '';\nconst niche   = $('✂️ Split by Keyword').item.json.Niche   || '';\nconst raw     = $input.first().json;\n\nconst atp_questions = [];\n\n// ATP returns data.questions, data.prepositions, data.comparisons arrays\nconst sections = ['questions', 'prepositions', 'comparisons'];\nfor (const section of sections) {\n  const items = raw?.data?.[section] || raw?.[section] || [];\n  for (const item of items) {\n    const q = item?.query || item?.string || item?.label || '';\n    if (q && q.length > 5) atp_questions.push({ text: q, source: 'ATP_' + section });\n  }\n}\n\nreturn [{ json: { keyword, niche, atp_questions } }];\n"
      },
      "id": "dd31bd90-2659-44e4-984b-c8fa0aeb7f45",
      "name": "📥 Parse ATP Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -96
      ]
    },
    {
      "parameters": {
        "url": "=http://suggestqueries.google.com/complete/search?client=firefox&q=how+to+{{ encodeURIComponent($json.keyword) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "586da512-1ade-4ab9-8fda-f7e274807494",
      "name": "🔍 Google Autocomplete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst prev      = $('📥 Parse ATP Questions').item.json;\nconst raw       = $input.first().json;\nconst google_qs = [];\n\n// Google returns [query, [suggestions, ...]]\nconst suggestions = Array.isArray(raw) ? raw[1] || [] : [];\nfor (const s of suggestions) {\n  if (typeof s === 'string' && s.length > 5) {\n    google_qs.push({ text: s, source: 'Google_Autocomplete' });\n  }\n}\n\n// Also add common question prefix variants from the raw response\nreturn [{ json: { ...prev, google_questions: google_qs } }];\n"
      },
      "id": "881b1721-9c8b-436f-83a1-cad87a5c250a",
      "name": "📥 Parse Google Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -96
      ]
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/search.json?q={{ encodeURIComponent($json.keyword) }}&sort=hot&t=month&limit=15",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "HowToGenie/1.0"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "83564c4d-d62f-4079-bba8-9a09fc75ccf5",
      "name": "🔍 Reddit Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst prev    = $('📥 Parse Google Suggestions').item.json;\nconst raw     = $input.first().json;\n\nconst reddit_qs = [];\nconst posts = raw?.data?.children || [];\nfor (const post of posts) {\n  const score = post?.data?.score || 0;\n  const title = post?.data?.title || '';\n  if (score >= 20 && title.length > 10) {\n    reddit_qs.push({ text: title, source: 'Reddit', score });\n  }\n}\n\nconst all_questions = [\n  ...(prev.atp_questions    || []),\n  ...(prev.google_questions || []),\n  ...reddit_qs\n];\n\n// Deduplicate by normalised text\nconst seen = new Set();\nconst deduped = all_questions.filter(q => {\n  const key = q.text.toLowerCase().replace(/[^a-z0-9 ]/g,'').trim();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nreturn [{ json: { ...prev, reddit_questions: reddit_qs, all_questions: deduped, total: deduped.length } }];\n"
      },
      "id": "187bdf2d-f188-456d-8bc9-3205ed39d734",
      "name": "📥 Merge All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst prev    = $('📥 Merge All Sources').item.json;\nconst raw     = $input.first().json.message?.content || '[]';\n\nlet scored = [];\ntry {\n  const match = raw.match(/\\[([\\s\\S]*?)\\](?!\\s*[a-z])/i);\n  scored = JSON.parse(match ? '[' + match[1] + ']' : raw);\n} catch(e) {\n  // fallback: return raw questions with default scores\n  scored = (prev.all_questions || []).slice(0, 10).map(q => ({\n    question: q.text,\n    intent_score: 5,\n    affiliate_potential: 5,\n    competition: 'medium',\n    halal_compliant: true,\n    article_title_suggestion: q.text,\n    parse_error: e.message\n  }));\n}\n\n// Filter halal, add metadata\nconst valid = scored\n  .filter(q => q.halal_compliant !== false)\n  .map(q => ({\n    ...q,\n    combined_score: ((q.intent_score || 5) + (q.affiliate_potential || 5)) / 2,\n    keyword: prev.keyword,\n    niche: prev.niche,\n    source: 'multi-source',\n    date_found: new Date().toISOString().split('T')[0],\n    status: 'New'\n  }))\n  .sort((a, b) => b.combined_score - a.combined_score);\n\n// Return one item per question for Google Sheets append\nreturn valid.slice(0, 8).map(q => ({ json: q }));\n"
      },
      "id": "bdca1276-8b8b-4863-9c39-daa9039c1a4e",
      "name": "📊 Parse Ollama Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.BLOG_IDEA_TAB || 'Blog Idea Backlog' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "94db90f2-5610-40c6-9ca8-450e4d645438",
      "name": "📊 Save to Backlog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo - Genie | Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cfg    = $('⚙️ Load Config').item.json;\nconst items  = $input.all();\n\n// Sort all questions across all keywords by combined_score\nconst sorted = [...items]\n  .sort((a, b) => (b.json.combined_score || 0) - (a.json.combined_score || 0))\n  .slice(0, 10);\n\nconst lines = sorted.map((item, i) => {\n  const q = item.json;\n  return `${i+1}. <b>${q.article_title_suggestion || q.question}</b>\\n   Keyword: ${q.keyword} | Score: ${q.combined_score?.toFixed(1)} | Competition: ${q.competition}`;\n});\n\nconst msg = `🔍 <b>HowTo-Genie: Daily Topic Digest</b>\\n📅 ${new Date().toLocaleDateString('en-MY', {timeZone: cfg.TIMEZONE || 'Asia/Kuala_Lumpur'})}\\n\\n${lines.join('\\n\\n')}\\n\\n✅ Open the Blog Idea Backlog tab, change one row Status to <b>Approved</b> to trigger today\\'s article.`;\n\nreturn [{ json: { telegram_message: msg, chat_id: cfg.TELEGRAM_CHAT_ID } }];\n"
      },
      "id": "c51570b3-4094-43e1-b8e0-c4a2f83b0319",
      "name": "📨 Build Telegram Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $json.chat_id }}\", \"text\": {{ JSON.stringify($json.telegram_message) }}, \"parse_mode\": \"HTML\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a9a67235-ca07-40f3-9a09-2141d23cb1d5",
      "name": "📱 Send Telegram Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3360,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "num_predict": 0,
            "ollama_model": "={{ $('⚙️ Load Config').item.json.OLLAMA_MODEL_FAST }}",
            "system_message": "={{ $('⚙️ Load Config').item.json.PERSONA }}",
            "sessionId": "research",
            "user_message": "=You are an SEO content strategist. Score these questions for the keyword \\\"{{ $json.keyword }}\\\" (niche: {{ $json.niche }}).\\n\\nQUESTIONS:\\n{{ $json.all_questions.map((q,i) => i+1 + '. ' + q.text).join('\\n') }}\\n\\nFor each question return a JSON array item:\\n{\\n  \\\"question\\\": \\\"the question text\\\",\\n  \\\"intent_score\\\": 1-10 (10=clear how-to article opportunity),\\n  \\\"affiliate_potential\\\": 1-10 (10=product purchase likely),\\n  \\\"competition\\\": \\\"low\nmedium\nhigh\\\",\\n  \\\"halal_compliant\\\": true or false,\\n  \\\"article_title_suggestion\\\": \\\"catchy blog title\\\"\\n}\\n\\nReturn ONLY a JSON array, no other text.",
            "temperature": "0.3"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2464,
        -96
      ],
      "id": "e994b9f5-39d7-4b71-a689-04ffd9944c74",
      "name": "🧠 Ollama: Score Questions"
    }
  ],
  "connections": {
    "🕗 Daily 6AM": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "📋 Load Seed Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Load Seed Keywords": {
      "main": [
        [
          {
            "node": "✂️ Split by Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✂️ Split by Keyword": {
      "main": [
        [
          {
            "node": "🔍 ATP via RapidAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 ATP via RapidAPI": {
      "main": [
        [
          {
            "node": "📥 Parse ATP Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Parse ATP Questions": {
      "main": [
        [
          {
            "node": "🔍 Google Autocomplete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Google Autocomplete": {
      "main": [
        [
          {
            "node": "📥 Parse Google Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Parse Google Suggestions": {
      "main": [
        [
          {
            "node": "🔍 Reddit Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Reddit Search": {
      "main": [
        [
          {
            "node": "📥 Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Merge All Sources": {
      "main": [
        [
          {
            "node": "🧠 Ollama: Score Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Parse Ollama Scores": {
      "main": [
        [
          {
            "node": "📊 Save to Backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Save to Backlog": {
      "main": [
        [
          {
            "node": "📨 Build Telegram Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 Build Telegram Digest": {
      "main": [
        [
          {
            "node": "📱 Send Telegram Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Ollama: Score Questions": {
      "main": [
        [
          {
            "node": "📊 Parse Ollama Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  }
}