archive/Master Orchestrator v3.0.json
{
  "name": "HowTo-Genie v3.0 — Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        208
      ],
      "id": "39abc135-4bf3-4b3d-9018-0ffa5f1993bf",
      "name": "🕗 Daily Trigger 8AM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Log",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        304
      ],
      "id": "7fb33135-60df-495d-9522-2f832b859ec8",
      "name": "📡 Load Existing Topics",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo-Genie - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "Entrepreneur+productivity+personalfinance+webdev",
        "limit": 10,
        "filters": {
          "category": "hot"
        }
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        -576,
        112
      ],
      "id": "a00515ac-9f8b-4510-9351-5afb2e6d089f",
      "name": "📡 Fetch Reddit Trending"
    },
    {
      "parameters": {
        "jsCode": "// Build context for Agent 0 and Agent 1\nconst redditData = $('📡 Fetch Reddit Trending').item.json;\nconst sheetsData = $('📡 Load Existing Topics').item.json;\n\n// Extract reddit titles and scores\nconst posts = redditData?.data?.children || [];\nconst trendingTopics = posts\n  .filter(p => p?.data?.score > 10)\n  .slice(0, 10)\n  .map(p => `- \\\"${p.data.title}\\\" (upvotes: ${p.data.score}, subreddit: r/${p.data.subreddit})`)\n  .join('\\\\n');\n\n// Extract existing keywords from content log\nconst rows = Array.isArray(sheetsData) ? sheetsData.slice(1) : [];\nconst existingKeywords = rows\n  .map(r => r['Keyword'] || r[2] || '')\n  .filter(Boolean)\n  .slice(0, 50)\n  .join(', ');\n\nreturn [{ json: {\n  reddit_context: trendingTopics || 'No trending data available - use your research',\n  existing_keywords: existingKeywords || 'None yet',\n  today: new Date().toLocaleDateString('en-MY', { timeZone: 'Asia/Kuala_Lumpur' }),\n  total_existing: rows.length\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        208
      ],
      "id": "e96b07ec-1ea4-48fd-a537-0fd73c7e835e",
      "name": "🔧 Build Research Context"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "num_predict": "={{ $json.num_predict }}",
            "ollama_model": "={{ $json.model }}",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "temperature": "={{ $json.temperature }}",
            "sessionId": "promptEngineer",
            "streaming": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        208
      ],
      "id": "1562533a-b550-48fd-8663-9c75038298c5",
      "name": "🧠 Agent 0: Prompt Engineer"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.response || '';\nlet topic;\ntry {\n  const match = raw.match(/```json\\\\n([\\\\s\\\\S]*?)\\\\n```/) || raw.match(/(\\\\{[\\\\s\\\\S]*\\\\})/);\n  topic = JSON.parse(match ? (match[1] || match[0]) : raw);\n  if (!topic.topic || !topic.primary_keyword) throw new Error('Missing fields');\n  topic.generated_at = new Date().toISOString();\n  topic.word_count_target = topic.word_count_target || 3000;\n} catch(e) {\n  topic = {\n    topic: \"How to Build a Profitable Online Business in 2025\",\n    primary_keyword: \"build online business\",\n    secondary_keywords: [\"make money online\", \"online business ideas\"],\n    affiliate_angle: \"business tools and courses\",\n    content_outline: [\"Why Start an Online Business Now\", \"Choosing Your Business Model\",\"Setting Up Your Foundation\", \"Finding Your First Customers\",\"Scaling with Automation\", \"Common Mistakes to Avoid\", \"Your 30-Day Action Plan\"],\n    word_count_target: 3000,\n    is_halal_compliant: true,\n    not_duplicate: true,\n    generated_at: new Date().toISOString(),\n    status: \"fallback_topic\",\n    error: e.message\n};\n}\nreturn [{ json: topic }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        208
      ],
      "id": "cab17b6a-ed22-4ef4-bc3b-75b72e77553b",
      "name": "✅ Parse & Validate Topic"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.response || '';\nlet pkg;\ntry {\n  const match = raw.match(/```json\\\\n([\\\\s\\\\S]*?)\\\\n```/) || raw.match(/(\\\\{[\\\\s\\\\S]*\\\\})/);\n  pkg = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  // Fallback prompt package\n  pkg = {\n    research_context: \"Find the single best trending how-to topic today with high search intent and affiliate potential. Return as JSON with: topic, primary_keyword, secondary_keywords, affiliate_angle, content_outline (7-9 H2 sections).\",\n    writer_instructions: \"Write a comprehensive 2800+ word how-to article in HTML format. Include compelling H1, intro with problem hook, 7-9 H2 sections with steps, expert tips, FAQ (5 questions), conclusion with CTA.\",\n    humanizer_instructions: \"Rewrite this article to sound like a genuine expert blogger. Add personal voice, vary sentences, remove corporate language. Keep all HTML and facts.\",\n      seo_instructions: \"Optimize for SEO. Add affiliate disclosure at top, meta title (60 chars), meta description (155 chars), focus keyword, tags (10), and 3 affiliate CTAs naturally integrated.\",\n    qc_rubric: \"Score 1-10 on: word_count (min 2800), readability, seo_compliance, affiliate_disclosure_present, reader_value. Approve if all >= 6.\",\n    social_instructions: \"Create: Facebook caption, Instagram caption + 10 hashtags, Pinterest pin title + description, YouTube Short script (60 sec), TikTok script (60 sec).\",\n    parse_error: e.message\n  };\n}\nreturn [{ json: pkg }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        208
      ],
      "id": "6b9d9510-7daa-444a-8a03-4cf89f88dee6",
      "name": "📋 Parse Prompt Package"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "ollama_model": "={{ $json.model }}",
            "temperature": "={{ $json.temperature }}",
            "sessionId": "researcher",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "num_predict": "={{ $json.num_predict }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        768,
        208
      ],
      "id": "61555392-c07c-46fd-950d-40ff99e3dbfb",
      "name": "🔍 Agent 1: Research & Topic"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "ollama_model": "={{ $json.model }}",
            "temperature": "={{ $json.temperature }}",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "sessionId": "contentWriter",
            "num_predict": "={{ $json.num_predict }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        208
      ],
      "id": "f61ce366-1e0f-4ee2-86bf-53bc79b963f3",
      "name": "✍️ Agent 2: Content Writer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "ollama_model": "={{ $json.model }}",
            "temperature": "={{ $json.temperature }}",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "num_predict": "={{ $json.num_predict }}",
            "sessionId": "humanizer"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        208
      ],
      "id": "9ad958e1-3269-41a7-901d-12699f9ebb88",
      "name": "🧂 Agent 3: Humanizer"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst formatted = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst user_message = `You are a master prompt engineer for a content automation system.\\\\nToday is ${formatted}. Niche: practical how-to guides.\\\\n\\\\nGenerate a JSON prompt package for today's content pipeline:\\\\n{\\\\n  \\\\\\\"research_context\\\\\\\": \\\\\\\"Instructions for finding 3 trending how-to topics with high search intent and affiliate potential. Prioritize topics with: clear actionable steps, product recommendations possible, large audience.\\\\\\\",\\\\n  \\\\\\\"writer_instructions\\\\\\\": \\\\\\\"Instructions for writing a 2800+ word expert how-to article. Must include: compelling H1, intro with problem hook, 7-9 H2 sections with numbered steps, expert tips callouts, FAQ section (5 questions), conclusion with CTA. Tone: conversational expert.\\\\\\\",\\\\n  \\\\\\\"humanizer_instructions\\\\\\\": \\\\\\\"Instructions for rewriting to sound like a genuine expert blogger sharing personal experience. Add first-person observations, vary sentence rhythm, remove generic phrases, keep all factual content.\\\\\\\",\\\\n  \\\\\\\"seo_instructions\\\\\\\": \\\\\\\"Instructions for SEO optimization. Must produce: meta_title (under 60 chars), meta_description (under 155 chars), focus_keyword, tags array (8-10), affiliate disclosure at article top, 3 naturally integrated affiliate CTAs.\\\\\\\",\\\\n  \\\\\\\"qc_rubric\\\\\\\": \\\\\\\"Scoring rubric: word_count (min 2800, max 5000), readability (plain English), seo_compliance, affiliate_disclosure_present, factual_accuracy, reader_value. Score each 1-10. Approved if all scores >= 6 and avg >= 7.\\\\\\\",\\\\n  \\\\\\\"social_instructions\\\\\\\": \\\\\\\"Instructions for creating platform posts from the article. Facebook: engaging caption with emoji. Instagram: caption + CTA + 10 relevant hashtags. Pinterest: pin title + 200 char description + board name. YouTube Short script: 60 sec, hook/problem/solution/CTA. Save TikTok as script only.\\\\\\\"\\\\n}\\\\n\\\\nReturn only valid JSON, no markdown.`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.4, num_predict: 4096 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        208
      ],
      "id": "1fbb7ac7-46f6-48d1-89df-dc228653bdb7",
      "name": "📥 Payload: Agent 0"
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst ctx = $('🔧 Build Research Context').item.json;\nconst user_message = `${pkg.research_context}\\\\n\\\\nREAL TRENDING DATA FROM REDDIT (use this to select topics):\\\\n${ctx.reddit_context}\\\\n\\\\nEXISTING PUBLISHED TOPICS (DO NOT REPEAT THESE):\\\\n${ctx.existing_keywords}\\\\n\\\\nSelect the SINGLE best topic to write about today. Return JSON:\\\\n{\\\\n  \\\\\\\"topic\\\\\\\": \\\\\\\"exact article title\\\\\\\",\\\\n  \\\\\\\"primary_keyword\\\\\\\": \\\\\\\"main SEO keyword\\\\\\\",\\\\n  \\\\\\\"secondary_keywords\\\\\\\": [\\\\\\\"kw1\\\\\\\", \\\\\\\"kw2\\\\\\\", \\\\\\\"kw3\\\\\\\"],\\\\n  \\\\\\\"search_intent\\\\\\\": \\\\\\\"informational|transactional|navigational\\\\\\\",\\\\n  \\\\\\\"affiliate_angle\\\\\\\": \\\\\\\"which products could be recommended\\\\\\\",\\\\n  \\\\\\\"content_outline\\\\\\\": [\\\\\\\"H2 section 1\\\\\\\", \\\\\\\"H2 section 2\\\\\\\", \\\\\\\"...7-9 total\\\\\\\"],\\\\n  \\\\\\\"word_count_target\\\\\\\": 3000,\\\\n  \\\\\\\"is_halal_compliant\\\\\\\": true,\\\\n  \\\\\\\"not_duplicate\\\\\\\": true\\\\n}\\\\n\\\\nReturn only valid JSON.`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.7, num_predict: 4096 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        208
      ],
      "id": "59021640-d2b7-4590-ab48-2e8673f0b6fd",
      "name": "📥 Payload: Agent 1"
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst topic = $('✅ Parse & Validate Topic').item.json;\nconst outline = Array.isArray(topic.content_outline) ? topic.content_outline.join(', ') : topic.content_outline;\nconst user_message = `${pkg.writer_instructions}\\\\n\\\\nTOPIC: ${topic.topic}\\\\nPRIMARY KEYWORD: ${topic.primary_keyword}\\\\nCONTENT OUTLINE: ${outline}\\\\nTARGET WORDS: ${topic.word_count_target || 3000}\\\\n\\\\nWrite the complete article now. Use HTML formatting (h1, h2, h3, p, ul, ol, strong).\\\\nReturn the full article HTML. No JSON wrapper, just the raw HTML article.`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.8, num_predict: 4000 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        208
      ],
      "id": "a57057ec-c8b0-4fc2-b9d0-868cba3fa518",
      "name": "📥 Payload: Agent 2"
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst article = $('✍️ Agent 2: Content Writer').item.json.message?.content || '';\nconst user_message = `${pkg.humanizer_instructions}\\\\n\\\\nARTICLE TO HUMANIZE:\\\\n${article}\\\\n\\\\nRewrite the entire article. Keep all HTML tags, structure, and factual content intact.\\\\nReturn only the rewritten HTML article.`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.9, num_predict: 4000 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        208
      ],
      "id": "335652ed-8adc-4283-b85b-48002dca1e07",
      "name": "📥 Payload: Agent 3"
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst humanized = $('🧂 Agent 3: Humanizer').item.json.message?.content || '';\nconst topic = $('✅ Parse & Validate Topic').item.json;\nconst user_message = `${pkg.seo_instructions}\\\\n\\\\nARTICLE:\\\\n${humanized}\\\\n\\\\nTOPIC: ${topic.topic}\\\\nPRIMARY KEYWORD: ${topic.primary_keyword}\\\\nAFFILIATE ANGLE: ${topic.affiliate_angle || ''}\\\\n\\\\nIMPORTANT: You MUST add this exact disclosure at the very top of the article content, before the first paragraph:\\\\n<p><em><strong>Disclosure:</strong> This article contains affiliate links. If you purchase through our links, we may earn a commission at no extra cost to you. We only recommend products we genuinely believe in.</em></p>\\\\n\\\\nReturn JSON:\\\\n{\\\\n  \\\\\\\"optimized_content\\\\\\\": \\\\\\\"full HTML article with disclosure at top and affiliate CTAs integrated\\\\\\\",\\\\n  \\\\\\\"meta_title\\\\\\\": \\\\\\\"SEO title under 60 chars\\\\\\\",\\\\n  \\\\\\\"meta_description\\\\\\\": \\\\\\\"compelling description under 155 chars\\\\\\\",\\\\n  \\\\\\\"focus_keyword\\\\\\\": \\\\\\\"primary keyword\\\\\\\",\\\\n  \\\\\\\"slug\\\\\\\": \\\\\\\"url-friendly-slug\\\\\\\",\\\\n  \\\\\\\"tags\\\\\\\": [\\\\\\\"tag1\\\\\\\",\\\\\\\"tag2\\\\\\\",\\\\\\\"...up to 10\\\\\\\"],\\\\n  \\\\\\\"categories\\\\\\\": [\\\\\\\"Main Category\\\\\\\"],\\\\n  \\\\\\\"affiliate_ctas_added\\\\\\\": 3\\\\n}`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.4, num_predict: 4000 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        208
      ],
      "id": "a0aad567-a043-4ed3-a134-0a6fd22c00cf",
      "name": "📥 Payload: Agent 4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "num_predict": "={{ $json.num_predict }}",
            "ollama_model": "={{ $json.model }}",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "temperature": "={{ $json.temperature }}",
            "sessionId": "seoAgent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2336,
        208
      ],
      "id": "5edee176-ff42-421a-869a-6d17a93617b1",
      "name": "🎯 Agent 4: SEO & Monetization"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('🎯 Agent 4: SEO & Monetization').item.json.message?.content || '';\nlet seo;\ntry {\n  const match = raw.match(/```json\\\\n([\\\\s\\\\S]*?)\\\\n```/) || raw.match(/(\\\\{[\\\\s\\\\S]*\\\\})/s);\n  seo = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  // Fallback: use humanized content directly\n  seo = {\n    optimized_content: $('🧂 Agent 3: Humanizer').item.json.message?.content || '',\n    meta_title: $('✅ Parse & Validate Topic').item.json.topic,\n    meta_description: 'A comprehensive how-to guide. Read the full article for step-by-step instructions.',\n    focus_keyword: $('✅ Parse & Validate Topic').item.json.primary_keyword,\n    slug: $('✅ Parse & Validate Topic').item.json.primary_keyword?.replace(/\\\\s+/g, '-').toLowerCase(),\n    tags: $('✅ Parse & Validate Topic').item.json.secondary_keywords || [],\n    categories: ['How-To'],\n    affiliate_ctas_added: 0,\n    parse_error: e.message\n  };\n}\n\nconst content = seo.optimized_content || '';\nconst wordCount = content.replace(/<[^>]*>/g,' ').split(/\\\\s+/).filter(Boolean).length;\nconst excerpt = content.replace(/<[^>]*>/g,' ').substring(0, 200).trim() + '...';\n\nreturn [{ json: {\n  title: seo.meta_title || $('✅ Parse & Validate Topic').item.json.topic,\n  content,\n  word_count: wordCount,\n  excerpt,\n  slug: seo.slug || seo.meta_title?.replace(/\\\\s+/g,'-').toLowerCase(),\n  focus_keyword: seo.focus_keyword,\n  meta_description: seo.meta_description,\n  tags: seo.tags || [],\n  categories: seo.categories || ['How-To'],\n  affiliate_ctas: seo.affiliate_ctas_added || 0,\n  assembled_at: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        208
      ],
      "id": "c25ad53c-f662-4722-aa72-d920065e73e1",
      "name": "🔧 Assemble Final Article"
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst assembled = $('🔧 Assemble Final Article').item.json;\nconst contentExcerpt = (assembled.content || '').substring(0, 3000) + '...';\nconst user_message = `${pkg.qc_rubric}\\\\n\\\\nARTICLE TO REVIEW:\\\\n${contentExcerpt}\\\\n\\\\nMETADATA:\\\\n- Title: ${assembled.title}\\\\n- Word Count: ${assembled.word_count}\\\\n- Focus Keyword: ${assembled.focus_keyword}\\\\n\\\\nReturn JSON:\\\\n{\\\\n  \\\\\\\"approved\\\\\\\": true,\\\\n  \\\\\\\"scores\\\\\\\": {\\\\n    \\\\\\\"word_count\\\\\\\": 8,\\\\n    \\\\\\\"readability\\\\\\\": 7,\\\\n    \\\\\\\"seo_compliance\\\\\\\": 8,\\\\n    \\\\\\\"affiliate_disclosure\\\\\\\": 10,\\\\n    \\\\\\\"factual_accuracy\\\\\\\": 8,\\\\n    \\\\\\\"reader_value\\\\\\\": 9\\\\n  },\\\\n  \\\\\\\"average_score\\\\\\\": 8.3,\\\\n  \\\\\\\"rejection_reason\\\\\\\": null,\\\\n  \\\\\\\"suggestions\\\\\\\": [\\\\\\\"optional improvement notes\\\\\\\"]\\\\n}`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.3, num_predict: 4096 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        208
      ],
      "id": "96212562-9026-412b-acb4-451537bd9844",
      "name": "📥 Payload: Agent 5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "num_predict": "={{ $json.num_predict }}",
            "ollama_model": "={{ $json.model }}",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "temperature": "={{ $json.temperature }}",
            "sessionId": "qualityControl"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3008,
        208
      ],
      "id": "4b0f9744-2de0-4e6f-8c58-1b4e54aada59",
      "name": "🛡️ Agent 5: Quality Control"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || '';\nlet qcResult;\ntry {\n  const match = raw.match(/```json\\\\n([\\\\s\\\\S]*?)\\\\n```/) || raw.match(/(\\\\{[\\\\s\\\\S]*\\\\})/);\n  qcResult = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  qcResult = { approved: false, error: e.message };\n}\nreturn [{ json: qcResult }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        208
      ],
      "id": "b6605699-0720-4847-aa8f-730f5e3cf3aa",
      "name": "📋 Parse QC Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b128e48d-0652-4cc1-8799-80e4f623b479",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3456,
        208
      ],
      "id": "1fa0df35-7cd8-4b12-88ac-ef641e662c28",
      "name": "✅ QC Approved?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UuyF6a4KyZpZ7jQ3",
          "mode": "list",
          "cachedResultUrl": "/workflow/UuyF6a4KyZpZ7jQ3",
          "cachedResultName": "HowTo-Genie: Telegram Alert Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3680,
        304
      ],
      "id": "b7c5a869-d0c7-4e54-bbdb-7807bae6984b",
      "name": "⚠️ Alert: QC Rejected"
    },
    {
      "parameters": {
        "jsCode": "const topic = $('✅ Parse & Validate Topic').item.json;\nconst keyword = topic.primary_keyword || topic.topic || 'productivity';\nconst queries = [\n  keyword,\n  keyword.split(' ').slice(0,2).join(' '),\n  topic.secondary_keywords?.[0] || 'business success'\n];\nreturn [{ json: { queries, primary_query: queries[0] }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        -80
      ],
      "id": "c1563cc9-f596-4240-a143-f413ac11437e",
      "name": "🖼️ Build Image Queries"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ encodeURIComponent($json.primary_query) }}&per_page=3&orientation=landscape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_PEXELS_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3904,
        -176
      ],
      "id": "0483cbf2-00da-4b6e-8b27-e74e31677413",
      "name": "📸 Search Pexels"
    },
    {
      "parameters": {
        "url": "=https://pixabay.com/api/?key=YOUR_PIXABAY_API_KEY&q={{ encodeURIComponent($('🖼️ Build Image Queries').item.json.primary_query) }}&image_type=photo&orientation=horizontal&per_page=3&safesearch=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3904,
        16
      ],
      "id": "65bce18d-93c0-49fb-a75b-5322789c4374",
      "name": "📸 Search Pixabay (Fallback)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4128,
        -80
      ],
      "id": "7235f1c8-7c3e-4f2a-9c6d-3fc35bdb156c",
      "name": "🔀 Merge Image Results"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst input1 = items[0]?.json || {};\nconst input2 = items[1]?.json || {};\nlet imageUrl = null;\nlet imageAlt = $('✅ Parse & Validate Topic').item.json.primary_keyword || 'article image';\n\n// Try Pexels first (input1)\ntry {\n  if (input1.photos && input1.photos.length > 0) {\n    imageUrl = input1.photos[0].src?.large || input1.photos[0].src?.original;\n  }\n} catch(e) {}\n\n// Fallback to Pixabay (input2)\nif (!imageUrl) {\n  try {\n    if (input2.hits && input2.hits.length > 0) {\n      imageUrl = input2.hits[0].largeImageURL || input2.hits[0].webformatURL;\n    }\n  } catch(e) {}\n}\n\nconst needsAI = !imageUrl;\n\nreturn [{ json: { image_url: imageUrl, image_alt: imageAlt, needs_ai_image: needsAI }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        -80
      ],
      "id": "a5a7c431-83ca-427d-a01f-cd4a03827652",
      "name": "🔀 Select Best Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "349f5434-642c-40b8-adbb-810ba5e11878",
              "leftValue": "={{ $json.needs_ai_image }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4576,
        -80
      ],
      "id": "91c7e808-45ff-4271-adc0-85c52a1ae8b0",
      "name": "🤔 Need AI Image?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:7860/sdapi/v1/txt2img",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"prompt\": \"professional blog header image, {{ $('🖼️ Build Image Queries').item.json.primary_query }}, clean modern style, high quality, 1280x720\",\n\"negative_prompt\": \"text, watermark, blurry, low quality\",\n\"width\": 1280,\n\"height\": 720,\n\"steps\": 20,\n\"cfg_scale\": 7\n}",
        "options": {
          "timeout": 12000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4800,
        -160
      ],
      "id": "1b8cb7c8-01da-480e-8046-9f89ebff0c5e",
      "name": "🎨 Generate Image (SD)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-blog.com/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"source_url\": \"{{ $('🔀 Select Best Image').item.json.image_url }}\", \n\"alt_text\": \"{{ $('🔀 Select Best Image').item.json.image_alt }}\",\n\"title\": \"{{ $('✅ Parse & Validate Topic').item.json.slug || 'article-image' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5024,
        -80
      ],
      "id": "653b2c39-f165-4632-99e9-477b8aaf4b9e",
      "name": "📤 Upload Image to WP Media",
      "credentials": {
        "wordpressApi": {
          "id": "CymDXPOuLu9BtAhL",
          "name": "HowTo - Genie | WordPress"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mediaResponse = $input.first().json;\nconst mediaId = mediaResponse.id || null;\nconst mediaUrl = mediaResponse.source_url || mediaResponse.guid?.rendered || '';\nconst imageAlt = $('🔀 Select Best Image').item.json.image_alt || '';\nreturn [{ json: { media_id: mediaId, media_url: mediaUrl, image_alt: imageAlt }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5248,
        -80
      ],
      "id": "b00590b9-d4ce-4b19-9748-c2f73775bb58",
      "name": "🔗 Capture Media ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-blog.com/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={   \n\"title\": \"{{ $('🔧 Assemble Final Article').item.json.title }}\",\n\"content\": \"{{ $('🔧 Assemble Final Article').item.json.content.replace(/\\\"/g, '\\\\\\\\\\\"').replace(/\\\\n/g, '\\\\\\\\n') }}\",   \n\"slug\": \"{{ $('🔧 Assemble Final Article').item.json.slug }}\",   \n\"status\": \"publish\",   \n\"featured_media\": {{ $('🔗 Capture Media ID').item.json.media_id || 0 }},\n\"excerpt\": \"{{ $('🔧 Assemble Final Article').item.json.excerpt }}\",\n\"meta\": {     \n\"_yoast_wpseo_title\": \"{{ $('🔧 Assemble Final Article').item.json.title }}\",\n\"_yoast_wpseo_metadesc\": \"{{ $('🔧 Assemble Final Article').item.json.meta_description }}\",\n\"_yoast_wpseo_focuskw\": \"{{ $('🔧 Assemble Final Article').item.json.focus_keyword }}\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5472,
        -80
      ],
      "id": "2ad71bfe-f5e8-48f2-a467-802613682f19",
      "name": "📄 Publish to WordPress",
      "credentials": {
        "wordpressApi": {
          "id": "CymDXPOuLu9BtAhL",
          "name": "HowTo - Genie | WordPress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://indexing.googleapis.com/v3/urlNotifications:publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"{{ $json.link }}\",\n  \"type\": \"URL_UPDATED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5696,
        -80
      ],
      "id": "b06273f4-418a-4a78-b8ab-4ed6ab1e1ff5",
      "name": "🔍 Request Google Indexing",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3kIQULJnqkG204lB",
          "name": "HowTo - Genie | Google Indexing Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pkg = $('📋 Parse Prompt Package').item.json;\nconst assembled = $('🔧 Assemble Final Article').item.json;\nconst wpLink = $('📄 Publish to WordPress').item.json.link || '';\nconst user_message = `${pkg.social_instructions}\\\\n\\\\nARTICLE TITLE: ${assembled.title}\\\\nARTICLE URL: ${wpLink}\\\\nEXCERPT: ${assembled.excerpt}\\\\nPRIMARY KEYWORD: ${assembled.focus_keyword}\\\\n\\\\nReturn JSON:\\\\n{\\\\n  \\\\\\\"facebook\\\\\\\": { \\\\\\\"caption\\\\\\\": \\\\\\\"engaging post with emoji and question to drive comments\\\\\\\", \\\\\\\"link\\\\\\\": \\\\\\\"${wpLink}\\\\\\\" },\\\\n  \\\\\\\"instagram\\\\\\\": { \\\\\\\"caption\\\\\\\": \\\\\\\"value-packed caption with CTA\\\\\\\", \\\\\\\"hashtags\\\\\\\": [\\\\\\\"#tag1\\\\\\\",\\\\\\\"#tag2\\\\\\\",\\\\\\\"...10 tags\\\\\\\"] },\\\\n  \\\\\\\"pinterest\\\\\\\": { \\\\\\\"title\\\\\\\": \\\\\\\"pin title under 100 chars\\\\\\\", \\\\\\\"description\\\\\\\": \\\\\\\"keyword-rich 200 char description\\\\\\\", \\\\\\\"board\\\\\\\": \\\\\\\"suggested board name\\\\\\\" },\\\\n  \\\\\\\"youtube_script\\\\\\\": \\\\\\\"full 60-second script with timestamps: [0-3s] HOOK [3-15s] PROBLEM [15-45s] STEPS [45-60s] CTA\\\\\\\",\\\\n  \\\\\\\"tiktok_script\\\\\\\": \\\\\\\"same 60-second script adapted for TikTok tone\\\\\\\",\\\\n  \\\\\\\"reel_script\\\\\\\": \\\\\\\"scene-by-scene: HOOK text | PROBLEM | SOLUTION STEPS | CTA link-in-bio\\\\\\\"\\\\n}`;\nreturn [{ json: { user_message, system_message: '', model: 'llama3.2:latest', temperature: 0.9, num_predict: 4096 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5920,
        -80
      ],
      "id": "2ccf026b-056f-4bcb-aab4-7db6c47ed765",
      "name": "📥 Payload: Agent 6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "18GE0djgSQJHhj8C",
          "mode": "list",
          "cachedResultUrl": "/workflow/18GE0djgSQJHhj8C",
          "cachedResultName": "HowTo-Genie — Ollama Agent (Central)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "streaming": false,
            "num_predict": "={{ $json.num_predict }}",
            "ollama_model": "={{ $json.model }}",
            "user_message": "={{ $json.user_message }}",
            "system_message": "={{ $json.system_message }}",
            "temperature": "={{ $json.temperature }}",
            "sessionId": "socialMedia"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ollama_model",
              "displayName": "ollama_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "system_message",
              "displayName": "system_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "temperature",
              "displayName": "temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "streaming",
              "displayName": "streaming",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_predict",
              "displayName": "num_predict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6144,
        -80
      ],
      "id": "5bdfcd72-b49d-4493-b0fc-adc7f17c3aff",
      "name": "📱 Agent 6: Social Media + Reels"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || '';\nlet posts;\ntry {\n  const match = raw.match(/```json\\\\n([\\\\s\\\\S]*?)\\\\n```/) || raw.match(/(\\\\{[\\\\s\\\\S]*\\\\})/s);\n  posts = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  posts = { parse_error: e.message, raw: raw.substring(0,300) };\n}\n  \nconst blogUrl = $('📄 Publish to WordPress').item.json.link || 'https://your-blog.com';\nconst title = $('🔧 Assemble Final Article').item.json.title;\n\nreturn [\n  { json: { platform: 'facebook', caption: posts.facebook?.caption || title, link: blogUrl, data: posts.facebook }},\n  { json: { platform: 'instagram', caption: (posts.instagram?.caption || title) + '\\\\n\\\\n' + (posts.instagram?.hashtags?.join(' ') || ''), link: blogUrl, data: posts.instagram }},\n  { json: { platform: 'pinterest', title: posts.pinterest?.title || title, description: posts.pinterest?.description || '', link: blogUrl, board: posts.pinterest?.board || 'How-To Guides', data: posts.pinterest }},\n  { json: { platform: 'youtube_short', script: posts.youtube_script || '', blog_url: blogUrl, article_title: title }},\n  { json: { platform: 'tiktok', script: posts.tiktok_script || '', blog_url: blogUrl, article_title: title }},\n  { json: { platform: 'reel', script: posts.reel_script || '', blog_url: blogUrl, article_title: title }}\n  ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6368,
        -80
      ],
      "id": "bc5feb79-69d8-48c1-945a-13e513236e86",
      "name": "🔀 Parse & Route Social Posts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ea122d62-1a67-4b2d-a0c5-00cddb0ab641"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FB"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1d6504b6-7d1b-4996-b78b-9101240753c5",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "772414c4-40c8-44ab-9ec3-7c3b30bb6069",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "pinterest",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pinterest"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed13a403-6b94-4f9e-8694-2732aaae5808",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "youtube_short",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06a1ec31-9244-489d-8a1c-a325cf67ae68",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TikTok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e8f5dba3-7d5a-4bed-83e5-e140fad15f53",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "reels",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IG Reels"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "299c3067-5f21-4762-b301-1557d909e1bb",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "x_twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6c2a67a9-a5fe-4551-89fd-c083a8b6ab5a",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "threads",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threads"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6592,
        -176
      ],
      "id": "7962d6d4-89ce-44db-8094-75653229a86e",
      "name": "🔀 Platform Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.FACEBOOK_PAGE_ID }}/photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\\"message\\\": \\\"{{ $json.caption + '\\\\\\\\n\\\\\\\\n' + $json.link }}\\\", \\\"url\\\": \\\"{{ $('🔗 Capture Media ID').item.json.media_url }}\\\", \\\"access_token\\\": \\\"{{ $vars.FACEBOOK_PAGE_ACCESS_TOKEN }}\\\"}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7040,
        -752
      ],
      "id": "f7137d4a-1fd9-4717-b142-1d32c0bcf7e8",
      "name": "📘 Post to Facebook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.INSTAGRAM_USER_ID }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\\"image_url\\\": \\\"{{ $('🔗 Capture Media ID').item.json.media_url }}\\\", \\\"caption\\\": \\\"{{ $json.caption }}\\\", \\\"access_token\\\": \\\"{{ $vars.INSTAGRAM_ACCESS_TOKEN }}\\\"}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6816,
        -560
      ],
      "id": "eacbe3c5-aa71-4091-b6a9-80bca1f553eb",
      "name": "📸 Create IG Container"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $vars.INSTAGRAM_USER_ID }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\\"creation_id\\\": \\\"{{ $json.id }}\\\", \\\"access_token\\\": \\\"{{ $vars.INSTAGRAM_ACCESS_TOKEN }}\\\"}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7040,
        -560
      ],
      "id": "4ba1172f-d0ae-46b6-ba21-f462a6885f56",
      "name": "📸 Publish IG Post"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.pinterest.com/v5/pins",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.PINTEREST_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\\"board_id\\\": \\\"{{ $json.board }}\\\", \\\"title\\\": \\\"{{ $json.title }}\\\", \\\"description\\\": \\\"{{ $json.description }}\\\", \\\"link\\\": \\\"{{ $json.link }}\\\", \\\"media_source\\\": {\\\"source_type\\\": \\\"image_url\\\", \\\"url\\\": \\\"{{ $('🔗 Capture Media ID').item.json.media_url }}\\\"}}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7040,
        -368
      ],
      "id": "294a370c-3687-454b-8a05-99f2ca470bab",
      "name": "📌 Post to Pinterest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7040,
        400
      ],
      "id": "4ef57abc-8652-444d-94c0-242fe04371da",
      "name": "Post a Tweet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7040,
        592
      ],
      "id": "8f3f1da5-3dd0-4e89-b763-06eaac9c35e4",
      "name": "Create a Thread"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YT Shorts Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7040,
        -176
      ],
      "id": "303ef2d4-5a18-46d4-9977-0fb26337c341",
      "name": "🎬 Queue YT Short Script",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo-Genie - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TikTok Scripts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7040,
        16
      ],
      "id": "e59db592-a548-4227-b557-3c1398651187",
      "name": "📱 Save TikTok Script",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo-Genie - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reels Scripts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7040,
        208
      ],
      "id": "14a71a15-878e-49eb-9946-c3dfafeff077",
      "name": "🎥 Save Reel Script",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo-Genie - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7264,
        -176
      ],
      "id": "c16b213b-97ce-425f-8705-f0a6f6e50f51",
      "name": "📊 Log to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6MuQNoVFMXOhUOOK",
          "name": "HowTo-Genie - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UuyF6a4KyZpZ7jQ3",
          "mode": "list",
          "cachedResultUrl": "/workflow/UuyF6a4KyZpZ7jQ3",
          "cachedResultName": "HowTo-Genie: Telegram Alert Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7488,
        -176
      ],
      "id": "c89c284b-df0b-44e4-8fc7-aaf2446ed038",
      "name": "✅ Send Success Alert"
    }
  ],
  "connections": {
    "🕗 Daily Trigger 8AM": {
      "main": [
        [
          {
            "node": "📡 Load Existing Topics",
            "type": "main",
            "index": 0
          },
          {
            "node": "📡 Fetch Reddit Trending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Load Existing Topics": {
      "main": [
        [
          {
            "node": "🔧 Build Research Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Fetch Reddit Trending": {
      "main": [
        [
          {
            "node": "🔧 Build Research Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build Research Context": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agent 0: Prompt Engineer": {
      "main": [
        [
          {
            "node": "📋 Parse Prompt Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Parse & Validate Topic": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse Prompt Package": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Agent 1: Research & Topic": {
      "main": [
        [
          {
            "node": "✅ Parse & Validate Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Agent 2: Content Writer": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧂 Agent 3: Humanizer": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 0": {
      "main": [
        [
          {
            "node": "🧠 Agent 0: Prompt Engineer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 1": {
      "main": [
        [
          {
            "node": "🔍 Agent 1: Research & Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 2": {
      "main": [
        [
          {
            "node": "✍️ Agent 2: Content Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 3": {
      "main": [
        [
          {
            "node": "🧂 Agent 3: Humanizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 4": {
      "main": [
        [
          {
            "node": "🎯 Agent 4: SEO & Monetization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Agent 4: SEO & Monetization": {
      "main": [
        [
          {
            "node": "🔧 Assemble Final Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Assemble Final Article": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 5": {
      "main": [
        [
          {
            "node": "🛡️ Agent 5: Quality Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Agent 5: Quality Control": {
      "main": [
        [
          {
            "node": "📋 Parse QC Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse QC Result": {
      "main": [
        [
          {
            "node": "✅ QC Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ QC Approved?": {
      "main": [
        [
          {
            "node": "🖼️ Build Image Queries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Alert: QC Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Build Image Queries": {
      "main": [
        [
          {
            "node": "📸 Search Pexels",
            "type": "main",
            "index": 0
          },
          {
            "node": "📸 Search Pixabay (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Search Pexels": {
      "main": [
        [
          {
            "node": "🔀 Merge Image Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Search Pixabay (Fallback)": {
      "main": [
        [
          {
            "node": "🔀 Merge Image Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge Image Results": {
      "main": [
        [
          {
            "node": "🔀 Select Best Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Select Best Image": {
      "main": [
        [
          {
            "node": "🤔 Need AI Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤔 Need AI Image?": {
      "main": [
        [
          {
            "node": "🎨 Generate Image (SD)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Upload Image to WP Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Generate Image (SD)": {
      "main": [
        [
          {
            "node": "📤 Upload Image to WP Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Upload Image to WP Media": {
      "main": [
        [
          {
            "node": "🔗 Capture Media ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Capture Media ID": {
      "main": [
        [
          {
            "node": "📄 Publish to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Publish to WordPress": {
      "main": [
        [
          {
            "node": "🔍 Request Google Indexing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Request Google Indexing": {
      "main": [
        [
          {
            "node": "📥 Payload: Agent 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Payload: Agent 6": {
      "main": [
        [
          {
            "node": "📱 Agent 6: Social Media + Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Agent 6: Social Media + Reels": {
      "main": [
        [
          {
            "node": "🔀 Parse & Route Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Parse & Route Social Posts": {
      "main": [
        [
          {
            "node": "🔀 Platform Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Platform Router": {
      "main": [
        [
          {
            "node": "📘 Post to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📸 Create IG Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📌 Post to Pinterest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎬 Queue YT Short Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📱 Save TikTok Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎥 Save Reel Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post a Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📘 Post to Facebook": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Create IG Container": {
      "main": [
        [
          {
            "node": "📸 Publish IG Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Publish IG Post": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 Post to Pinterest": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post a Tweet": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Thread": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Queue YT Short Script": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Save TikTok Script": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎥 Save Reel Script": {
      "main": [
        [
          {
            "node": "📊 Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log to Google Sheets": {
      "main": [
        [
          {
            "node": "✅ Send Success Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  }
}