growth/HowTo-Genie v4.0 — A_B Testing & Optimization Engine.json
{
  "name": "HowTo-Genie v4.0 — A/B Testing & Optimization Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "🧪 A/B Test Setup (Daily 6AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-144, -144],
      "id": "8b7dcfc3-4289-4d5a-981c-f66b36981efd",
      "typeVersion": 1,
      "notes": "Creates test variants for yesterday's published post."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultName": "⚙️ Config Loader",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ab-load-config-01",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [64, -144]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('⚙️ Load Config').item.json;\nconst raw = cfg.A_B_TESTING_ENABLED;\nconst enabled = raw === true || String(raw).toLowerCase() === 'true';\nreturn [{ json: { A_B_TESTING_ENABLED: enabled, ...cfg } }];"
      },
      "id": "ab-normalize-enable-01",
      "name": "🔧 Normalize A_B_TESTING_ENABLED",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ab-enabled",
              "leftValue": "={{ $json.A_B_TESTING_ENABLED }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab-if-enabled-01",
      "name": "IF A_B_TESTING_ENABLED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, -144]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_LOG_TAB || 'Content Log' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📄 Read Content Log",
      "type": "n8n-nodes-base.googleSheets",
      "position": [688, -144],
      "id": "ab-read-content-log-01",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst yesterday = new Date(new Date(today).getTime() - 86400000).toISOString().slice(0, 10);\nconst rows = $input.all().map(i => i.json);\nconst dateKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date') || 'date';\nconst statusKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'status') || 'status';\nconst urlKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase().includes('url') || k === 'WP URL') || 'wp_url';\nconst valid = rows.filter(r => {\n  const d = (r[dateKey] || r.date || '').toString().slice(0, 10);\n  const s = (r[statusKey] || r.status || '').toLowerCase();\n  return d === yesterday && s !== 'publish_failed';\n});\nif (valid.length === 0) return [{ json: { noPostYesterday: true } }];\nconst latest = valid[valid.length - 1];\nconst wpUrl = (latest[urlKey] || latest.wp_url || '').toString();\nconst slug = wpUrl.split('/').filter(Boolean).pop() || '';\nreturn [{ json: { ...latest, slug, wpUrl, noPostYesterday: false } }];"
      },
      "id": "ab-filter-yesterday-01",
      "name": "Filter yesterday's post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-post",
              "leftValue": "={{ $json.noPostYesterday }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab-if-has-post-01",
      "name": "IF Has Post Yesterday",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1104, -144]
    },
    {
      "parameters": {
        "url": "={{ ($('⚙️ Load Config').item.json.WORDPRESS_URL || '').replace(/\\/$/, '') }}/wp-json/wp/v2/posts?slug={{ $json.slug }}",
        "options": {}
      },
      "name": "📥 Fetch Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1312, -144],
      "id": "f5cf3ade-61f1-4858-b6b4-2ce139cdbc53",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.9
        }
      },
      "name": "🎨 AI: Generate Test Variants",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [1520, -144],
      "id": "f992dc84-4944-4377-bdd1-d1c068684518",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse test variants\nconst raw = $input.first().json.response || '';\nconst postData = $('Fetch Post Content').item.json;\n\nlet testSuite;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  testSuite = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  testSuite = {\n    test_suite_id: 'TEST_' + Date.now(),\n    title_variants: [],\n    parse_error: e.message\n  };\n}\n\nreturn [{\n  json: {\n    post_id: postData.id,\n    post_url: postData.link,\n    original_title: postData.title?.rendered,\n    test_suite: testSuite,\n    test_start_date: new Date().toISOString(),\n    test_duration_hours: 72,\n    test_status: 'ready',\n    traffic_split: { A: 33, B: 33, C: 34 }\n  }\n}];"
      },
      "name": "📋 Parse Test Suite",
      "type": "n8n-nodes-base.code",
      "position": [1728, -144],
      "id": "7f92c356-84d5-4553-a464-61587a13bafc",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Update WordPress post with variant tracking\nconst testData = $input.first().json;\n\n// Inject A/B test JavaScript into post content\nconst abTestScript = `\n<script>\n(function() {\n  const testId = '${testData.test_suite.test_suite_id}';\n  const variants = {\n    title: ${JSON.stringify(testData.test_suite.title_variants.map(v => ({id: v.id, text: v.text})))},\n    intro: ${JSON.stringify(testData.test_suite.intro_variants.map(v => ({id: v.id, text: v.text})))},\n    cta: ${JSON.stringify(testData.test_suite.cta_variants.map(v => ({id: v.id, text: v.text, color: v.color})))}\n  };\n  \n  // Simple variant assignment (use cookie or localStorage)\n  let userVariant = localStorage.getItem('ab_variant_' + testId);\n  if (!userVariant) {\n    const rand = Math.random();\n    userVariant = rand < 0.33 ? 'A' : rand < 0.67 ? 'B' : 'C';\n    localStorage.setItem('ab_variant_' + testId, userVariant);\n  }\n  \n  // Apply variant\n  const titleVar = variants.title.find(v => v.id === userVariant);\n  const introVar = variants.intro.find(v => v.id === userVariant);\n  const ctaVar = variants.cta.find(v => v.id === userVariant);\n  \n  if (titleVar) document.title = titleVar.text;\n  if (introVar && document.querySelector('.entry-content p:first-child')) {\n    document.querySelector('.entry-content p:first-child').textContent = introVar.text;\n  }\n  if (ctaVar && document.querySelector('.cta-button')) {\n    const btn = document.querySelector('.cta-button');\n    btn.textContent = ctaVar.text;\n    btn.style.backgroundColor = ctaVar.color;\n  }\n  \n  // Track impression\n  fetch('/wp-json/howtogenie/v1/ab-impression', {\n    method: 'POST',\n    headers: {'Content-Type': 'application/json'},\n    body: JSON.stringify({test_id: testId, variant: userVariant, metric: 'impression'})\n  });\n  \n  // Track engagement\n  let engaged = false;\n  setTimeout(() => {\n    if (!engaged) {\n      engaged = true;\n      fetch('/wp-json/howtogenie/v1/ab-impression', {\n        method: 'POST',\n        headers: {'Content-Type': 'application/json'},\n        body: JSON.stringify({test_id: testId, variant: userVariant, metric: 'engaged'})\n      });\n    }\n  }, 30000);\n})();\n</script>\n`;\n\nreturn [{\n  json: {\n    ...testData,\n    ab_script: abTestScript,\n    tracking_endpoint: '/wp-json/howtogenie/v1/ab-impression',\n    ready_to_deploy: true\n  }\n}];"
      },
      "name": "💉 Inject A/B Test Code",
      "type": "n8n-nodes-base.code",
      "position": [1936, -144],
      "id": "aff3ad21-41a0-4d16-b0a6-5b2ef7a78b6e",
      "typeVersion": 2,
      "notes": "Generates JavaScript to dynamically serve variants and track results."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "AB Tests Active",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Test ID": "={{ $json.test_suite.test_suite_id }}",
            "Start Date": "={{ $now.format('YYYY-MM-DD HH:mm') }}",
            "Post URL": "={{ $json.post_url }}",
            "Original Title": "={{ $json.original_title }}",
            "Title A": "={{ $json.test_suite.title_variants[0]?.text }}",
            "Title B": "={{ $json.test_suite.title_variants[1]?.text }}",
            "Title C": "={{ $json.test_suite.title_variants[2]?.text }}",
            "Duration": "={{ $json.test_duration_hours }} hours",
            "Primary Metric": "={{ $json.test_suite.primary_metric }}",
            "Hypothesis": "={{ $json.test_suite.test_hypothesis }}",
            "Status": "Running",
            "Winner": "TBD"
          }
        },
        "options": {}
      },
      "name": "📊 Log Active Test",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2144, -144],
      "id": "ba235495-22a2-4052-85d2-fea1abde088c",
      "typeVersion": 4
    }
  ],
  "pinData": {},
  "connections": {
    "🧪 A/B Test Setup (Daily 6AM)": {
      "main": [[{ "node": "⚙️ Load Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Load Config": {
      "main": [[{ "node": "🔧 Normalize A_B_TESTING_ENABLED", "type": "main", "index": 0 }]]
    },
    "🔧 Normalize A_B_TESTING_ENABLED": {
      "main": [[{ "node": "IF A_B_TESTING_ENABLED", "type": "main", "index": 0 }]]
    },
    "IF A_B_TESTING_ENABLED": {
      "main": [
        [{ "node": "📄 Read Content Log", "type": "main", "index": 0 }],
        []
      ]
    },
    "📄 Read Content Log": {
      "main": [[{ "node": "Filter yesterday's post", "type": "main", "index": 0 }]]
    },
    "Filter yesterday's post": {
      "main": [[{ "node": "IF Has Post Yesterday", "type": "main", "index": 0 }]]
    },
    "IF Has Post Yesterday": {
      "main": [
        [{ "node": "📥 Fetch Post Content", "type": "main", "index": 0 }],
        []
      ]
    },
    "📥 Fetch Post Content": {
      "main": [[{ "node": "🎨 AI: Generate Test Variants", "type": "main", "index": 0 }]]
    },
    "🎨 AI: Generate Test Variants": {
      "main": [[{ "node": "📋 Parse Test Suite", "type": "main", "index": 0 }]]
    },
    "📋 Parse Test Suite": {
      "main": [[{ "node": "💉 Inject A/B Test Code", "type": "main", "index": 0 }]]
    },
    "💉 Inject A/B Test Code": {
      "main": [[{ "node": "📊 Log Active Test", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7ae4adb7-9910-4b95-8ecb-0afea42b0b95",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "M4LFWRqYcjoqS3D9",
  "tags": []
}
