growth/HowTo-Genie v4.0 — WhatsApp & Telegram Distribution Bot.json
{
  "name": "HowTo-Genie v4.0 — WhatsApp & Telegram Distribution Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "name": "📱 Daily Distribution (10AM All Timezones)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1360,
        64
      ],
      "id": "4bfe1045-9415-4e1f-9e0d-be31effe4ad7",
      "typeVersion": 1,
      "notes": "Sends daily digest to all messaging app subscribers."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG",
          "cachedResultName": "⚙️ Config Loader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1184,
        64
      ],
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "notes": "Runs core/01_Config_Loader.json. Replace workflowId if using a different n8n instance."
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst raw = config.MESSAGING_DIGEST_ENABLED;\nconst enabled = raw === true || String(raw).toLowerCase().trim() === 'true';\nreturn [{ json: { ...config, MESSAGING_DIGEST_ENABLED: enabled } }];"
      },
      "name": "🔧 Normalize Messaging Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        64
      ],
      "id": "b2c3d4e5-f6a7-5b6c-9d0e-1f2a3b4c5d6e"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.MESSAGING_DIGEST_ENABLED }}",
              "value2": true
            }
          ]
        }
      },
      "name": "🔀 Messaging Digest Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        64
      ],
      "id": "c3d4e5f6-a7b8-6c7d-0e1f-2a3b4c5d6e7f"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_LOG_TAB || 'Content Log' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📄 Get Today's Post",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -656,
        64
      ],
      "id": "128deb16-5c26-45b4-b338-e7a2e7558121",
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst rows = $input.all().map(i => i.json);\nconst valid = rows.filter(r => {\n  const d = (r.date || r.Date || '').toString().slice(0, 10);\n  const st = (r.status || r.Status || '').toString().toLowerCase();\n  return d === today && st !== 'publish_failed';\n});\nif (valid.length === 0) {\n  return [{ json: { noPostToday: true } }];\n}\nconst row = valid[valid.length - 1];\nconst wpUrl = (row.wp_url || row['WP URL'] || row.WP_URL || '').toString();\nconst slug = wpUrl.split('/').filter(Boolean).pop() || '';\nreturn [{ json: { noPostToday: false, ...row, slug } }];"
      },
      "name": "📅 Filter today's post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        64
      ],
      "id": "d4e5f6a7-b8c9-7d8e-1f2a-3b4c5d6e7f8a"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.noPostToday }}",
              "value2": true
            }
          ]
        }
      },
      "name": "🔀 No post today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        64
      ],
      "id": "e5f6a7b8-c9d0-8e9f-2a3b-4c5d6e7f8a9b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.MESSAGING_DISTRIBUTION_LOG_TAB || 'Messaging Distribution Log' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('YYYY-MM-DD HH:mm') }}",
            "Status": "Skipped",
            "reason": "no_post_today",
            "Recipients": 0
          }
        },
        "options": {}
      },
      "name": "📊 Log Skipped (no post)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -128,
        -80
      ],
      "id": "f6a7b8c9-d0e1-9f0a-3b4c-5d6e7f8a9b0c"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.MESSAGING_SUBSCRIBERS_TAB || 'Messaging Subscribers' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "👥 Load Messaging Subscribers",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -128,
        64
      ],
      "id": "add06029-fe8c-446b-8794-c1f898137fa2",
      "typeVersion": 4.5,
      "notes": "Columns: Platform, Chat ID or Phone, Status (active/inactive), Language optional."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst active = items.filter(i => {\n  const s = (i.json.Status || i.json.status || '').toString().toLowerCase().trim();\n  return s === 'active';\n});\nif (active.length === 0) {\n  return [{ json: { zeroActiveSubscribers: true, count: 0 } }];\n}\nreturn active.map(a => ({ json: { ...a.json, zeroActiveSubscribers: false } }));"
      },
      "name": "🔍 Filter active subscribers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        64
      ],
      "id": "a7b8c9d0-e1f2-0a1b-4c5d-6e7f8a9b0c1d"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.zeroActiveSubscribers }}",
              "value2": true
            }
          ]
        }
      },
      "name": "🔀 Zero active subscribers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "b8c9d0e1-f2a3-1b2c-5d6e-7f8a9b0c1d2e"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.MESSAGING_DISTRIBUTION_LOG_TAB || 'Messaging Distribution Log' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('YYYY-MM-DD HH:mm') }}",
            "Status": "Skipped",
            "Recipients": 0,
            "reason": "zero_active_subscribers"
          }
        },
        "options": {}
      },
      "name": "📊 Log Skipped (zero subscribers)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        -80
      ],
      "id": "c9d0e1f2-a3b4-2c3d-6e7f-8a9b0c1d2e3f"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7
        }
      },
      "name": "💬 AI: Adapt for Messaging",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -752,
        64
      ],
      "id": "cf444372-ddf4-4f50-83d1-d5510fd6351c",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse messaging content\nconst raw = $input.first().json.response || '';\nconst postData = $('Get Today\\'s Post').item.json;\n\nlet messaging;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  messaging = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  messaging = {\n    whatsapp_1to1: 'Check out our latest post: ' + postData['WP URL'],\n    telegram_channel: '**New Post:** ' + postData['Title'] + '\\n\\nRead: ' + postData['WP URL'],\n    parse_error: e.message\n  };\n}\n\nreturn [{\n  json: {\n    post_url: postData['WP URL'],\n    post_title: postData['Title'],\n    messaging_content: messaging,\n    distribution_date: new Date().toISOString()\n  }\n}];"
      },
      "name": "📋 Parse Messaging Content",
      "type": "n8n-nodes-base.code",
      "position": [
        -560,
        64
      ],
      "id": "8cb8bb31-274d-4753-b246-d5264353055b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Build subscriber batches with personalized content\nconst subscribers = $('Load Messaging Subscribers').all().slice(1); // Skip header\nconst content = $('Parse Messaging Content').item.json;\n\nreturn subscribers.map(sub => {\n  const row = sub.json;\n  const phone = row['Phone'];\n  const platform = row['Platform'] || 'whatsapp';\n  const language = row['Language'] || 'en';\n  const timezone = row['Timezone'] || 'UTC';\n  const preferences = row['Preferences'] || 'daily';\n  const status = row['Status'] || 'active';\n  \n  if (status !== 'active') return null;\n  \n  // Get content in subscriber's language\n  let message;\n  if (platform.toLowerCase() === 'whatsapp') {\n    message = language !== 'en' && content.messaging_content.translations?.[language]?.whatsapp_1to1\n      ? content.messaging_content.translations[language].whatsapp_1to1\n      : content.messaging_content.whatsapp_1to1;\n  } else {\n    message = language !== 'en' && content.messaging_content.translations?.[language]?.telegram_channel\n      ? content.messaging_content.translations[language].telegram_channel\n      : content.messaging_content.telegram_channel;\n  }\n  \n  return {\n    json: {\n      phone: phone,\n      platform: platform.toLowerCase(),\n      language: language,\n      message: message,\n      post_url: content.post_url,\n      post_title: content.post_title,\n      telegram_button: content.messaging_content.telegram_button\n    }\n  };\n}).filter(Boolean);"
      },
      "name": "👤 Personalize for Each Subscriber",
      "type": "n8n-nodes-base.code",
      "position": [
        -352,
        64
      ],
      "id": "79b2a84f-a487-4b69-9bfb-3420cdc1dbe1",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "operation": "equals",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "name": "🔀 Route by Platform",
      "type": "n8n-nodes-base.if",
      "position": [
        -160,
        64
      ],
      "id": "741443ef-0560-40aa-8e91-8afafd7c3e4a",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/YOUR_PHONE_NUMBER_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHATSAPP_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": true,\n    \"body\": \"{{ $json.message }}\"\n  }\n}",
        "options": {}
      },
      "name": "💚 Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        48,
        -48
      ],
      "id": "b5408a4c-f34c-4ede-9a2c-7a2d6c23d259",
      "typeVersion": 4.1,
      "notes": "WhatsApp Business Platform API. Requires approved Business account."
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/botYOUR_BOT_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $json.phone }}\",\n  \"text\": \"{{ $json.message }}\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [[\n      {\n        \"text\": \"{{ $json.telegram_button?.text || 'Read Full Article →' }}\",\n        \"url\": \"{{ $json.post_url }}\"\n      }\n    ]]\n  }\n}",
        "options": {}
      },
      "name": "✈️ Send Telegram Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        48,
        160
      ],
      "id": "fb0a451d-63cf-4381-ae6f-f08edd6788e9",
      "typeVersion": 4.1,
      "notes": "Telegram Bot API. Free, no limits for text messages."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Messaging Distribution Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('YYYY-MM-DD HH:mm') }}",
            "Platform": "={{ $json.platform }}",
            "Recipients": "={{ $('Personalize for Each Subscriber').all().length }}",
            "Post Title": "={{ $('Parse Messaging Content').item.json.post_title }}",
            "Post URL": "={{ $('Parse Messaging Content').item.json.post_url }}",
            "WhatsApp Sent": "={{ $('Personalize for Each Subscriber').all().filter(s => s.json.platform === 'whatsapp').length }}",
            "Telegram Sent": "={{ $('Personalize for Each Subscriber').all().filter(s => s.json.platform === 'telegram').length }}",
            "Languages": "en, es, pt-BR, hi, id, ar, de, fr, ja",
            "Status": "Sent"
          }
        },
        "options": {}
      },
      "name": "📊 Log Distribution",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        256,
        64
      ],
      "id": "20c7c258-f32f-494e-afe5-7bfd4ee18a06",
      "typeVersion": 4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "📲 WhatsApp Webhook (Incoming Messages)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1360,
        352
      ],
      "id": "f4cce131-a480-4995-a45d-ab8da094cd3c",
      "typeVersion": 1,
      "webhookId": "whatsapp-incoming",
      "notes": "Receives incoming WhatsApp messages from users."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "📲 Telegram Webhook (Incoming Messages)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1360,
        512
      ],
      "id": "4abe2ada-90cf-4c5f-9d60-ecfe07685111",
      "typeVersion": 1,
      "webhookId": "telegram-incoming"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming message\nconst body = $input.first().json.body || $input.first().json;\nconst platform = $node.name.includes('WhatsApp') ? 'whatsapp' : 'telegram';\n\nlet message, userId, userName;\n\nif (platform === 'whatsapp') {\n  const entry = body.entry?.[0]?.changes?.[0]?.value;\n  message = entry?.messages?.[0]?.text?.body || '';\n  userId = entry?.messages?.[0]?.from || '';\n  userName = entry?.contacts?.[0]?.profile?.name || 'User';\n} else {\n  message = body.message?.text || '';\n  userId = body.message?.chat?.id || '';\n  userName = body.message?.from?.first_name || 'User';\n}\n\nconst command = message.toLowerCase().trim();\n\nreturn [{\n  json: {\n    platform,\n    user_id: userId,\n    user_name: userName,\n    message: message,\n    command: command,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "📨 Parse Incoming Message",
      "type": "n8n-nodes-base.code",
      "position": [
        -1152,
        432
      ],
      "id": "f23a00d2-0b4b-4d0e-a726-1a69a010f13b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.6
        }
      },
      "name": "🤖 AI: Chatbot Response",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -960,
        432
      ],
      "id": "72faf6ff-a94c-49d4-a0ba-b77d5e76a0b6",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse bot response\nconst raw = $input.first().json.response || '';\nconst userData = $input.first().json;\n\nlet botResponse;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  botResponse = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  botResponse = {\n    response_message: 'Thanks for your message! Use /help to see what I can do. 🧞‍♂️',\n    action: 'none'\n  };\n}\n\nreturn [{\n  json: {\n    ...userData,\n    bot_response: botResponse.response_message,\n    action: botResponse.action,\n    action_data: botResponse.action_data || {},\n    quick_replies: botResponse.quick_replies || []\n  }\n}];"
      },
      "name": "💬 Parse Bot Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -752,
        432
      ],
      "id": "0a283f67-3913-46d1-88a2-a312d1a68ff6",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "name": "🔀 Route Bot Action",
      "type": "n8n-nodes-base.switch",
      "position": [
        -560,
        432
      ],
      "id": "002e6cf2-6c00-414f-a95e-6f02c86df7f2",
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Content Log",
        "options": {}
      },
      "name": "📄 Fetch Latest Post",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -352,
        352
      ],
      "id": "55c5c5a6-e5ac-4fab-a956-3323f0b6e80f",
      "typeVersion": 4
    },
    {
      "parameters": {
        "url": "=https://{{ $('Parse Bot Response').item.json.platform === 'whatsapp' ? 'graph.facebook.com/v18.0/YOUR_PHONE_NUMBER_ID/messages' : 'api.telegram.org/botYOUR_BOT_TOKEN/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Parse Bot Response').item.json.platform === 'whatsapp' ? 'Bearer YOUR_WHATSAPP_TOKEN' : '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse Bot Response').item.json.platform === 'whatsapp' ? JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $('Parse Bot Response').item.json.user_id,\n  type: 'text',\n  text: { body: $('Parse Bot Response').item.json.bot_response + '\\n\\n📖 ' + $json['Title'] + '\\n🔗 ' + $json['WP URL'] }\n}) : JSON.stringify({\n  chat_id: $('Parse Bot Response').item.json.user_id,\n  text: $('Parse Bot Response').item.json.bot_response + '\\n\\n📖 **' + $json['Title'] + '**\\n🔗 ' + $json['WP URL'],\n  parse_mode: 'Markdown'\n}) }}",
        "options": {}
      },
      "name": "📤 Send Bot Reply",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -160,
        432
      ],
      "id": "34520482-75d7-4037-8bed-697a40bb4dd7",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Response sent' }) }}",
        "options": {}
      },
      "name": "✅ Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        48,
        432
      ],
      "id": "bc76a2c2-0232-4d70-a2f4-9271051cdad1",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "📱 Daily Distribution (10AM All Timezones)": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "🔧 Normalize Messaging Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Normalize Messaging Config": {
      "main": [
        [
          {
            "node": "🔀 Messaging Digest Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Messaging Digest Enabled?": {
      "main": [
        [
          {
            "node": "📄 Get Today's Post",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📄 Get Today's Post": {
      "main": [
        [
          {
            "node": "📅 Filter today's post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Filter today's post": {
      "main": [
        [
          {
            "node": "🔀 No post today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 No post today?": {
      "main": [
        [
          {
            "node": "📊 Log Skipped (no post)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "👥 Load Messaging Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👥 Load Messaging Subscribers": {
      "main": [
        [
          {
            "node": "🔍 Filter active subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter active subscribers": {
      "main": [
        [
          {
            "node": "🔀 Zero active subscribers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Zero active subscribers?": {
      "main": [
        [
          {
            "node": "📊 Log Skipped (zero subscribers)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💬 AI: Adapt for Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Parse Messaging Content": {
      "main": [
        [
          {
            "node": "👤 Personalize for Each Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Personalize for Each Subscriber": {
      "main": [
        [
          {
            "node": "🔀 Route by Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route by Platform": {
      "main": [
        [
          {
            "node": "💚 Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✈️ Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💚 Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "📊 Log Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✈️ Send Telegram Message": {
      "main": [
        [
          {
            "node": "📊 Log Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 WhatsApp Webhook (Incoming Messages)": {
      "main": [
        [
          {
            "node": "📨 Parse Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 Telegram Webhook (Incoming Messages)": {
      "main": [
        [
          {
            "node": "📨 Parse Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Parse Bot Response": {
      "main": [
        [
          {
            "node": "🔀 Route Bot Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route Bot Action": {
      "main": [
        [
          {
            "node": "📄 Fetch Latest Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Send Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Fetch Latest Post": {
      "main": [
        [
          {
            "node": "📤 Send Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send Bot Reply": {
      "main": [
        [
          {
            "node": "✅ Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fba726a8-da3f-43c1-8b2c-cbc982f3d71e",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "PuYglwSFQ55Fubov",
  "tags": []
}