growth/HowTo-Genie v4.0 — Competitor Intelligence & Trend Monitor.json
{
  "name": "HowTo-Genie v4.0 — Competitor Intelligence & Trend Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 * * *"
            }
          ]
        }
      },
      "name": "🕵️ Competitor Scan Trigger (Every 3 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -528,
        16
      ],
      "id": "aeafa64f-bac6-4170-a43f-9307114836d4",
      "typeVersion": 1,
      "notes": "Runs every 3 hours to catch trending topics early."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG",
          "cachedResultName": "⚙️ Config Loader"
        },
        "options": {}
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-000000000001",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -448,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst rssRaw = (config.COMPETITOR_RSS_FEEDS || '').toString().trim();\nconst redditRaw = (config.REDDIT_SUBREDDITS || '').toString().trim();\nconst rssUrls = rssRaw ? rssRaw.split(',').map(s => s.trim()).filter(Boolean) : [];\nconst subreddits = redditRaw ? redditRaw.split(',').map(s => s.trim()).filter(Boolean) : [];\nconst normalized = subreddits.map(s => /^r\\//.test(s) ? s : 'r/' + s);\nif (rssUrls.length === 0 && normalized.length === 0) {\n  return [{ json: { no_sources: true } }];\n}\nconst out = [];\nrssUrls.forEach(url => out.push({ json: { type: 'rss', url } }));\nnormalized.forEach(sub => out.push({ json: { type: 'reddit', subreddit: sub } }));\nreturn out;"
      },
      "name": "🎯 Build Source List",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        16
      ],
      "id": "1e538367-ae78-455e-b833-1c3c74a0ae4e",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.type }}", "rightValue": "rss", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rss"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.type }}", "rightValue": "reddit", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reddit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "🔀 Route by Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        -128,
        16
      ],
      "id": "94281d48-2b8a-43c6-a39f-f18456de78e7",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "name": "📡 Fetch Competitor RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        -96
      ],
      "id": "eb7d4867-200f-4ccc-86f9-e9cda4c0b6d7",
      "typeVersion": 4.1,
      "notes": "Fetches latest posts from competitor blogs via RSS."
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let i = 0; i < all.length; i++) {\n  const xml = all[i].json.body || all[i].json;\n  const feedUrl = typeof $('🔀 Route by Type').item(i).json !== 'undefined' ? $('🔀 Route by Type').item(i).json.url : '';\n  const source = feedUrl || 'rss';\n  const itemMatches = String(xml).match(/<item[^>]*>([\\s\\S]*?)<\\/item>/gi) || [];\n  itemMatches.slice(0, 10).forEach((item) => {\n    const title = (item.match(/<title[^>]*><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>/) || item.match(/<title[^>]*>([^<]+)<\\/title>/))?.[1] || '';\n    const link = (item.match(/<link[^>]*>([^<]+)<\\/link>/))?.[1] || '';\n    const pubDate = (item.match(/<pubDate[^>]*>([^<]+)<\\/pubDate>/))?.[1] || '';\n    const description = (item.match(/<description[^>]*><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/description>/) || item.match(/<description[^>]*>([^<]+)<\\/description>/))?.[1] || '';\n    out.push({ json: { source, title: title.trim(), url: link.trim(), published: pubDate, detected_at: new Date().toISOString() } });\n  });\n}\nreturn out.length ? out : [{ json: { source: 'rss', title: '', url: '', published: '', detected_at: new Date().toISOString() } }];"
      },
      "name": "📰 Parse Competitor Posts",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        -96
      ],
      "id": "e91d51bd-dbab-4eb7-960d-f15ca656d541",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/{{ $json.subreddit.replace(/^r\\//, '') }}/hot.json?limit=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "HowToGenie-Bot/1.0"
            }
          ]
        },
        "options": {}
      },
      "name": "🔥 Fetch Reddit Hot Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        112
      ],
      "id": "f589598d-b87a-499e-8ec1-efa43ab5f382",
      "typeVersion": 4.1,
      "notes": "Reddit JSON API. No auth required for public data."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json?.data?.children || [];\n  const subreddit = $('🔀 Route by Type').item(i).json?.subreddit || 'reddit';\n  data.filter(post => post.data && post.data.ups >= 100).forEach(post => {\n    out.push({ json: { source: 'reddit', title: post.data.title, url: 'https://reddit.com' + post.data.permalink, published: new Date(post.data.created_utc * 1000).toISOString(), detected_at: new Date().toISOString() } });\n  });\n}\nreturn out.length ? out : [{ json: { source: 'reddit', title: '', url: '', published: '', detected_at: new Date().toISOString() } }];"
      },
      "name": "💬 Parse Reddit Posts",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        112
      ],
      "id": "1c9cd683-0df0-446d-addd-63831dfce72b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/api/dailytrends?geo=US",
        "options": {}
      },
      "name": "📈 Fetch Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        304
      ],
      "id": "547148ed-7252-4141-82ab-069fc3be9ced",
      "typeVersion": 4.1,
      "notes": "Google Trends Daily API. Shows trending searches in the US."
    },
    {
      "parameters": {
        "jsCode": "// Parse Google Trends (API returns )]}' prefix)\nconst raw = String($input.first().json).replace(/^\\)\\]\\}\\'\\n/, '');\nlet trends;\ntry {\n  trends = JSON.parse(raw);\n} catch(e) {\n  return [];\n}\n\nconst trendingSearches = trends?.default?.trendingSearchesDays?.[0]?.trendingSearches || [];\n\nreturn trendingSearches.slice(0, 20).map(trend => ({\n  json: {\n    source: 'google_trends',\n    title: trend.title?.query || '',\n    traffic: trend.formattedTraffic || '',\n    articles: trend.articles?.length || 0,\n    url: trend.articles?.[0]?.url || '',\n    snippet: trend.articles?.[0]?.snippet || '',\n    detected_at: new Date().toISOString()\n  }\n}));"
      },
      "name": "📊 Parse Google Trends",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        304
      ],
      "id": "39ad1b04-ba55-4e6e-9e24-31e4f9bb65cf",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "🕵️ Competitor Scan Trigger (Every 3 Hours)": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "🎯 Build Source List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Build Source List": {
      "main": [
        [
          {
            "node": "🔀 Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route by Type": {
      "main": [
        [
          {
            "node": "📡 Fetch Competitor RSS Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 Fetch Reddit Hot Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Fetch Competitor RSS Feed": {
      "main": [
        [
          {
            "node": "📰 Parse Competitor Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Fetch Reddit Hot Posts": {
      "main": [
        [
          {
            "node": "💬 Parse Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Fetch Google Trends": {
      "main": [
        [
          {
            "node": "📊 Parse Google Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24c233f4-b151-4896-902b-f65a0f8d0dc5",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "5B8zXc06MaJaj91P",
  "tags": []
}