growth/HowTo-Genie v4.0 — Competitor Intelligence & Trend Monitor.json
{
  "name": "HowTo-Genie v4.0 — Competitor Intelligence & Trend Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 * * *"
            }
          ]
        }
      },
      "name": "🕵️ Competitor Scan Trigger (Every 3 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -528,
        16
      ],
      "id": "aeafa64f-bac6-4170-a43f-9307114836d4",
      "typeVersion": 1,
      "notes": "Runs every 3 hours to catch trending topics early."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG",
          "cachedResultName": "⚙️ Config Loader"
        },
        "options": {}
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-000000000001",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -448,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst rssRaw = (config.COMPETITOR_RSS_FEEDS || '').toString().trim();\nconst redditRaw = (config.REDDIT_SUBREDDITS || '').toString().trim();\nconst rssUrls = rssRaw ? rssRaw.split(',').map(s => s.trim()).filter(Boolean) : [];\nconst subreddits = redditRaw ? redditRaw.split(',').map(s => s.trim()).filter(Boolean) : [];\nconst normalized = subreddits.map(s => /^r\\//.test(s) ? s : 'r/' + s);\nif (rssUrls.length === 0 && normalized.length === 0) {\n  return [{ json: { no_sources: true } }];\n}\nconst out = [];\nrssUrls.forEach(url => out.push({ json: { type: 'rss', url } }));\nnormalized.forEach(sub => out.push({ json: { type: 'reddit', subreddit: sub } }));\nreturn out;"
      },
      "name": "🎯 Build Source List",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        16
      ],
      "id": "1e538367-ae78-455e-b833-1c3c74a0ae4e",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.type }}", "rightValue": "rss", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rss"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.type }}", "rightValue": "reddit", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reddit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "🔀 Route by Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        -128,
        16
      ],
      "id": "94281d48-2b8a-43c6-a39f-f18456de78e7",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "name": "📡 Fetch Competitor RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        -96
      ],
      "id": "eb7d4867-200f-4ccc-86f9-e9cda4c0b6d7",
      "typeVersion": 4.1,
      "notes": "Fetches latest posts from competitor blogs via RSS."
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let i = 0; i < all.length; i++) {\n  const xml = all[i].json.body || all[i].json;\n  const feedUrl = typeof $('🔀 Route by Type').item(i).json !== 'undefined' ? $('🔀 Route by Type').item(i).json.url : '';\n  const source = feedUrl || 'rss';\n  const itemMatches = String(xml).match(/<item[^>]*>([\\s\\S]*?)<\\/item>/gi) || [];\n  itemMatches.slice(0, 10).forEach((item) => {\n    const title = (item.match(/<title[^>]*><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>/) || item.match(/<title[^>]*>([^<]+)<\\/title>/))?.[1] || '';\n    const link = (item.match(/<link[^>]*>([^<]+)<\\/link>/))?.[1] || '';\n    const pubDate = (item.match(/<pubDate[^>]*>([^<]+)<\\/pubDate>/))?.[1] || '';\n    const description = (item.match(/<description[^>]*><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/description>/) || item.match(/<description[^>]*>([^<]+)<\\/description>/))?.[1] || '';\n    out.push({ json: { source, title: title.trim(), url: link.trim(), published: pubDate, detected_at: new Date().toISOString() } });\n  });\n}\nreturn out.length ? out : [{ json: { source: 'rss', title: '', url: '', published: '', detected_at: new Date().toISOString() } }];"
      },
      "name": "📰 Parse Competitor Posts",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        -96
      ],
      "id": "e91d51bd-dbab-4eb7-960d-f15ca656d541",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/{{ $json.subreddit.replace(/^r\\//, '') }}/hot.json?limit=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "HowToGenie-Bot/1.0"
            }
          ]
        },
        "options": {}
      },
      "name": "🔥 Fetch Reddit Hot Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        112
      ],
      "id": "f589598d-b87a-499e-8ec1-efa43ab5f382",
      "typeVersion": 4.1,
      "notes": "Reddit JSON API. No auth required for public data."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json?.data?.children || [];\n  const subreddit = $('🔀 Route by Type').item(i).json?.subreddit || 'reddit';\n  data.filter(post => post.data && post.data.ups >= 100).forEach(post => {\n    out.push({ json: { source: 'reddit', title: post.data.title, url: 'https://reddit.com' + post.data.permalink, published: new Date(post.data.created_utc * 1000).toISOString(), detected_at: new Date().toISOString() } });\n  });\n}\nreturn out.length ? out : [{ json: { source: 'reddit', title: '', url: '', published: '', detected_at: new Date().toISOString() } }];"
      },
      "name": "💬 Parse Reddit Posts",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        112
      ],
      "id": "1c9cd683-0df0-446d-addd-63831dfce72b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/api/dailytrends?geo=US",
        "options": {}
      },
      "name": "📈 Fetch Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        80,
        304
      ],
      "id": "547148ed-7252-4141-82ab-069fc3be9ced",
      "typeVersion": 4.1,
      "notes": "Google Trends Daily API. Shows trending searches in the US."
    },
    {
      "parameters": {
        "jsCode": "// Parse Google Trends (API returns )]}' prefix)\nconst raw = String($input.first().json).replace(/^\\)\\]\\}\\'\\n/, '');\nlet trends;\ntry {\n  trends = JSON.parse(raw);\n} catch(e) {\n  return [];\n}\n\nconst trendingSearches = trends?.default?.trendingSearchesDays?.[0]?.trendingSearches || [];\n\nreturn trendingSearches.slice(0, 20).map(trend => ({\n  json: {\n    source: 'google_trends',\n    title: trend.title?.query || '',\n    traffic: trend.formattedTraffic || '',\n    articles: trend.articles?.length || 0,\n    url: trend.articles?.[0]?.url || '',\n    snippet: trend.articles?.[0]?.snippet || '',\n    detected_at: new Date().toISOString()\n  }\n}));"
      },
      "name": "📊 Parse Google Trends",
      "type": "n8n-nodes-base.code",
      "position": [
        288,
        304
      ],
      "id": "39ad1b04-ba55-4e6e-9e24-31e4f9bb65cf",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ ($json.statusCode >= 200 && $json.statusCode < 300) || (typeof $json.statusCode === 'undefined' && $json && Object.keys($json).length > 0) }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "✅ RSS OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 184, -96 ],
      "id": "if-rss-001"
    },
    {
      "parameters": { "jsCode": "return [{ json: { items: [], error: true } }];" },
      "name": "📭 RSS Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 184, 24 ],
      "id": "empty-rss-001"
    },
    {
      "parameters": { "amount": 2, "unit": "seconds" },
      "name": "⏱ Wait after RSS",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ 392, -96 ],
      "id": "wait-rss-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ ($json.statusCode >= 200 && $json.statusCode < 300) || (typeof $json.statusCode === 'undefined' && $json && Object.keys($json).length > 0) }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "✅ Reddit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 184, 112 ],
      "id": "if-reddit-001"
    },
    {
      "parameters": { "jsCode": "return [{ json: { items: [], error: true } }];" },
      "name": "📭 Reddit Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 184, 232 ],
      "id": "empty-reddit-001"
    },
    {
      "parameters": { "amount": 2, "unit": "seconds" },
      "name": "⏱ Wait after Reddit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ 392, 112 ],
      "id": "wait-reddit-001"
    },
    {
      "parameters": { "jsCode": "return [{ json: {} }];" },
      "name": "▶ Run Google Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -320, 280 ],
      "id": "run-trends-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ ($json.statusCode >= 200 && $json.statusCode < 300) || (typeof $json.statusCode === 'undefined' && $json && Object.keys($json).length > 0) }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "✅ Trends OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 184, 304 ],
      "id": "if-trends-001"
    },
    {
      "parameters": { "jsCode": "return [{ json: { items: [], error: true } }];" },
      "name": "📭 Trends Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 184, 424 ],
      "id": "empty-trends-001"
    },
    {
      "parameters": { "amount": 2, "unit": "seconds" },
      "name": "⏱ Wait after Trends",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ 392, 304 ],
      "id": "wait-trends-001"
    },
    {
      "parameters": { "jsCode": "return [];" },
      "name": "📭 Empty trend list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 80, 16 ],
      "id": "empty-no-sources-001"
    },
    {
      "parameters": { "mode": "combine", "combineBy": "combineAll" },
      "name": "🔀 Merge Trends",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [ 600, 80 ],
      "id": "merge-trends-001"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst list = [];\nfor (const item of all) {\n  if (item.json.error && item.json.items && item.json.items.length === 0) continue;\n  if (item.json.url !== undefined && item.json.url) list.push(item.json);\n  else if (Array.isArray(item.json.items)) list.push(...item.json.items.filter(x => x && x.url));\n}\nconst byUrl = new Map();\nfor (const r of list) {\n  const url = (r.url || '').trim();\n  if (!url) continue;\n  const existing = byUrl.get(url);\n  const date = r.published || r.detected_at || '';\n  if (!existing || (date > (existing.published || existing.detected_at || ''))) byUrl.set(url, r);\n}\nconst sorted = Array.from(byUrl.values()).sort((a, b) => {\n  const da = a.published || a.detected_at || '';\n  const db = b.published || b.detected_at || '';\n  return db.localeCompare(da);\n}).slice(0, 500);\nreturn sorted.map(r => ({ json: { title: r.title || '', url: r.url || '', source: r.source || '', published: r.published || '', detected_at: r.detected_at || '' } }));"
      },
      "name": "📋 Dedupe & Sort Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 816, 80 ],
      "id": "dedupe-sort-001"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "={{ $('⚙️ Load Config').item.json.COMPETITOR_INTEL_TAB }}", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "URL": "={{ $json.url }}",
            "Source": "={{ $json.source }}",
            "Published": "={{ $json.published }}",
            "Detected At": "={{ $json.detected_at }}"
          }
        },
        "options": {}
      },
      "name": "📊 Write Trend List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1032, 80 ],
      "id": "sheets-trend-001"
    }
  ],
  "pinData": {},
  "connections": {
    "🕵️ Competitor Scan Trigger (Every 3 Hours)": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "🎯 Build Source List",
            "type": "main",
            "index": 0
          },
          {
            "node": "▶ Run Google Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Build Source List": {
      "main": [
        [
          {
            "node": "🔀 Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route by Type": {
      "main": [
        [
          { "node": "📡 Fetch Competitor RSS Feed", "type": "main", "index": 0 }
        ],
        [
          { "node": "🔥 Fetch Reddit Hot Posts", "type": "main", "index": 0 }
        ],
        [
          { "node": "📭 Empty trend list", "type": "main", "index": 0 }
        ]
      ]
    },
    "📡 Fetch Competitor RSS Feed": {
      "main": [[ { "node": "✅ RSS OK?", "type": "main", "index": 0 } ]]
    },
    "✅ RSS OK?": {
      "main": [
        [[ { "node": "📰 Parse Competitor Posts", "type": "main", "index": 0 } ]],
        [[ { "node": "📭 RSS Empty", "type": "main", "index": 0 } ]]
      ]
    },
    "📰 Parse Competitor Posts": {
      "main": [[ { "node": "⏱ Wait after RSS", "type": "main", "index": 0 } ]]
    },
    "📭 RSS Empty": {
      "main": [[ { "node": "⏱ Wait after RSS", "type": "main", "index": 0 } ]]
    },
    "⏱ Wait after RSS": {
      "main": [[ { "node": "🔀 Merge Trends", "type": "main", "index": 0 } ]]
    },
    "🔥 Fetch Reddit Hot Posts": {
      "main": [[ { "node": "✅ Reddit OK?", "type": "main", "index": 0 } ]]
    },
    "✅ Reddit OK?": {
      "main": [
        [[ { "node": "💬 Parse Reddit Posts", "type": "main", "index": 0 } ]],
        [[ { "node": "📭 Reddit Empty", "type": "main", "index": 0 } ]]
      ]
    },
    "💬 Parse Reddit Posts": {
      "main": [[ { "node": "⏱ Wait after Reddit", "type": "main", "index": 0 } ]]
    },
    "📭 Reddit Empty": {
      "main": [[ { "node": "⏱ Wait after Reddit", "type": "main", "index": 0 } ]]
    },
    "⏱ Wait after Reddit": {
      "main": [[ { "node": "🔀 Merge Trends", "type": "main", "index": 1 } ]]
    },
    "▶ Run Google Trends": {
      "main": [[ { "node": "📈 Fetch Google Trends", "type": "main", "index": 0 } ]]
    },
    "📈 Fetch Google Trends": {
      "main": [[ { "node": "✅ Trends OK?", "type": "main", "index": 0 } ]]
    },
    "✅ Trends OK?": {
      "main": [
        [[ { "node": "📊 Parse Google Trends", "type": "main", "index": 0 } ]],
        [[ { "node": "📭 Trends Empty", "type": "main", "index": 0 } ]]
      ]
    },
    "📊 Parse Google Trends": {
      "main": [[ { "node": "⏱ Wait after Trends", "type": "main", "index": 0 } ]]
    },
    "📭 Trends Empty": {
      "main": [[ { "node": "⏱ Wait after Trends", "type": "main", "index": 0 } ]]
    },
    "⏱ Wait after Trends": {
      "main": [[ { "node": "🔀 Merge Trends", "type": "main", "index": 2 } ]]
    },
    "📭 Empty trend list": {
      "main": [[ { "node": "🔀 Merge Trends", "type": "main", "index": 3 } ]]
    },
    "🔀 Merge Trends": {
      "main": [[ { "node": "📋 Dedupe & Sort Trends", "type": "main", "index": 0 } ]]
    },
    "📋 Dedupe & Sort Trends": {
      "main": [[ { "node": "📊 Write Trend List", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "24c233f4-b151-4896-902b-f65a0f8d0dc5",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "5B8zXc06MaJaj91P",
  "tags": []
}