growth/HowTo-Genie v4.0 — A_B Testing & Optimization Engine.json
{
  "name": "HowTo-Genie v4.0 — A/B Testing & Optimization Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "🧪 A/B Test Setup (Daily 6AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-144, -144],
      "id": "8b7dcfc3-4289-4d5a-981c-f66b36981efd",
      "typeVersion": 1,
      "notes": "Creates test variants for yesterday's published post."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultName": "⚙️ Config Loader",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ab-load-config-01",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [64, -144]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('⚙️ Load Config').item.json;\nconst raw = cfg.A_B_TESTING_ENABLED;\nconst enabled = raw === true || String(raw).toLowerCase() === 'true';\nreturn [{ json: { A_B_TESTING_ENABLED: enabled, ...cfg } }];"
      },
      "id": "ab-normalize-enable-01",
      "name": "🔧 Normalize A_B_TESTING_ENABLED",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ab-enabled",
              "leftValue": "={{ $json.A_B_TESTING_ENABLED }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab-if-enabled-01",
      "name": "IF A_B_TESTING_ENABLED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, -144]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_LOG_TAB || 'Content Log' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📄 Read Content Log",
      "type": "n8n-nodes-base.googleSheets",
      "position": [688, -144],
      "id": "ab-read-content-log-01",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst yesterday = new Date(new Date(today).getTime() - 86400000).toISOString().slice(0, 10);\nconst rows = $input.all().map(i => i.json);\nconst dateKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date') || 'date';\nconst statusKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'status') || 'status';\nconst urlKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase().includes('url') || k === 'WP URL') || 'wp_url';\nconst valid = rows.filter(r => {\n  const d = (r[dateKey] || r.date || '').toString().slice(0, 10);\n  const s = (r[statusKey] || r.status || '').toLowerCase();\n  return d === yesterday && s !== 'publish_failed';\n});\nif (valid.length === 0) return [{ json: { noPostYesterday: true } }];\nconst latest = valid[valid.length - 1];\nconst wpUrl = (latest[urlKey] || latest.wp_url || '').toString();\nconst slug = wpUrl.split('/').filter(Boolean).pop() || '';\nreturn [{ json: { ...latest, slug, wpUrl, noPostYesterday: false } }];"
      },
      "id": "ab-filter-yesterday-01",
      "name": "Filter yesterday's post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-post",
              "leftValue": "={{ $json.noPostYesterday }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab-if-has-post-01",
      "name": "IF Has Post Yesterday",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1104, -144]
    },
    {
      "parameters": {
        "url": "={{ ($('⚙️ Load Config').item.json.WORDPRESS_URL || '').replace(/\\/$/, '') }}/wp-json/wp/v2/posts?slug={{ $json.slug }}",
        "options": {}
      },
      "name": "📥 Fetch Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1312, -144],
      "id": "f5cf3ade-61f1-4858-b6b4-2ce139cdbc53",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst post = Array.isArray(raw) ? raw[0] : raw;\nif (!post || !post.link) return [{ json: { parse_error: 'No post from WP' } }];\nreturn [{ json: post }];"
      },
      "id": "ab-normalize-wp-01",
      "name": "📌 First post from response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, -144]
    },
    {
      "parameters": {
        "jsCode": "const post = $input.first().json;\nconst title = post.title?.rendered || post.title || '';\nconst content = (post.content?.rendered || post.content || '').replace(/<[^>]+>/g, ' ').slice(0, 800);\nconst schema = JSON.stringify({\n  success: true,\n  data: {\n    original_title: '',\n    original_intro: '',\n    original_cta: '',\n    variant_title: '',\n    variant_intro: '',\n    variant_cta: ''\n  },\n  error: null\n});\nconst prompt = `Return only valid JSON.\\nNo text.\\nNo markdown.\\nNo explanations.\\n\\nSchema (use exactly these keys in data):\\n${schema}\\n\\nGenerate one variant set. Extract original headline (title), first paragraph as intro, and one CTA phrase from the post below. Then write one alternate for each: variant_title (new headline), variant_intro (new first paragraph), variant_cta (new CTA). Return { \\\"success\\\": true, \\\"data\\\": { original_title, original_intro, original_cta, variant_title, variant_intro, variant_cta }, \\\"error\\\": null }.\\n\\nPost title: ${title}\\n\\nContent excerpt: ${content}`;\nreturn [{ json: { prompt } }];"
      },
      "id": "ab-build-prompt-01",
      "name": "📝 Build variant prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1728, -144]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2:latest\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"stream\": false\n}",
        "options": {}
      },
      "name": "🎨 AI: Generate Test Variants",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1936, -144],
      "id": "f992dc84-4944-4377-bdd1-d1c068684518",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || '';\nconst postData = $('📌 First post from response').item.json;\nconst postUrl = postData.link || '';\nlet parsed;\ntry {\n  const str = (typeof raw === 'string' ? raw : '').replace(/\\\\n/g, '\\n');\n  const match = str.match(/```json\\\\n([\\\\s\\\\S]*?)\\\\n```/) || str.match(/(\\\\{[\\\\s\\\\S]*\\\\})/);\n  const jsonStr = match ? (match[1] || match[0] || '{}').trim() : str;\n  parsed = JSON.parse(jsonStr);\n} catch(e) {\n  parsed = { success: false, data: null, error: { code: 'parse_error', message: e.message } };\n}\nconst d = parsed.success && parsed.data ? parsed.data : {};\nconst testId = 'TEST_' + Date.now();\nconst createdAt = new Date().toISOString();\nreturn [{ json: {\n  test_id: testId,\n  post_url: postUrl,\n  original_title: d.original_title || '',\n  original_intro: d.original_intro || '',\n  original_cta: d.original_cta || '',\n  variant_title: d.variant_title || '',\n  variant_intro: d.variant_intro || '',\n  variant_cta: d.variant_cta || '',\n  created_at: createdAt,\n  status: 'ready',\n  winner: ''\n} }];"
      },
      "name": "📋 Parse & Validate",
      "type": "n8n-nodes-base.code",
      "position": [2144, -144],
      "id": "7f92c356-84d5-4553-a464-61587a13bafc",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.AB_TESTS_TAB || 'AB Tests' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "test_id": "={{ $json.test_id }}",
            "post_url": "={{ $json.post_url }}",
            "original_title": "={{ $json.original_title }}",
            "original_intro": "={{ $json.original_intro }}",
            "original_cta": "={{ $json.original_cta }}",
            "variant_title": "={{ $json.variant_title }}",
            "variant_intro": "={{ $json.variant_intro }}",
            "variant_cta": "={{ $json.variant_cta }}",
            "created_at": "={{ $json.created_at }}",
            "status": "={{ $json.status }}",
            "winner": "={{ $json.winner }}"
          }
        },
        "options": {}
      },
      "name": "📊 Log Active Test",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2352, -144],
      "id": "ba235495-22a2-4052-85d2-fea1abde088c",
      "typeVersion": 4
    }
  ],
  "pinData": {},
  "connections": {
    "🧪 A/B Test Setup (Daily 6AM)": {
      "main": [[{ "node": "⚙️ Load Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Load Config": {
      "main": [[{ "node": "🔧 Normalize A_B_TESTING_ENABLED", "type": "main", "index": 0 }]]
    },
    "🔧 Normalize A_B_TESTING_ENABLED": {
      "main": [[{ "node": "IF A_B_TESTING_ENABLED", "type": "main", "index": 0 }]]
    },
    "IF A_B_TESTING_ENABLED": {
      "main": [
        [{ "node": "📄 Read Content Log", "type": "main", "index": 0 }],
        []
      ]
    },
    "📄 Read Content Log": {
      "main": [[{ "node": "Filter yesterday's post", "type": "main", "index": 0 }]]
    },
    "Filter yesterday's post": {
      "main": [[{ "node": "IF Has Post Yesterday", "type": "main", "index": 0 }]]
    },
    "IF Has Post Yesterday": {
      "main": [
        [{ "node": "📥 Fetch Post Content", "type": "main", "index": 0 }],
        []
      ]
    },
    "📥 Fetch Post Content": {
      "main": [[{ "node": "📌 First post from response", "type": "main", "index": 0 }]]
    },
    "📌 First post from response": {
      "main": [[{ "node": "📝 Build variant prompt", "type": "main", "index": 0 }]]
    },
    "📝 Build variant prompt": {
      "main": [[{ "node": "🎨 AI: Generate Test Variants", "type": "main", "index": 0 }]]
    },
    "🎨 AI: Generate Test Variants": {
      "main": [[{ "node": "📋 Parse & Validate", "type": "main", "index": 0 }]]
    },
    "📋 Parse & Validate": {
      "main": [[{ "node": "📊 Log Active Test", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7ae4adb7-9910-4b95-8ecb-0afea42b0b95",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "M4LFWRqYcjoqS3D9",
  "tags": []
}
