growth/HowTo-Genie v4.0 — Voice & Audio Content Pipeline.json
{
  "name": "HowTo-Genie v4.0 — Voice & Audio Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * *"
            }
          ]
        }
      },
      "name": "🎙️ Audio Pipeline Trigger (4PM Daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1728,
        -48
      ],
      "id": "8b5da843-740e-499e-902e-f596dfda87fd",
      "typeVersion": 1,
      "notes": "Runs after translation pipeline completes. Creates audio for all 9 language versions."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CVc7gJbrt1baZLxG",
          "mode": "list",
          "cachedResultName": "⚙️ Config Loader",
          "cachedResultUrl": "/workflow/CVc7gJbrt1baZLxG"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a1b2c3d4-voice-01-loadconfig",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1632,
        -48
      ],
      "notes": "Runs core/01_Config_Loader.json. Downstream nodes use $('⚙️ Load Config').item.json."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.CONTENT_LOG_TAB || 'Content Log' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📄 Get Today's Content",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1440,
        -48
      ],
      "id": "e901ec58-805e-48b3-9755-e06cb37d5a8d",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst rows = $input.all().map(i => i.json);\nconst dateKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date') || 'date';\nconst valid = rows.filter(r => (r[dateKey] || r.date || '').toString().slice(0, 10) === today);\nif (valid.length === 0) return [{ json: { noPostToday: true } }];\nconst row = valid[valid.length - 1];\nreturn [{ json: { ...row, noPostToday: false } }];"
      },
      "name": "Filter today's post",
      "type": "n8n-nodes-base.code",
      "position": [
        -1248,
        -48
      ],
      "id": "a1b2c3d4-voice-02-filterpost",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-no-post",
              "leftValue": "={{ $json.noPostToday }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "No post today?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1056,
        -48
      ],
      "id": "a1b2c3d4-voice-03-nopost"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.MULTILINGUAL_CONTENT_TAB || 'Multilingual Content' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "🌍 Get All Language Versions",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -864,
        -48
      ],
      "id": "ab4fca26-e3a3-4f04-91af-0d092daaa547",
      "typeVersion": 4,
      "notes": "Fetches today's post in all 9 languages (EN + 8 translations). Uses MULTILINGUAL_CONTENT_TAB from config."
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst today = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst rows = $input.all().map(i => i.json);\nconst dateKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date') || 'Date';\nconst filtered = rows.filter(r => (r[dateKey] || r.Date || '').toString().slice(0, 10) === today);\nif (filtered.length === 0) return [{ json: { noMultilingualToday: true } }];\nreturn filtered.map(r => ({ json: r }));"
      },
      "name": "Filter Multilingual by today",
      "type": "n8n-nodes-base.code",
      "position": [
        -672,
        -48
      ],
      "id": "a1b2c3d4-voice-04-filter-multi",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-no-multi",
              "leftValue": "={{ $json.noMultilingualToday }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "No Multilingual rows today?",
      "type": "n8n-nodes-base.if",
      "position": [
        -480,
        -48
      ],
      "id": "a1b2c3d4-voice-05-nomulti"
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst provider = (config.VOICE_PROVIDER || 'elevenlabs').toLowerCase();\nconst allPosts = $input.all();\n\nconst elevenlabsMap = { 'en': { voice_id: 'EXAVITQu4vr4xnSDxMaL', name: 'Sarah' }, 'es': { voice_id: 'XrExE9yKIg1WjnnlVkGX', name: 'Matilda' }, 'pt-BR': { voice_id: 'GBv7mTt0atIp3Br8iCZE', name: 'Ricardo' }, 'de': { voice_id: 'iP95p4xoKVk53GoZ742B', name: 'Klaus' }, 'fr': { voice_id: 'zrHiDhphv9ZnVXBqCLjz', name: 'Charlotte' }, 'hi': { voice_id: 'hi-IN-Neural2-A', name: 'Aditi' }, 'id': { voice_id: 'id-ID-Standard-B', name: 'Siti' }, 'ar': { voice_id: 'ar-XA-Standard-A', name: 'Layla' }, 'ja': { voice_id: 'ja-JP-Neural2-B', name: 'Yuki' } };\nconst googleMap = { 'en': { voice_id: 'en-US-Neural2-D', name: 'en-US' }, 'es': { voice_id: 'es-ES-Neural2-B', name: 'es-ES' }, 'pt-BR': { voice_id: 'pt-BR-Neural2-B', name: 'pt-BR' }, 'de': { voice_id: 'de-DE-Neural2-B', name: 'de-DE' }, 'fr': { voice_id: 'fr-FR-Neural2-A', name: 'fr-FR' }, 'hi': { voice_id: 'hi-IN-Neural2-A', name: 'Aditi' }, 'id': { voice_id: 'id-ID-Standard-B', name: 'Siti' }, 'ar': { voice_id: 'ar-XA-Standard-A', name: 'Layla' }, 'ja': { voice_id: 'ja-JP-Neural2-B', name: 'Yuki' } };\n\nfunction langCode(post) {\n  const lang = post.json['Language']?.toLowerCase() || 'en';\n  if (lang.includes('spanish')) return 'es';\n  if (lang.includes('portuguese')) return 'pt-BR';\n  if (lang.includes('german')) return 'de';\n  if (lang.includes('french')) return 'fr';\n  if (lang.includes('hindi')) return 'hi';\n  if (lang.includes('indonesian')) return 'id';\n  if (lang.includes('arabic')) return 'ar';\n  if (lang.includes('japanese')) return 'ja';\n  return 'en';\n}\n\nreturn allPosts.map(post => {\n  const lc = langCode(post);\n  let voice_config;\n  if (provider === 'local') {\n    voice_config = { provider: 'local', voice_id: lc, name: 'local', endpoint: (config.TTS_SERVER_URL || 'http://localhost:5000').replace(/\\/$/, '') };\n  } else if (provider === 'google') {\n    const v = googleMap[lc] || googleMap['en'];\n    voice_config = { provider: 'google', voice_id: v.voice_id, name: v.name };\n  } else {\n    const v = elevenlabsMap[lc] || elevenlabsMap['en'];\n    voice_config = { provider: 'elevenlabs', voice_id: v.voice_id, name: v.name };\n  }\n  return {\n    json: {\n      title: post.json['Translated Title'] || post.json['Title'],\n      url: post.json['URL'],\n      language: lc,\n      language_name: post.json['Language'] || 'English',\n      voice_config,\n      content_preview: (post.json['Translated Title'] || '').substring(0, 200)\n    }\n  };\n});"
      },
      "name": "🎛️ Configure Voice Settings",
      "type": "n8n-nodes-base.code",
      "position": [
        -1136,
        -48
      ],
      "id": "fb74b274-207f-4a3d-852e-92257f4aeff6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "name": "📥 Fetch Article Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -928,
        -48
      ],
      "id": "45d57348-793e-4eab-a47d-b7544043cff1",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.7
        }
      },
      "name": "🎙️ AI: Adapt to Audio Script",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -736,
        -48
      ],
      "id": "5692f6d1-fe82-464b-aeb8-2c70e85994c3",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || '';\nconst voiceConfig = $('🎛️ Configure Voice Settings').item.json.voice_config;\nconst langData = $('🎛️ Configure Voice Settings').item.json;\n\nlet audioScript;\ntry {\n  const match = raw.match(/```json\\n([\\s\\S]*?)\\n```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  audioScript = JSON.parse(match ? (match[1] || match[0]) : raw);\n} catch(e) {\n  audioScript = {\n    podcast_title: langData.title,\n    podcast_script: 'Welcome to HowTo-Genie Podcast. ' + langData.content_preview,\n    estimated_duration: '10 minutes',\n    word_count: 1500,\n    parse_error: e.message\n  };\n}\n\n// Clean script for TTS (remove stage directions)\nconst ttsScript = audioScript.podcast_script\n  .replace(/\\[PAUSE\\]/g, '... ')\n  .replace(/\\[EMPHASIS[^\\]]*\\]/g, '')\n  .replace(/\\[.*?\\]/g, '')\n  .trim();\n\nreturn [{\n  json: {\n    ...langData,\n    podcast_title: audioScript.podcast_title,\n    podcast_script: audioScript.podcast_script,\n    tts_script: ttsScript,\n    estimated_duration: audioScript.estimated_duration,\n    word_count: audioScript.word_count,\n    chapters: audioScript.chapters || [],\n    show_notes: audioScript.show_notes || '',\n    keywords: audioScript.keywords || [],\n    affiliate_mentions: audioScript.affiliate_mentions || [],\n    voice_provider: voiceConfig.provider,\n    voice_id: voiceConfig.voice_id,\n    voice_name: voiceConfig.name\n  }\n}];"
      },
      "name": "📝 Parse Audio Script",
      "type": "n8n-nodes-base.code",
      "position": [
        -528,
        -48
      ],
      "id": "8ee7e02e-b0ae-4f72-8226-304fdc9496cd",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-local",
              "leftValue": "={{ $json.voice_provider }}",
              "rightValue": "local",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "🔀 Route: local?",
      "type": "n8n-nodes-base.if",
      "position": [
        -336,
        -48
      ],
      "id": "be51a575-b716-4612-a7f8-d4b832746cf7",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-eleven",
              "leftValue": "={{ $json.voice_provider }}",
              "rightValue": "elevenlabs",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "🔀 Route: elevenlabs?",
      "type": "n8n-nodes-base.if",
      "position": [
        -144,
        -48
      ],
      "id": "a1b2c3d4-voice-route-eleven",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ ($('⚙️ Load Config').item.json.TTS_SERVER_URL || 'http://localhost:5000').replace(/\\/$/, '') }}",
        "sendBody": true,
        "contentType": "raw",
        "rawContent": "={{ $json.tts_script ? $json.tts_script.substring(0, 5000) : '' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "🌐 Local TTS: Generate Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -128,
        -240
      ],
      "id": "a1b2c3d4-voice-local-tts",
      "typeVersion": 4.1,
      "notes": "POST to local TTS server (Piper etc). URL from TTS_SERVER_URL. Response = binary audio."
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/={{ $json.voice_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.tts_script.substring(0, 5000) }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75,\n    \"style\": 0.5,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "🎤 ElevenLabs: Generate Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        -144
      ],
      "id": "8d44f587-479d-45c1-b4a9-7ef03441624c",
      "typeVersion": 4.1,
      "credentials": {
        "httpHeaderAuth": {
          "name": "ElevenLabs API"
        }
      },
      "notes": "Uses n8n credential 'ElevenLabs API' (Header Auth, name=xi-api-key). 29 languages."
    },
    {
      "parameters": {
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": { \"text\": \"{{ $json.tts_script.substring(0, 5000) }}\" },\n  \"voice\": {\n    \"languageCode\": \"{{ $json.language }}\",\n    \"name\": \"{{ $json.voice_id }}\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"MP3\",\n    \"pitch\": 0,\n    \"speakingRate\": 1.0\n  }\n}",
        "options": {}
      },
      "name": "🗣️ Google TTS: Generate Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        64
      ],
      "id": "e9da7a05-4cb5-441a-ab86-1d1a861264b5",
      "typeVersion": 4.1,
      "credentials": {
        "googleApi": {
          "name": "Google Cloud TTS"
        }
      },
      "notes": "Uses n8n credential 'Google Cloud TTS' (Google API key). Free tier: 1M chars/month."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst scriptData = $('📝 Parse Audio Script').item.json;\nconst slug = (scriptData.url || '').split('/').filter(Boolean).pop() || (scriptData.title || 'post').replace(/[^a-z0-9-]/gi, '_').slice(0, 50);\nconst lang = scriptData.language || 'en';\nconst ts = Date.now();\nconst fileName = `${slug}_${lang}_${ts}.mp3`;\n\nlet audioFile;\nlet audioFormat = 'mp3';\nif (item.binary && item.binary.data) {\n  audioFile = item.binary.data;\n} else if (item.json && item.json.audioContent) {\n  audioFile = Buffer.from(item.json.audioContent, 'base64');\n} else if (item.json && item.json.data) {\n  audioFile = item.json.data;\n} else {\n  audioFile = null;\n}\n\nreturn [{\n  json: {\n    ...scriptData,\n    audio_file_name: fileName,\n    audio_format: audioFormat,\n    audio_size_kb: audioFile ? Math.round(audioFile.length / 1024) : 0,\n    audio_ready: !!audioFile,\n    generated_at: new Date().toISOString(),\n    voice_provider: scriptData.voice_provider || 'local'\n  },\n  binary: audioFile ? { data: audioFile, fileName, mimeType: 'audio/mpeg' } : undefined\n}];"
      },
      "name": "🔊 Process Audio File",
      "type": "n8n-nodes-base.code",
      "position": [
        80,
        -48
      ],
      "id": "9a53d0ca-0020-41d5-bd02-9ff6d225ad64",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst basePath = (config.AUDIO_OUTPUT_PATH || '/tmp/htg-audio').replace(/\\/$/, '');\nconst item = $input.first();\nconst j = item.json;\nconst fileName = j.audio_file_name || `audio_${j.language}_${Date.now()}.mp3`;\nconst fullPath = basePath + '/' + fileName;\nlet buf = null;\nif (item.binary && item.binary.data) buf = item.binary.data;\nif (buf && typeof require !== 'undefined') {\n  try { const fs = require('fs'); fs.mkdirSync(basePath, { recursive: true }); fs.writeFileSync(fullPath, buf); } catch (e) { }\n}\nreturn [{ json: { ...j, file_path: fullPath, audio_file_name: fileName } }];"
      },
      "name": "📁 Write audio to path",
      "type": "n8n-nodes-base.code",
      "position": [
        272,
        -48
      ],
      "id": "a1b2c3d4-voice-write-path",
      "typeVersion": 2,
      "notes": "Writes binary to AUDIO_OUTPUT_PATH. Requires writable path; uses Node fs in self-hosted n8n."
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.AUDIO_LOG_TAB || 'Audio Log' }}",
          "mode": "name"
        },
        "options": {}
      },
      "name": "📋 Read Audio Log",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1600,
        -200
      ],
      "id": "a1b2c3d4-voice-read-audiolog",
      "typeVersion": 4,
      "notes": "Read once per run for idempotency. Uses GOOGLE_SHEET_ID and AUDIO_LOG_TAB."
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst keys = new Set();\nconst dateKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'date');\nconst langKey = Object.keys(rows[0] || {}).find(k => k.toLowerCase() === 'language');\nconst urlKey = Object.keys(rows[0] || {}).find(k => (k || '').toLowerCase().includes('url') || (k || '').toLowerCase() === 'blog url');\nrows.forEach(r => {\n  const d = (r[dateKey] || r.Date || '').toString().slice(0, 10);\n  const lang = (r[langKey] || r.Language || '').toString();\n  const url = (r[urlKey] || r['Blog URL'] || r.url || '').toString();\n  const slug = url.split('/').filter(Boolean).pop() || '';\n  keys.add((slug || url) + '_' + d + '_' + lang);\n});\nreturn [{ json: { existingKeys: Array.from(keys) } }];"
      },
      "name": "🔑 Existing keys",
      "type": "n8n-nodes-base.code",
      "position": [
        -1408,
        -200
      ],
      "id": "a1b2c3d4-voice-existing-keys",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst tz = config.CONTENT_DAY_TIMEZONE || config.TIMEZONE || 'UTC';\nconst contentDate = new Date().toLocaleDateString('en-CA', { timeZone: tz });\nconst j = $input.first().json;\nconst slug = (j.url || '').split('/').filter(Boolean).pop() || '';\nconst idempotencyKey = (slug || j.url || '') + '_' + contentDate + '_' + (j.language || '');\nreturn [{ json: { ...j, idempotency_key: idempotencyKey, log_date: contentDate } }];"
      },
      "name": "📝 Prepare log row",
      "type": "n8n-nodes-base.code",
      "position": [
        464,
        -48
      ],
      "id": "a1b2c3d4-voice-prepare-log",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "name": "🔀 Merge for idempotency",
      "type": "n8n-nodes-base.merge",
      "position": [
        656,
        -48
      ],
      "id": "a1b2c3d4-voice-merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const it of items) {\n  const j = it.json;\n  const existing = j.existingKeys || [];\n  if (!j.idempotency_key || existing.includes(j.idempotency_key)) continue;\n  const { existingKeys, ...logRow } = j;\n  out.push({ json: logRow });\n}\nreturn out;"
      },
      "name": "🔒 Idempotency filter",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        -48
      ],
      "id": "a1b2c3d4-voice-idempotency",
      "typeVersion": 2,
      "notes": "Skips append if row with same post+date+language already in AUDIO_LOG_TAB."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.AUDIO_LOG_TAB || 'Audio Log' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.log_date || $json.generated_at ? new Date($json.generated_at).toISOString().slice(0,10) : '' }}",
            "Language": "={{ $json.language_name || $json.language }}",
            "Podcast Title": "={{ $json.podcast_title }}",
            "Duration": "={{ $json.estimated_duration }}",
            "File Path": "={{ $json.file_path }}",
            "Blog URL": "={{ $json.url }}",
            "Voice Provider": "={{ $json.voice_provider }}",
            "Status": "OK"
          }
        },
        "options": {}
      },
      "name": "📊 Log Audio Content",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1040,
        -48
      ],
      "id": "d8e56b8e-173f-4c3c-b11d-b2df1d6710b0",
      "typeVersion": 4
    }
  ],
  "pinData": {},
  "connections": {
    "🎙️ Audio Pipeline Trigger (4PM Daily)": {
      "main": [
        [
          {
            "node": "⚙️ Load Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Load Config": {
      "main": [
        [
          {
            "node": "📄 Get Today's Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Read Audio Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Audio Log": {
      "main": [
        [
          {
            "node": "🔑 Existing keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Existing keys": {
      "main": [
        [
          {
            "node": "🔀 Merge for idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Get Today's Content": {
      "main": [
        [
          {
            "node": "Filter today's post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter today's post": {
      "main": [
        [
          {
            "node": "No post today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No post today?": {
      "main": [
        [],
        [
          {
            "node": "🌍 Get All Language Versions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌍 Get All Language Versions": {
      "main": [
        [
          {
            "node": "Filter Multilingual by today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Multilingual by today": {
      "main": [
        [
          {
            "node": "No Multilingual rows today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Multilingual rows today?": {
      "main": [
        [],
        [
          {
            "node": "🎛️ Configure Voice Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎛️ Configure Voice Settings": {
      "main": [
        [
          {
            "node": "📥 Fetch Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Parse Audio Script": {
      "main": [
        [
          {
            "node": "🔀 Route: local?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route: local?": {
      "main": [
        [
          {
            "node": "🌐 Local TTS: Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 Route: elevenlabs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route: elevenlabs?": {
      "main": [
        [
          {
            "node": "🎤 ElevenLabs: Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🗣️ Google TTS: Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Local TTS: Generate Audio": {
      "main": [
        [
          {
            "node": "🔊 Process Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎤 ElevenLabs: Generate Audio": {
      "main": [
        [
          {
            "node": "🔊 Process Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗣️ Google TTS: Generate Audio": {
      "main": [
        [
          {
            "node": "🔊 Process Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔊 Process Audio File": {
      "main": [
        [
          {
            "node": "📁 Write audio to path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📁 Write audio to path": {
      "main": [
        [
          {
            "node": "📝 Prepare log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Prepare log row": {
      "main": [
        [
          {
            "node": "🔀 Merge for idempotency",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge for idempotency": {
      "main": [
        [
          {
            "node": "🔒 Idempotency filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Idempotency filter": {
      "main": [
        [
          {
            "node": "📊 Log Audio Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "89da4f59-b914-41ad-af9c-a7c667800ca9",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "sRHFARejZtM4iQAp",
  "tags": []
}