growth/HowTo-Genie v4.0 — Viral Content Amplifier Engine.json
{
  "name": "HowTo-Genie v4.0 — Viral Content Amplifier Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "name": "📊 Performance Monitor (Every 6 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-1200, 48],
      "id": "4c617737-5322-4093-96c5-f672a4aa5058",
      "typeVersion": 1,
      "notes": "Checks GA4 every 6 hours for viral signals when VIRAL_AMPLIFIER_ENABLED is true."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_CONFIG_LOADER_ID",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "viral-03-load-config",
      "name": "⚙️ Load Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [-1000, 48],
      "notes": "Runs core/01_Config_Loader.json for GOOGLE_SHEET_ID, GA4_PROPERTY_ID, GOOGLE_ANALYTICS_TOKEN, VIRAL_AMPLIFIER_ENABLED, VIRAL_VIEWS_7D_MIN, VIRAL_ENGAGEMENT_MIN, VIRAL_AMPLIFIER_TAB, WORDPRESS_URL."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('⚙️ Load Config').item.json;\nconst raw = cfg.VIRAL_AMPLIFIER_ENABLED;\nconst enabled = raw === true || String(raw).toLowerCase() === 'true';\nreturn [{ json: { VIRAL_AMPLIFIER_ENABLED: enabled, config: cfg } }];"
      },
      "id": "viral-03-normalize-enabled",
      "name": "🔧 Normalize VIRAL_AMPLIFIER_ENABLED",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 48]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-viral-enabled",
              "leftValue": "={{ $json.VIRAL_AMPLIFIER_ENABLED }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "viral-03-if-enabled",
      "name": "IF VIRAL_AMPLIFIER_ENABLED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-600, 48]
    },
    {
      "parameters": {
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $('⚙️ Load Config').item.json.GA4_PROPERTY_ID }}:runReport",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('⚙️ Load Config').item.json.GOOGLE_ANALYTICS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dateRanges\": [{ \"startDate\": \"7daysAgo\", \"endDate\": \"today\" }],\n  \"dimensions\": [{ \"name\": \"pagePath\" }, { \"name\": \"pageTitle\" }],\n  \"metrics\": [\n    { \"name\": \"screenPageViews\" },\n    { \"name\": \"averageSessionDuration\" },\n    { \"name\": \"engagementRate\" },\n    { \"name\": \"bounceRate\" }\n  ],\n  \"orderBys\": [{ \"metric\": { \"metricName\": \"screenPageViews\" }, \"desc\": true }],\n  \"limit\": 50\n}",
        "options": {}
      },
      "name": "📈 Fetch GA4 Performance Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-400, 48],
      "id": "3f81fa1d-bd18-49bc-bdc9-80ad6b4e176d",
      "typeVersion": 4.1,
      "notes": "GA4 Data API. Property and token from config."
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Load Config').item.json;\nconst viewsMin = Number(config.VIRAL_VIEWS_7D_MIN) || 5000;\nconst engagementMin = Number(config.VIRAL_ENGAGEMENT_MIN) || 0.08;\nconst baseUrl = (config.WORDPRESS_URL || '').replace(/\\/$/, '') || 'https://howtogenie.com';\n\nconst ga4Response = $input.first().json;\nconst rows = ga4Response.rows || [];\nconst out = [];\n\nfor (const row of rows) {\n  const pagePath = (row.dimensionValues && row.dimensionValues[0] && row.dimensionValues[0].value) ? row.dimensionValues[0].value : '';\n  const pageTitle = (row.dimensionValues && row.dimensionValues[1] && row.dimensionValues[1].value) ? row.dimensionValues[1].value : '';\n  const views_7d = Number((row.metricValues && row.metricValues[0] && row.metricValues[0].value) ? row.metricValues[0].value : 0);\n  const avg_session_duration = Number((row.metricValues && row.metricValues[1] && row.metricValues[1].value) ? row.metricValues[1].value : 0);\n  const engagement_rate = Number((row.metricValues && row.metricValues[2] && row.metricValues[2].value) ? row.metricValues[2].value : 0);\n  const bounce_rate = Number((row.metricValues && row.metricValues[3] && row.metricValues[3].value) ? row.metricValues[3].value : 0);\n\n  if (pagePath.length <= 1) continue;\n  if (views_7d < viewsMin || engagement_rate < engagementMin) continue;\n\n  const post_url = baseUrl + (pagePath.startsWith('/') ? pagePath : '/' + pagePath);\n  const detected_at = new Date().toISOString();\n  const viral_score = Math.round((views_7d / 1000) * 0.5 + engagement_rate * 100 * 0.5);\n\n  out.push({\n    date: new Date().toISOString().slice(0, 10),\n    post_url,\n    post_title: pageTitle,\n    viral_score,\n    views_7d,\n    engagement_rate,\n    bounce_rate,\n    avg_session_duration,\n    amplify: true,\n    promotion_status: 'pending',\n    detected_at,\n    row_id: detected_at + post_url\n  });\n}\n\nreturn out.map(o => ({ json: o }));"
      },
      "name": "🔥 Detect Viral Content",
      "type": "n8n-nodes-base.code",
      "position": [-200, 48],
      "id": "6ef68a2b-8c35-4abf-91e8-3808c701a723",
      "typeVersion": 2,
      "notes": "Config-driven thresholds; GA4-only; outputs one item per qualifying row."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.GOOGLE_SHEET_ID || $('⚙️ Load Config').item.json.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('⚙️ Load Config').item.json.VIRAL_AMPLIFIER_TAB || 'Viral Amplifier' }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "post_url": "={{ $json.post_url }}",
            "post_title": "={{ $json.post_title }}",
            "viral_score": "={{ $json.viral_score }}",
            "views_7d": "={{ $json.views_7d }}",
            "engagement_rate": "={{ $json.engagement_rate }}",
            "bounce_rate": "={{ $json.bounce_rate }}",
            "avg_session_duration": "={{ $json.avg_session_duration }}",
            "amplify": "={{ $json.amplify }}",
            "promotion_status": "={{ $json.promotion_status }}",
            "detected_at": "={{ $json.detected_at }}",
            "row_id": "={{ $json.row_id }}"
          }
        },
        "options": {}
      },
      "name": "📝 Append to Viral Amplifier Tab",
      "type": "n8n-nodes-base.googleSheets",
      "position": [0, 48],
      "id": "viral-03-append-sheet",
      "typeVersion": 4,
      "notes": "Appends qualifying rows to Viral Amplifier tab; sheet and tab from config."
    }
  ],
  "pinData": {},
  "connections": {
    "📊 Performance Monitor (Every 6 Hours)": {
      "main": [[{ "node": "⚙️ Load Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Load Config": {
      "main": [[{ "node": "🔧 Normalize VIRAL_AMPLIFIER_ENABLED", "type": "main", "index": 0 }]]
    },
    "🔧 Normalize VIRAL_AMPLIFIER_ENABLED": {
      "main": [[{ "node": "IF VIRAL_AMPLIFIER_ENABLED", "type": "main", "index": 0 }]]
    },
    "IF VIRAL_AMPLIFIER_ENABLED": {
      "main": [
        [{ "node": "📈 Fetch GA4 Performance Data", "type": "main", "index": 0 }],
        []
      ]
    },
    "📈 Fetch GA4 Performance Data": {
      "main": [[{ "node": "🔥 Detect Viral Content", "type": "main", "index": 0 }]]
    },
    "🔥 Detect Viral Content": {
      "main": [[{ "node": "📝 Append to Viral Amplifier Tab", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "03-02-viral-config-ga4-only",
  "meta": {
    "instanceId": "a79475f7095de8c37ff66ff0555048b9d09a434d2f5d3f0c0ad30a21a7b8cbc6"
  },
  "id": "2JWJIOnL6mhwjP7G",
  "tags": []
}
